@import "src/styles/all.scss";

.sam-footer {
  
  p {
    font-size: 16px;
    line-height: 1.4;
    padding: 1em 0em;
  }
  
  .sam-footer-logo {
    a {
      display: inline-block;
      min-height: 15rem;
      min-width: 15rem;
      background-image: url($assets-path + '/img/gsa-logo.png');
      background-size: 13rem auto;
      background-repeat: no-repeat;
    }

    span {
      @include sr-only();
    }
  }
  h2.sam-ui.header {
    font-size: 1em;
  }
  .build-info{
    color: #d6d7d9;
    margin: 0;
    font-size: small;
    line-height: 0;
  }
}