<footer class="usa-footer usa-footer-big" role="contentinfo">
  <div class="usa-footer-primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8">
          <nav class="usa-footer-nav">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer-primary-content usa-footer-collapsible">
                  <h4 class="usa-footer-primary-link">About Us</h4>
                  <ul class="usa-unstyled-list">
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Our Program</a></li>
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Join Our Community</a></li>
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Policies</a></li>
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Release Notes</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer-primary-content usa-footer-collapsible">
                  <h4 class="usa-footer-primary-link">Partners</h4>
                  <ul class="usa-unstyled-list">
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Acquisition.gov</a></li>
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">USASpending.gov</a></li>
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Grants.gov</a></li>
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">More Partners</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer-primary-content usa-footer-collapsible">
                  <h4 class="usa-footer-primary-link">Customer Service</h4>
                  <ul class="usa-unstyled-list">
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">SAM.gov Help Desk</a></li>
                    <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Freedom of Information Act</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
        <div class="tablet:grid-col-4">
          <div class="usa-sign_up-block">
            <h3 class="usa-sign_up-header">Sign up</h3>
            <form class="usa-form">
              <label class="usa-label" for="email" id="">Your email address</label>
              <input class="usa-input" id="email" name="email" type="email">
              <button class="usa-button" type="submit">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer-secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer-logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer-logo-img" src="./assets/img/gsa-logo.png" alt="">
          </div>
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer-logo-heading">Name of Agency</h3>
          </div>
        </div>
        <div class="usa-footer-contact-links mobile-lg:grid-col-6">
          <h3 class="usa-footer-contact-heading">Contact Us</h3>
          <address class="usa-footer-address">
            <div class="usa-footer-contact_info grid-row grid-gap">
              <div class="grid-col-auto">
                <a href="mailto:info@agency.gov">info@sam.gov</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>