<main id="main-content">
	<div class="grid-container">
		<div class="grid-row sds-hero sds-hero--image">
			<div class="desktop:grid-offset-1 desktop:grid-col-10">
				<!-- HERO SECTION -->
				<div class="grid-row padding-x-3 desktop:padding-0">
					<div class="desktop:grid-col-7 margin-bottom-4 desktop:margin-0">
						<h1>Assistance Listings for Federal Users</h1>
						<p class="maxw-full text-base-dark">This site is the official source of public descriptions of federal assistance listings. Federal users with an assistance user or assistance administrator role can use the features on this page to manage assistance listings.
						</p>
						<h2>Search Assistance Listings</h2>
						<form class="usa-form usa-search usa-search--big desktop:padding-right-2" role="search">
							<label class="usa-sr-only" for="search-field">Search</label>
							<input class="usa-input" id="search-field" type="search" name="search" placeholder="Enter CFDA number or keyword">
							<button class="usa-button" type="submit">
								<span class="usa-sr-only">Search</span>
							</button>
						</form>
						<form>
							<fieldset class="usa-fieldset">
										<div class="usa-checkbox">
												<input class="usa-checkbox__input" id="truth" type="checkbox" name="historical-figures-1" value="truth" checked="checked">
												<label class="usa-checkbox__label" for="truth">Show active only</label>
										</div>
								</fieldset>
						</form>
					</div>
					<div class="desktop:grid-col-5">
						<div class="sds-tile--outline">
							<p class="text-base-dark">The  Assistance Listings workspace provides additional information and features including:</p>
							<ul class="sds-list">
						    <li>A dashboard to track the status of your listings.</li>
						    <li>Tools to create, update, and manage listings.</li>
							</ul>
							<button class="usa-button width-full">Sign into Workspace</button>
            </div>
					</div>
				</div>
			</div>
		</div>
		<!-- CARDS -->
		<div class="grid-row grid-gap flex-wrap padding-3 flex-justify-center">
			<div class="grid-row tablet:grid-col-5 desktop:grid-col padding-1">
  			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a class="sds-card__link">
              <h2 class="sds-card__title">Manage Listings</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Meet you annual update requirements
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Create and post listings
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Give your listings a new title
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Assign your listings a new CFDA number
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Move you listings to a new organization
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Manage your CFDA numbers
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Manage your regional locations
                </a>
              </li>
            </ul>
          </div>
        </div>
			</div>
			<div class="grid-row tablet:grid-col-5 desktop:grid-col padding-1">
  			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Account Management</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Approve or reject role requests
                </a>
              </li>
              <li>
                <i class="sds fa-document-pdf"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Quick start guide for role management
                </a>
              </li>
  						<li>
  							<i class="sds fa-video-square"></i>
  							<span class="sr-only"></span>
  							<a class="usa-link" href=" ">
  								Video - Role Management
  							</a>
  						</li>
  						<li>
  							<i class="sds fa-new-note"></i>
  							<span class="sr-only"></span>
  							<a class="usa-link" href=" ">
  								Federal Hierarchy Change Request Quick Start Guide
  							</a>
  						</li>
            </ul>
          </div>
        </div>
			</div>
			<div class="grid-row tablet:grid-col-5 desktop:grid-col padding-1">
  			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Administrative Reports</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-question-circle"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  How to run an administrative report
                </a>
              </li>
              <li>
                <i class="sds fa-angle-circle fa-rotate-180 bg-primary radius-pill"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Go to Databanks
                </a>
              </li>
            </ul>
          </div>
        </div>
			</div>
			<div class="grid-row tablet:grid-col-5 desktop:grid-col padding-1">
  			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
  				<div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
  					<a class="sds-card__link">
  						<h2 class="sds-card__title">Help</h2>
  					</a>
  				</div>
  				<div class="sds-card__body">
  					<ul class="sds-list sds-list--unstyled sds-list--flex">
  						<li>
  							<i class="sds fa-question-circle"></i>
  							<span class="sr-only"></span>
  							<a class="usa-link" href=" ">
  								Frequently ASked Questions
  							</a>
  						</li>
  						<li>
  							<i class="sds fa-book"></i>
  							<span class="sr-only"></span>
  							<a class="usa-link" href=" ">
  								Glossary Terms
  							</a>
  						</li>
  						<li>
  							<i class="sds fa-video-square"></i>
  							<span class="sr-only"></span>
  							<a class="usa-link" href=" ">
  								Videos
  							</a>
  						</li>
  					</ul>
  				</div>
  			</div>
			</div>

		</div>
	</div>
</main>
