<main id="main-content">
  <div class="grid-container">
    <div class="grid-row sds-hero sds-hero--image">
      <div class="desktop:grid-offset-1 desktop:grid-col-10">
        <!-- HERO SECTION -->
        <div class="grid-row padding-x-3 grid-gap-6">
          <div class="desktop:grid-col-7 margin-y-4">
            <h1>Assistance Listings for Federal Users</h1>
            <p class="maxw-full text-base-dark">This site is the official source of public descriptions of federal
              assistance listings. Federal users with an assistance user or assistance administrator role can use the
              features on this page to manage assistance listings.
            </p>
            <h2>Search assistance listings</h2>
            <form class="usa-form usa-search usa-search--big desktop:padding-right-2" role="search">
              <label class="usa-sr-only" for="search-field">Search</label>
              <input class="usa-input" id="search-field" type="search" name="search"
                placeholder="Enter CFDA number or keyword">
              <button class="usa-button" type="submit">
                <span class="usa-sr-only">Search</span>
              </button>
            </form>
            <form>
              <fieldset class="usa-fieldset">
                <div class="usa-checkbox">
                  <input class="usa-checkbox__input" id="truth" type="checkbox" name="historical-figures-1"
                    value="truth" checked="checked">
                  <label class="usa-checkbox__label" for="truth">Show active only</label>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="desktop:grid-col-5">
            <div class="sds-tile--outline display-flex flex-column flex-justify margin-top-2">
              <div>
                <p class="text-base-dark">The Assistance Listings workspace provides additional information and features
                  including:</p>
                <ul class="sds-list">
                  <li>A dashboard to track the status of your listings.</li>
                  <li>Tools to create, update, and manage listings.</li>
                </ul>
              </div>
              <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12 margin-y-1">
                <button *ngIf="!service.signedIn" class="usa-button width-full margin-top-2" [routerLink]="['/workspace']"
                  [queryParams]="{signin: true}">Sign in to get started</button>
                <button *ngIf="service.signedIn" class="usa-button width-full margin-top-2"
                  [routerLink]="['/workspace']">Go to workspace</button>
              </div>
              <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12 margin-y-1">
                <button class="usa-button usa-button--primary-lighter width-full" [routerLink]="['/home/assistance']">
                  Go to assistance listings home
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CARDS -->
    <div class="grid-row grid-gap flex-wrap margin-top-4 padding-x-3 desktop:padding-0">
      <div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
        <div class="usa-card height-full width-full">
          <div class="usa-card__container">
            <div class="usa-card__header bg-accent-cool-lighter">
              <a [routerLink]="['news']">
                <h2 class="usa-card__heading">Manage Listings</h2>
              </a>
            </div>
            <div class="usa-card__body">
              <ul class="usa-list usa-list--icon">
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Meet your annual update requirements</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Create and post assistance listings</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Give your listing a new title</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Assign your listing a new CFDA number</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Move your listing to a new organization</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
        <div class="usa-card height-full width-full">
          <div class="usa-card__container">
            <div class="usa-card__header bg-accent-cool-lighter">
              <a [routerLink]="['news']">
                <h2 class="usa-card__heading">Manage Numbers and Locations</h2>
              </a>
            </div>
            <div class="usa-card__body">
              <ul class="usa-list usa-list--icon">
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Manage your CFDA numbers</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Manage your regional locations</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
        <div class="usa-card height-full width-full">
          <div class="usa-card__container">
            <div class="usa-card__header bg-accent-cool-lighter">
              <a [routerLink]="['news']">
                <h2 class="usa-card__heading">Manage Users and Roles</h2>
              </a>
            </div>
            <div class="usa-card__body">
              <ul class="usa-list usa-list--icon">
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Assign roles</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Respond to role requests</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Search the user directory</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'document-pdf'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Quick Start Guide for role management</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'camera-reels'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Video: Role management</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
        <div class="usa-card height-full width-full">
          <div class="usa-card__container">
            <div class="usa-card__header bg-accent-cool-lighter">
              <a [routerLink]="['news']">
                <h2 class="usa-card__heading">Run Administrative Reports</h2>
              </a>
            </div>
            <div class="usa-card__body">
              <ul class="usa-list usa-list--icon">
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'file-earmark'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">How to run an administrative report</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon class="action-icon" [icon]="'angle-circle'" [rotate]="180"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Go to administrative reports</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
        <div class="usa-card height-full width-full">
          <div class="usa-card__container">
            <div class="usa-card__header bg-accent-cool-lighter">
              <a [routerLink]="['news']">
                <h2 class="usa-card__heading">External Resources</h2>
              </a>
            </div>
            <div class="usa-card__body">
              <ul class="sds-list">
                <li>
                  <span class="sds-list__item-content">
                    <a class="usa-link text-semibold" target="_blank" href="https://www.cfo.gov/grants-training/">
                      Chief Financial Officers Council Grants Training.
                      <usa-icon [icon]="'box-arrow-up-right'" [size]="'lg'"></usa-icon>
                    </a> Explore training modules on grants and cooperative agreements for federal officials.</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
        <div class="usa-card height-full width-full">
          <div class="usa-card__container">
            <div class="usa-card__header bg-accent-cool-lighter">
              <a>
                <h2 class="usa-card__heading">Help</h2>
              </a>
            </div>
            <div class="usa-card__body">
              <ul class="usa-list usa-list--icon">
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'question-circle'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a [routerLink]="['/help']" class="usa-link">Frequently Asked Questions</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'book'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Glossary Terms</a>
                  </span>
                </li>
                <li>
                  <span class="sds-list__item-icon">
                    <usa-icon [icon]="'camera-reels'" [size]="'lg'"></usa-icon>
                  </span>
                  <span class="sds-list__item-content">
                    <a href="#" class="usa-link">Videos</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
