<p>
  search works!
  </p>
  <ul class="usa-sidenav-sublist">
    <li class="usa-sidenav-item"><a [class.usa-current]="domain == 'contractopportunities'" [routerLink]="['/search/list']" [queryParams]="{domain:'contractopportunities'}">Contract Opportunity Forecasts</a></li>
    <li class="usa-sidenav-item"><a [class.usa-current]="domain == 'contractopportunities'" [routerLink]="['/search/list']" [queryParams]="{domain:'contractopportunities'}">Contract Opportunities</a></li>
    <li class="usa-sidenav-item"><a [class.usa-current]="domain == 'contractdata'" [routerLink]="['/search/list']" [queryParams]="{domain:'contractdata'}">Contract Data</a></li>
</ul>

<div style="min-height:300px;">

  <sam-filters class="formly-style"  [form]="form" [fields]="fields" [model]="model"></sam-filters>

</div>


