
.sam-content {
	min-height: 35em;
}

.sam-page-title {
	border: 1px solid #dbdee1;
	background-color: #e7f6f8;
	padding: 0em 2em;

	h2 {
		font-weight: 300;
		font-size: 1.5em;
		line-height: .5;
	}
}

.sam-sidenav-links {
	list-style-type: none;
	padding-left: 0;

	li {
		line-height: 1.5em;
	}

}