
a.sam-register-button {
	background-color: #e52207;
	color: white;
	text-decoration: none;
	font-weight: 600;
	padding: .75em 1.5em;
	margin-top: auto;
	margin-bottom: auto;
}

.sam-search-button {
	background-color: #00bde3;	
	font-weight: 600;
	padding: .75em 1.5em;
}