

.register-button {
	background-color: #21C834;
	color: #0A3466;
	float: right;
	text-decoration: none;
	font-weight: 600;
	padding: .5em 1em;
	margin-top: .2em;
}

.sam.feature-banner {

	padding: 1.5em 0em;

	.sam.feature-content {
		color: #ffffff;
		background-color: #323a45;
		padding: 2em;
		font-size: 1em;
		font-weight: 300;

		a {
			font-size: 1em;
			font-weight: 600;
			color: #f1f1f1;
		}

		h2 {
			font-size: 1.5em;
			font-weight: 300;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		li {
			padding: 1em;
			font-size: .5em;
		}
	}

	.sam-feature-image {
		align-self: center;
	}
}