<div class="usa-prose measure-6">
	<h2>Privacy Policy</h2>
	<p class="usa-intro">Our privacy policy is simple. Unless you choose to provide additional information to us, we will collect no personal information about you other than statistical information that can be used to make the site more effective for all our visitors.</p>

	<section id="info-we-gather">
		<h3>Information We Gather</h3>
		<p>The information that is automatically collected and stored includes:</p>
		<ul>
			<li>The name of the domain from which you access the Internet, i.e. DHS.gov if you are connecting from a Department of Homeland Security domain or GMU.edu if you are connecting from George Mason University's domain</li>
			<li>The date and time of your visit</li>
			<li>The type and version of your Internet browser</li>
			<li>The operating system of the machine running the Internet browser</li>
			<li>The Internet address of the website you came from if it linked you directly to this site</li>
			<li>The technical status of the request you made, i.e. was it successful or was there an error?</li>
		</ul>
		<p>If your browser accepts cookies, we may use a session cookie to learn how many different visitors come to our site. We use this information for statistical purposes and to help us make our site more useful to you.</p>
	</section>
	<section id="info-you-send-us">
		<h3>Information You Send Us</h3>
		<p>When you send us personal or sensitive information in your entity registration, we use this information in accordance with regulations and statutes. Such information is carefully protected by the agency and not available in or retained by web tracking software. We do not disclose, give, sell, or transfer any personal information about our visitors, unless required for law enforcement or statute. We want to be clear. SAM.gov never releases sensitive information, such as your Taxpayer Identification Number or banking information for electronic funds transfer, to the public in either its public search view or public data file. Sensitive information is only available to authorized U.S. government officials, in accordance with the SAM system of records notice (SORN), System for Award Management (SAM) GSA/GOVT-9 .</p>
	</section>
	<section id="links">
		<h3>Links</h3>
		<p>The pages on www.sam.gov may include hypertext links or pointers to information created and maintained by other public and private organizations. Once you link to another site, you are subject to the privacy policy of the new site.</p>
	</section>
	<section id="security">
		<h3>Security</h3>
		<p>For site security purposes and to ensure that this service remains available to all users, our webservers use industry-standard methods to monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage. Unauthorized attempts to upload information or change information on SAM servers are strictly prohibited and may be punishable by law, including the Computer Fraud and Abuse Act of 1986 and the National Information Infrastructure Protection Act.</p>
	</section>
	<section id="cookies">
		<h3>Cookies</h3>
		<p>What is a Cookie? Whenever you visit a website, the website sends a small piece of information called a cookie along with the webpage. The main purpose of a cookie is to identify and customize webpages for you.</p>
		<p>There are two kinds of cookies:</p>
		<ul>
			<li>A session cookie is a line of text that is stored temporarily in your computer's random access memory (RAM). A session cookie is never written to a drive and it is destroyed as soon as you close your browser.</li>
			<li>A persistent cookie from a website is saved to a file on your hard drive and is called up the next time you visit that website. This lets the website remember what you were interested in the last time you visited.</li>
		</ul>
		<p>The SAM.gov site creates only a session cookie when you visit and destroys it as soon as you close your browser. There are no persistent cookies created on SAM.gov.</p>
	</section>

	<div class="sds-field">
		<div class="sds-field__name">Effective Date:</div>
		<div class="sds-field__value">TBD</div>
	</div>
</div>
