<main id="main-content">
	<div class="grid-container">
		<div class="grid-row sds-hero sds-hero--image">
			<div class="desktop:grid-offset-1 desktop:grid-col-10">
				<!-- HERO SECTION -->
				<div class="grid-row padding-x-3 desktop:padding-0">
					<div class="desktop:grid-col-7 margin-bottom-4 desktop:margin-0">
						<h1>Federal Hierarchy for Federal Users</h1>
						<p class="maxw-full text-base-dark">The Federal Hierarchy is the authoritative source for managing and referencing federal funding and awarding organizations. Federal employees can use the features on this page to manage federal funding and awarding organizations.
						</p>
						<h2>Search the Federal Hierarchy</h2>
						<form class="usa-form usa-search usa-search--big desktop:padding-right-2" role="search">
							<label class="usa-sr-only" for="options">Dropdown label</label>
							<select class="usa-select" name="options" id="options">
								<option value>All Organizations</option>
								<option value="value1">Option A</option>
								<option value="value2">Option B</option>
								<option value="value3">Option C</option>
							</select>
							<label class="usa-sr-only" for="search-field">Search</label>
							<input class="usa-input" id="search-field" type="search" name="search" placeholder="Enter code or name of organization">
							<button class="usa-button" type="submit">
								<span class="usa-sr-only">Search</span>
							</button>
						</form>
						<form>
							<fieldset class="usa-fieldset">
										<div class="usa-checkbox">
												<input class="usa-checkbox__input" id="truth" type="checkbox" name="historical-figures-1" value="truth" checked="checked">
												<label class="usa-checkbox__label" for="truth">Show active only</label>
										</div>
								</fieldset>
						</form>
					</div>
					<div class="desktop:grid-col-5">
						<div class="sds-tile--outline">
							<p class="text-base-dark">The Federal Hierarchy workspace provides additional information and features including:</p>
							<ul class="sds-list">
						    <li>Statistics on the recent and upcoming events</li>
						    <li>Links to filtered views of the organizations started and expired</li>
							</ul>
							<button class="usa-button width-full">Sign into Workspace</button>
            </div>
					</div>
				</div>
			</div>
		</div>
		<!-- CARDS -->
		<div class="grid-row grid-gap flex-wrap padding-3 flex-justify-center">
			<div class="grid-row tablet:grid-col-5 desktop:grid-col padding-1">
			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
        <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
          <a [routerLink]="['news']" class="sds-card__link">
            <h2 class="sds-card__title">Connect to Data Services</h2>
          </a>
        </div>
        <div class="sds-card__body">
          <ul class="sds-list sds-list--unstyled sds-list--flex">
            <li>
              <i class="sds fa-document-pdf"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Data Services Quick Start Guide
              </a>
            </li>
            <li>
              <i class="sds fa-new-note"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                How to use APIs
              </a>
            </li>
            <li>
              <i class="sds fa-video-square"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Video - How to access data extracts and use APIs
              </a>
            </li>
            <li>
              <i class="sds fa-question-circle"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Go to federal hierarchy APIs
              </a>
            </li>
          </ul>
        </div>
      </div>
			</div>
			<div class="grid-row tablet:grid-col-5 desktop:grid-col padding-1">
			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
        <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
          <a [routerLink]="['news']" class="sds-card__link">
            <h2 class="sds-card__title">Download Data Files</h2>
          </a>
        </div>
        <div class="sds-card__body">
          <ul class="sds-list sds-list--unstyled sds-list--flex">
            <li>
              <i class="sds fa-new-note"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                How to download all federal hierarchy information
              </a>
            </li>
            <li>
              <i class="sds fa-new-note"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Go to file extracts
              </a>
            </li>
          </ul>
        </div>
      </div>
			</div>
			<div class="grid-row tablet:grid-col-5 desktop:grid-col padding-1">
			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
        <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
          <a [routerLink]="['news']" class="sds-card__link">
            <h2 class="sds-card__title">Help</h2>
          </a>
        </div>
        <div class="sds-card__body">
          <ul class="sds-list sds-list--unstyled sds-list--flex">
            <li>
              <i class="sds fa-question-circle"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Frequently ASked Questions
              </a>
            </li>
            <li>
              <i class="sds fa-book"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Glossary Terms
              </a>
            </li>
            <li>
              <i class="sds fa-video-square"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Videos
              </a>
            </li>
          </ul>
        </div>
      </div>
			</div>
			<div class="grid-row tablet:grid-col-5 desktop:grid-col padding-1">
			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
				<div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
					<a [routerLink]="['news']" class="sds-card__link">
						<h2 class="sds-card__title">Help</h2>
					</a>
				</div>
				<div class="sds-card__body">
					<ul class="sds-list sds-list--unstyled sds-list--flex">
						<li>
							<i class="sds fa-question-circle"></i>
							<span class="sr-only"></span>
							<a class="usa-link" href=" ">
								Frequently ASked Questions
							</a>
						</li>
						<li>
							<i class="sds fa-book"></i>
							<span class="sr-only"></span>
							<a class="usa-link" href=" ">
								Glossary Terms
							</a>
						</li>
						<li>
							<i class="sds fa-video-square"></i>
							<span class="sr-only"></span>
							<a class="usa-link" href=" ">
								Videos
							</a>
						</li>
					</ul>
				</div>
			</div>
			</div>

		</div>
	</div>
</main>
