
    <div class="grid-row search-result">
        <h2 class="tablet:grid-col name"><a [routerLink]="['/']">{{model.entityRegistration.legalBusinessName}}</a></h2>
    </div>
    <div class="grid-row grid-gap search-result">
        <div class="tablet:grid-col-auto">
            <div class="grid-row margin-y-1">
                <div class="tablet:grid-col"><span class="usa-tag sds-tag--info-purple">DUNS</span><span class="">Unique Entity ID:</span><span class="">{{model.entityRegistration.ueiDUNS}}</span></div>
            </div>
            <div class="grid-row margin-y-1">
                <div class="tablet:grid-col"><span class="usa-tag sds-tag--info-white">SAM</span><span class="">Unique Entity ID:</span><span class="">{{model.entityRegistration.ueiSAM}}</span></div>
            </div>
            <div class="grid-row margin-y-1">
                <div class="tablet:grid-col"><span class="">CAGE/NCAGE:</span><span class="">{{model.entityRegistration.cageCode}}</span></div>
            </div>
        </div>
        <div class="tablet:grid-col flex-column purpose">
            <div class="grid-row margin-y-1">
                <div class="tablet:grid-col"><span class="">Unique Entity ID:</span><span class="">{{model.entityRegistration.ueiSAM}}</span></div>
            </div>
            Purpose of Registration: {{model.entityRegistration.purposeOfRegistrationDesc}}
            <div>
                {{model.coreData.physicalAddress.address1}}
                {{model.coreData.physicalAddress.city}}, {{model.coreData.physicalAddress.state}}
                {{model.coreData.physicalAddress.zipCode}} {{model.coreData.physicalAddress.country}}
            </div>
        </div>

        <!-- buttons field-->
        <div class="tablet:grid-col button-field">
            <div class="button-content">
                Status
                <div class="button bg-gray-5 border-1px height-5 width-10">
                    <div class="entity-status__shape"></div>
                    <h3>{{model.entityRegistration.registrationStatus}}</h3>
                </div>
            </div>
            <div class="button-content">
                Expiration Date
                <div class="button bg-gray-5 border-1px height-5 width-15 text-middle">
                    <h3>{{model.entityRegistration.expirationDate}}</h3>
                </div>
            </div>
        </div>

    </div>