<h1>Labor Advisors</h1>

<h2>Department of Defense Agencies</h2>

<table class="sds-table">
    <thead class="sds-table__head">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Organization / Region</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">U.S. Air Force</th>
        </tr>
        <tr>
            <td>Nick A De Quiroga</td>
            <td>Chief, AF Labor Advisors</td>
            <td>nicholas.de_quiroga.1@us.af.mil</td>
            <td>(720) 847-7341</td>
        </tr>
        <tr>
            <td>Kyle Roberts</td>
            <td>Eastern Region</td>
            <td>kyle.roberts.2@us.af.mil</td>
            <td>(321) 494-6734</td>
        </tr>
        <tr>
            <td>Gary Lechman</td>
            <td>Central Region</td>
            <td>gary.lechman@us.af.mil</td>
            <td>(720) 847-7340</td>
        </tr>
        <tr>
            <td>Ward Graham</td>
            <td>Western Region</td>
            <td>ward.graham@us.af.mil</td>
            <td>(801) 775-2097</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">U.S. Army</th>
        </tr>
        <tr>
            <td>Roger W Wilkinson</td>
            <td>Office of the Judge Advocate General</td>
            <td>roger.w.wilkinson2.civ@mail.mil</td>
            <td>(571) 256-8187</td>
        </tr>
    </tbody>    
    <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">U.S. Army Corps of Engineers</th>
        </tr>
        <tr>
            <td>Vanessa Shaw-Jennings</td>
            <td>Office of the Chief Counsel</td>
            <td>vanessa.l.shaw-jennings@usace.army.mil</td>
            <td>(202) 761-8559</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Defense Logistics Agency</th>
        </tr>
        <tr>
            <td>Anne Burleigh</td>
            <td></td>
            <td>anne.burleigh@dla.mil</td>
            <td>(571) 767-1358 / DSN (392) 767-1358</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Defpartment of Defense</th>
        </tr>
        <tr>
            <td>Larry McLaury</td>
            <td>Office of the Under Secretary (ATL)</td>
            <td>larry.j.mclaury2.civ@mail.mil</td>
            <td>(703) 697-6710</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Department of the Navy</th>
        </tr>
        <tr>
            <td>Navy and Marine Corps</td>
            <td></td>
            <td>navylaboradvisor@navy.mil</td>
            <td>(703) 693-2939</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Naval Facilities Engineering Command</th>
        </tr>
        <tr>
            <td>Lynn Forbes</td>
            <td>NAVFAC Labor Advisor</td>
            <td>lynn.forbes@navy.mil</td>
            <td>(360) 396-0272</td>
        </tr>
    </tbody>
</table>

<h2>Civilian Contracting Agencies</h2>
<table class="sds-table width-full">
    <thead class="sds-table__head">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Department of Agriculture</th>
        </tr>
        <tr>
            <td>USDA Labor Advisor</td>
            <td>procurement@usda.gov</td>
            <td></td>
        </tr>
      </tbody>
      <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Department of Energy</th>
        </tr>
        <tr>
            <td>Jeanne Lupardo</td>
            <td>Jeanne.lupardo@hq.doe.gov</td>
            <td>(202) 586-1695</td>
        </tr>
        <tr>
            <td>John Sullivan</td>
            <td>John.M.Sullivan@hq.doe.gov</td>
            <td>(202) 287-5630</td>
        </tr>
    </tbody>
      <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">General Services Administration</th>
        </tr>
        <tr>
            <td>GSA Labor Advisor</td>
            <td>gsalaboradvisor@gsa.gov</td>
            <td></td>
        </tr>
    </tbody>
      <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Department of Homeland Security</th>
        </tr>
        <tr>
            <td>David Duda</td>
            <td>dhslaboradvisor@dhs.gov</td>
            <td>(202) 447-5415</td>
        </tr>
    </tbody>
      <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Department of Housing and Urban Development</th>
        </tr>
        <tr>
            <td>Pamela Glekas Spring</td>
            <td>Glekas.pamela@hud.gov</td>
            <td>(202) 402-4449</td>
        </tr>
    </tbody>
      <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Department of Labor</th>
        </tr>
        <tr>
            <td colspan="4">This position is currently vacant.</td>
        </tr>
    </tbody>
      <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">National Aeronautics and Space Administration (NASA)</th>
        </tr>
        <tr>
            <td>John Brett</td>
            <td>john.brett@nasa.gov</td>
            <td>(202) 358-0687</td>
        </tr>
    </tbody>
      <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Social Security Administration</th>
        </tr>
        <tr>
            <td>Joan M Smith</td>
            <td>joan.m.smith@ssa.gov</td>
            <td>(410) 965-6269</td>
        </tr>
    </tbody>
      <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Department of Transportation</th>
        </tr>
        <tr>
            <td>Bonnie Angermann, Office of Chief Conusel</td>
            <td>bonnie.angermann@dot.gov</td>
            <td>(202) 366-9166</td>
        </tr>
        <tr>
            <td>Joanne Burrus, Maritime Administration</td>
            <td>joanne.burrus@dot.gov</td>
            <td>(202) 366-5158</td>
        </tr>
        <tr>
            <td>Greg Carter, Federal Aviation Administration</td>
            <td>greg.carter@faa.gov</td>
            <td></td>
        </tr>
        <tr>
            <td>Steven Rochlis, Federal Highway Administration</td>
            <td>steve.rochlis@dot.gov</td>
            <td>(202) 366-1345</td>
        </tr>
        <tr>
            <td>Stephen Pereira, Federal Transit Administration</td>
            <td>stephen.pereira@dot.gov</td>
            <td>(202) 493-0542</td>
        </tr>
        <tr>
            <td>Brandon C Hollingshead, Pipeline and Hazardous Material Safety Administration</td>
            <td>brandon.hollingshead@dot.gov</td>
            <td>(202) 366-0845</td>
        </tr>
        <tr>
            <td>Jean Mulff, Federal Motor Carrier Safety Administration</td>
            <td>jean.wulff@dot.gov</td>
            <td>(202) 366-0424</td>
        </tr>
        <tr>
            <td>RT Baumann, Senior Attorney, Office of Acquisition Management</td>
            <td>roland.baumann@dot.gov</td>
            <td></td>
        </tr>
        <tr>
            <td>Ross Jeffries, Directory, National Highway Traffic Safeway Administration</td>
            <td>ross.jeffries@dot.gov</td>
            <td></td>
        </tr>
    </tbody>
      <tbody>
        <tr class="sds-table__subsection-title">
            <th colspan="4" scope="colgroup">Department of Veterans Affairs</th>
        </tr>
        <tr>
            <td>Mitchell L Gasbarra</td>
            <td>mitchell.gasbarra@va.gov</td>
            <td>(240) 215-1755</td>
        </tr>
    </tbody>
  </table>


