<div>
	<h1>About This Site</h1>
	<p class="measure-6">This is an official U. S. Federal Government Website for people who make, receive, and manage federal awards. It provides primarily government-wide functions required by federal policy.</p>

	<h2>Why is there a SAM.gov and a beta.SAM.gov?</h2>
	<p class="measure-5">Currently, there are two sites with very similar names: SAM.gov and beta.SAM.gov.</p>
	<p class="measure-5">SAM.gov houses the System for Award Management (SAM), which has not yet been modernized and integrated with the other IAE systems. Until that time, SAM.gov is the place to go for registering to do business with the federal government. In addition to initial registration, users can update, renew, and check the status of their registration, as well as search for registrations and exclusions.</p>
	<p class="measure-5">Beta.SAM.gov is the home of systems that have been integrated into a single operating environment. Once the System for Award Management (SAM) is integrated, the location will be renamed SAM.gov. At that point, beta.SAM.gov and SAM.gov will no longer operate in parallel and the “beta” will be retired.</p>

	<h2>About the Integrated Award Environment</h2>
	<p class="measure-5">The Integrated Award Environment (IAE) is the program office at GSA that manages SAM.gov and other government-wide award systems.  To learn more about IAE, visit <a href="https://gsa.gov/iae">gsa.gov/iae</a>.</p>
</div>