<!-- <div class="sds-card" *ngIf="!hideSidePannel">
  <div class="sds-card__body sds-card__body--accent-cool">
    <ul class="usa-sidenav usa-sidenav--styled">
      <li *ngFor="let step of steps; let i = index;" class="usa-sidenav__item"
        [ngClass]="{'usa-current':  selectedIndex === i }">
        <a href="javascript:void(0);" (click)="selectedIndex = i">
          <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template">
          </ng-container>
        </a>
        <ng-template #showLabelText>
          {{ step.label }}
        </ng-template>
        <span class="usa-sr-only">completed</span>
        <ul>
          <li *ngFor="let child of step.children; let i = index;" class="usa-sidenav__item" ;
            [ngClass]="{'usa-current':  selectedIndex === i }">
            <a href="javascript:void(0);" (click)="selectedIndex = i">
              <ng-container *ngIf="child.stepLabel; else showChildLabelText"
                [ngTemplateOutlet]="child.stepLabel.template">
              </ng-container>
            </a>
            <ng-template #showChildLabelText>
              {{ child.label }}
            </ng-template>
            <span class="usa-sr-only">completed</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div> -->

<div class="usa-step-indicator usa-step-indicator--counters-sm" aria-label="progress">
  <ol class="usa-step-indicator__segments">
    <li class="usa-step-indicator__segment" *ngFor="let step of this.stepInfoList; let i = index;"
      [ngClass]="getStepClass(i)">
      <span class="usa-step-indicator__segment-label"> {{step.label}}
      </span>
    </li>
  </ol>
</div>

<ng-container [ngTemplateOutlet]="selected.content"></ng-container>

<div class="grid-container grid-row grid-gap">
  <div class="sds-button-row">
    <div class="text-right margin-right-1" *ngIf="isPreviousButtonHidden()">
      <button type="button" cdkStepperPrevious class="usa-button sds-button--circle">
        <sds-icon [icon]="'chevron-left'"></sds-icon>
      </button>
      <p class="text-right" [innerHTML]="getBacklabel()"></p>
    </div>
    <div class="margin-right-1">
      <button type="button" class="usa-button sds-button--circle" (click)="closeback();">
        <sds-icon [icon]="'x'"></sds-icon>
      </button>
      <p class="text-right"> Close</p>
    </div>
    <div class="margin-right-1">
      <button type="button" class="usa-button sds-button--circle">
        <sds-icon [icon]="'question'"></sds-icon>
      </button>
      <p class="text-right">Help</p>
    </div>

    <div class="margin-right-1" *ngIf="isNextButtonHidden()">
      <button type="button" cdkStepperNext class="usa-button sds-button--circle">
        <sds-icon [icon]="'chevron-right'"></sds-icon>
      </button>
      <p class="text-left" [innerHTML]="getNextlabel()"></p>
    </div>
  </div>
</div>
