.help-block {
	text-align: center;
	margin-top: 3em;

	img {
		width: 60px;
	}

    a {
    	color: #3F57A6;
    	font-weight: 600;
		text-decoration: none;

		:hover {
			cursor: pointer;
		}

		:visited {
		    color: #3F57A6;
		}
    }

}