
    <div class="grid-row usa-link-wrapper" style="padding-top: 0; padding-bottom: 0; margin-bottom: 0; margin-top: 0">
    	<div class="tablet:grid-col-fill">
    		<h3 class="tablet:grid-col-12 name"><a class="usa-link" [routerLink]="['/']">{{model.title}}</a></h3>
    		<p>{{model.description}}</p>
    	</div>
    	<div *ngIf="model.type > 0" class="grid-col-auto">
        	<h1 class="sds-type--label-title" style="color: transparent">Message Type</h1>
        	<span class="sds-tag sds-tag--alt">{{getLabel(model.type)}}</span>
    	</div>
    	<div class="grid-col-auto">
        	<h1 class="sds-type--label-title">Received Date</h1>
        	<span class="sds-tag sds-tag--outline flex-justify-center">{{model.date}}</span>
    	</div>
    </div>

