<div class="grid-row sam subheader">
	<div class="grid-col-fill">
		<h2>Contracting Home</h2>
	</div>
	<div class="grid-col-auto">
		<form class="usa-search usa-search-small">
		  <div role="search">
		    <label class="usa-sr-only" for="search-field-small">Search</label>
		    <input class="sam search-input usa-input" id="search-field-small" type="search" name="search" placeholder="Search all contracting data sets">
		    <button class="sam search-button usa-button" type="submit">
		      <span class="usa-sr-only">Search</span>
		    </button>
		  </div>
		</form>
	</div>
</div>
<div class="sam landing section dark">
	<div class="grid-row">
		<div class="sam feature text reverse grid-col-fill">
		Grow your business by having the federal government of the United States as a customer.
		</div>
	</div>
	<div class="grid-row grid-gap">
		<div class="grid-col-5">
			<h3 class="sam reverse">Register your Entity</h3>
			<div class="sam text normal reverse">You must be registered in SAM.gov to receive a contract from the U.S. Federal Government.  This is the official website for federal entity registration.  Here you can do the following.</div>
			<div class="grid-row">
				<div class="grid-col-fill">
					<ul class="sam text normal reverse">
						<li>Register your Entity</li>
						<li>Update your Entity Registration</li>
						<li>Check your Registration Status</li>
					</ul>
				</div>
				<div class="grid-col-auto">
					<p class="sam text small reverse" *ngIf="!model.isSignedIn">
						<span class="sam link" (click)="model.signIn('/entities-workspace')">Sign In</span> to register your entity.
					</p>
					<a class="sam button feature flex-align-end" href="#">Register Entity</a>
				</div>
			</div>
			<p class="sam feature text reverse">SAM.gov Registration is FREE</p>
		</div>
		<div class="grid-col-7">
			<img class="sam-feature-image" src="./assets/img/contracting-home-feature.jpg">
		</div>
	</div>
</div>
<div class="sam landing section medium grid-row grid-gap">
	<h3>Search Contracting Data</h3>
	<div class="grid-row">
	<div class="grid-col-4">
		<ul class="sam domain secondary">
			<li><a [routerLink]="">Contracting Information</a>
				<ul class="sam domain tertiary">
					<li><a [routerLink]="">Contract Opportunities <span class="sam legacy reference">(from fbo.gov)</span></a></li>
					<li><a [routerLink]="">Contract Data <span class="sam legacy reference">(from fpds.gov)</span></a></li>
					</ul>
			</li>
			<li><a [routerLink]="">Federal Hierarchy</a></li>
		</ul>
	</div>
	<div class="grid-col-4">
		<ul class="sam domain secondary">
            <li><a [routerLink]="">Entity Information</a>
            	<ul class="sam domain tertiary">
                    <li><a [routerLink]="">Entity Registrations <span class="sam legacy reference">(from sam.gov)</span></a></li>
                    <li><a [routerLink]="">Disaster Response Registy <span class="sam legacy reference">(from sam.gov)</span></a></li>
                    <li><a [routerLink]="">Exclusions  <span class="sam legacy reference">(from sam.gov)</span></a></li>
                    <li><a [routerLink]="">Integrity Information <span class="sam legacy reference">(from fapiis.gov)</span></a></li>
                </ul>
            </li>
		</ul>
	</div>
	<div class="grid-col-4">
		<ul>
            <li><a [routerLink]="">Wage Determinations <span class="sam legacy reference">(from wdol.gov)</span></a>
            	<ul class="sam domain tertiary">
                    <li><a [routerLink]="">Construction WDs (Davis-Bacon Act)</a></li>
                    <li><a [routerLink]="">Service WDs (Service Contract Act)</a></li>
                    <li><a [routerLink]="">Collective Bargaining Agreements (Service Contract Act)</a></li>
                </ul>
            </li>
		</ul>
	</div>
</div>
<div class="sam landing section light grid-row">
	<h3>Manage your Contract Opportunities</h3>
	<div class="grid-row">
		<div class="grid-col-6">
			<h4>Vendors</h4>
			<p><a>Sign In</a> to follow opportunities, save searches, run reports, and join intereseted vendor lists.</p>
		</div>
		<div class="grid-col-6">
			<h4>Federal Users</h4>
			<p><a>Sign In</a> to manage your opportunities and run reports.</p>
		</div>
	</div>
</div>
<div class="sam landing section light grid-row">
	<h3>Managed your Awarded Contracts</h3>
	<div class="grid-row">
		<div class="grid-col-6">
			<h4>Contract Data</h4>
		</div>
		<div class="grid-col-6">
			<h4>Past Performance</h4>
		</div>
		<div class="grid-col-6">
			<h4>Sub-Award Reporting</h4>
		</div>
		<div class="grid-col-6">
			<h4>Sub-Award Reporting</h4>
		</div>
		<div class="grid-col-6">
			<h4>Bio-Preferred Reporting</h4>
		</div>
		<div class="grid-col-6">
			<h4>Service Contract Reporting</h4>
		</div>
	</div>	
</div>

