<sam-feature-banner title="Contracting" domain="contracting" featureImage="/assets/img/home-page-feature.jpg">
	<p>Grow your business by having the federal government of the United States as a customer.</p>
</sam-feature-banner>
<div class="grid-row">
	<div class="grid-col">
		<h4>Contract Opportunities</h4>
	</div>
	<div class="grid-col">
		<h4>Contract Data</h4>
	</div>
</div>
<div class="grid-row">
	<div class="grid-col">
		<h4>Wage Determinations</h4>
	</div>
	<div class="grid-col">
		<h4>Past Performance</h4>
	</div>
	<div class="grid-col">
		<h4>Sub-Awards</h4>
	</div>
</div>
