
.sam-nav {

	background-color: #ffffff;
}

ul.sam-data-nav {
	list-style-type: none;
}

li.sam-close-link {
	float: right;

	a {
		color: #323a45;
		text-decoration: none;
	}
}

.sam-header-nav {
	
	span {
		color: #757575;
	}

	span:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.sam-help-nav {
	
	i {
		margin-right: .5em;
	}
}

.sam-nav-title {
  font-weight: 500;
  font-size: 1.4em;
  color: white;
}

img.sam-logo {
    height: 1em;
}

