@import 'sam-gov/_layout';

div.sam-header {
	display: inline-block;
	background-color: #323a45;
	margin: 0;
	width: 100%;
	padding: .25em;

	ul {
		width: 100%;
		display: inline;
		list-style-type: none;

		li {
			float: right;
			color: #ffffff;
			font-weight: 300;
			font-size: .9em;		
			margin: 0;
			padding: 0 1em;
		}
	}

	a {
		float: right;
		margin: 0;
		padding: 0 1em;
		color: #ffffff;
		font-weight: 300;
		font-size: .9em;

		i {
			margin-bottom: 0;
			margin-right: $icon-margin;
		}
	}
}

