<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
      <div class="usa-logo" id="extended-mega-logo">
          <em class="usa-logo-text"><a [routerLink]="['/']" title="Home" aria-label="Home"><img class="sam-logo" src="assets/img/beta_samgov_horizontal.jpg"></a></em>
        </div>
      </div>
      <nav *ngIf="!model.isMainNavigationVisible" role="navigation" class="sam-data-nav usa-nav">
	      <div class="usa-nav-secondary">
	       <ul class="usa-nav-secondary-links">
	          <li class="usa-nav-secondary-item">
	            <a href="">Requests (6)</a>
	          </li>
	          <li class="usa-nav-secondary-item">
	            <a href="">Messages</a>
	          </li>
	          <li class="usa-nav-secondary-item">
	            <a href="">Sign Out</a>
	          </li>
	        </ul>
	      </div>
      </nav>
      <nav *ngIf="model.isMainNavigationVisible" role="navigation" class="sam-nav usa-nav">
        <div class="usa-nav-inner">
          <button class="usa-nav-close"><img src="/assets/img/close.svg" alt="close"></button>
          <ul class="usa-nav-primary usa-accordion">
            <li class="usa-nav-primary-item">
              <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sam-mega-nav-section-two"><span>Contracting</span></button>
              <div id="sam-mega-nav-section-two" class="usa-nav-submenu usa-megamenu">
                <div class="grid-row grid-gap-4">
                  <div class="desktop:grid-col-3">
                    <ul class="usa-nav-submenu-list">
                      <li class="sam-nav-title usa-nav-submenu-item">
                        Overview
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/contracting']">Contracting Home</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/help']" [queryParams]="{domain:'contractinginfo'}">Contracting Help</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/resources']" [queryParams]="{domain:'contracting'}">Contracting Resources</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/resources']" [queryParams]="{domain:'contracting'}">Wage Determination Resources</a>
                      </li>
                    </ul>
                  </div>
                  <div class="desktop:grid-col-3">
                    <ul class="usa-nav-submenu-list">
                      <li class="sam-nav-title usa-nav-submenu-item">
                        Search
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'contractinginfo'}">Contract Opportunities and Contract Data</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'disasterresponse'}">Disaster Response Registry</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'entityinfo'}">Entity Information</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'hierarchy'}">Federal Hierarchy</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wagedeterminations'}">Wage Determinations</a>
                      </li>
                    </ul>
                  </div>
                  <div class="desktop:grid-col-3">
                    <ul class="usa-nav-submenu-list">
                      <li class="sam-nav-title usa-nav-submenu-item">
                        Databank
                      </li>
                      <li *ngIf="!model.isSignedIn" class="sam-nav-submenu-item usa-nav-submenu-item">
                        <span class="sam-inline-link" (click)="model.signIn('/databank/home')">Sign In</span> to use our reports and reporting tools.
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">Static Reports</a>
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">Standard Reports</a>
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">Ad-Hoc Reports</a>
                      </li>
                      <li class="sam-nav-title usa-nav-submenu-item">
                        Data Services
                      </li>
                      <li *ngIf="!model.isSignedIn" class="sam-nav-submenu-item usa-nav-submenu-item">
                        <span class="sam-inline-link" (click)="model.signIn('/databank/home')">Sign In</span> to download file extracts or access our technical specifications.
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">System Accounts</a>
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">File Extracts</a>
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">Technical Specifications</a>
                      </li>
                    </ul>
                  </div>
                  <div class="desktop:grid-col-3">
                    <ul class="usa-nav-submenu-list">
                      <li class="sam-nav-title usa-nav-submenu-item">
                        Workspace
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a href="#">Register an Entity</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a href="#">Check Registration Status</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a href="#">Upload Sub-Awards</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a href="#">Review Past Performance</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="usa-nav-primary-item">
              <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sam-mega-nav-section-three"><span>Federal Assistance</span></button>
              <div id="sam-mega-nav-section-three" class="usa-nav-submenu usa-megamenu"><div class="grid-row grid-gap-4"><div class="desktop:grid-col-3">
                    <ul class="usa-nav-submenu-list">
                      <li class="sam-nav-title usa-nav-submenu-item">
                        Overview
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/assistance']">Federal Assistance Home</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/help']" [queryParams]="{domain:'all'}">Federal Assistance Help</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/resources']" [queryParams]="{domain:'assistance'}">Federal Assistance Resources</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/resources']" [queryParams]="{domain:'wagedeterminations'}">Wage Determination Resources</a>
                      </li>
                    </ul>
              </div>
              <div class="desktop:grid-col-3">
                    <ul class="usa-nav-submenu-list">
                      <li class="sam-nav-title usa-nav-submenu-item">
                        Search
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'assistance'}">Assistance Listings</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'entityinfo'}">Entity Information</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'hierarchy'}">Federal Hierarchy</a>
                      </li>
                      <li class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wagedeterminations'}">Wage Determinations</a>
                      </li>
                    </ul>
              </div>
              <div class="desktop:grid-col-3">
                   <ul class="usa-nav-submenu-list">
                      <li class="sam-nav-title usa-nav-submenu-item">
                        Databank
                      </li>
                      <li *ngIf="!model.isSignedIn" class="sam-nav-submenu-item usa-nav-submenu-item">
                        <span class="sam-inline-link" (click)="model.signIn('/databank/home')">Sign In</span> to use our reports and reporting tools.
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">Static Reports</a>
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">Standard Reports</a>
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">Ad-Hoc Reports</a>
                      </li>
                      <li class="sam-nav-title usa-nav-submenu-item">
                        Data Services
                      </li>
                      <li *ngIf="!model.isSignedIn" class="sam-nav-submenu-item usa-nav-submenu-item">
                        <span class="sam-inline-link" (click)="model.signIn('/databank/home')">Sign In</span> to download file extracts or access our technical specifications.
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">System Accounts</a>
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">File Extracts</a>
                      </li>
                      <li *ngIf="model.isSignedIn" class="usa-nav-submenu-item">
                        <a [routerLink]="['/search']" [queryParams]="{domain:'wdnumber'}">Technical Specifications</a>
                      </li>
                    </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="sam-help-nav usa-nav-primary-item">
            <a [routerLink]="['/help']">Help</a>
        </li>
      </ul>
      <div class="usa-nav-secondary">
        <ul class="usa-nav-secondary-links">
          <li *ngIf="model.isSignedIn" class="usa-nav-secondary-item">
            <a routerLink="/requests" routerLinkActive="active">Requests (6)</a>
          </li>
          <li class="usa-nav-secondary-item">
            <a routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
          <li class="usa-nav-secondary-item">
            <a [routerLink]="['/workspace']" routerLinkActive="active">Workspace</a>
          </li>
          <li *ngIf="model.isSignedIn" class="sam-header-nav usa-nav-secondary-item">
            <span (click)="model.signOut('/')">Sign Out</span>
          </li>
          <li *ngIf="!model.isSignedIn" class="sam-header-nav usa-nav-secondary-item">
            <span (click)="model.signIn('/workspace')">Sign In</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
