<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
      <div class="usa-logo" id="extended-mega-logo">
          <em class="usa-logo-text"><a [routerLink]="['/']" title="Home" aria-label="Home"><img class="sam-logo" src="assets/img/beta_samgov_horizontal.jpg"></a></em>
      </div>
  </div>
  <nav *ngIf="!model.isMainNavigationVisible" role="navigation" class="sam-data-nav usa-nav">
      <div class="usa-nav-secondary">
       <ul class="usa-nav-secondary-links">
          <li class="usa-nav-secondary-item" [class.usa-current]="model.feature === 'requests'">
            <a href="">Requests (6)</a>
          </li>
          <li class="usa-nav-secondary-item" [class.usa-current]="model.feature === 'messages'">
            <a href="">Messages</a>
          </li>
          <li class="usa-nav-secondary-item">
            <a href="">Sign Out</a>
          </li>
        </ul>
      </div>
  </nav>
  <nav *ngIf="model.isMainNavigationVisible" role="navigation" class="sam-nav usa-nav">
    <div class="usa-nav-inner">
        <button class="usa-nav-close"><img src="/assets/img/close.svg" alt="close"></button>
        <ul class="usa-nav-primary usa-accordion">
            <li class="sam-help-nav usa-nav-primary-item">
                <a [routerLink]="['/search']" [class.usa-current]="model.feature === 'search'">Search</a>
            </li>
            <li class="sam-help-nav usa-nav-primary-item">
                <a [routerLink]="['/databank']" [class.usa-current]="model.feature === 'databank'">Databank</a>
            </li>
            <li class="sam-help-nav usa-nav-primary-item">
                <a [routerLink]="['/dataservices']" [class.usa-current]="model.feature === 'dataservices'">Data Services</a>
            </li>
            <li class="sam-help-nav usa-nav-primary-item">
                <a [routerLink]="['/help']" [class.usa-current]="model.feature === 'help'">Help</a>
            </li>
        </ul>
        <div class="usa-nav-secondary">
          <ul class="usa-nav-secondary-links">
            <li *ngIf="model.isSignedIn" class="usa-nav-secondary-item" [class.usa-current]="model.feature === 'requests'">
              <a [class.link-padding]='true' routerLink="/requests" routerLinkActive="active">Requests (6)</a>
            </li>
            <li class="usa-nav-secondary-item">
              <a routerLink="/messages" routerLinkActive="active" [class.sam-current]="model.feature === 'messages'">Messages</a>
            </li>
            <li class="usa-nav-secondary-item">
              <a [routerLink]="['/workspace']" routerLinkActive="active" [class.sam-current]="model.feature === 'workspace'">Workspace</a>
            </li>
            <li *ngIf="model.isSignedIn" class="sam-header-nav usa-nav-secondary-item">
              <span (click)="model.signOut('/')">Sign Out</span>
            </li>
            <li *ngIf="!model.isSignedIn" class="sam-header-nav usa-nav-secondary-item">
              <span (click)="model.signIn('/workspace')">Sign In</span>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</header>
