<main>
  <div class="grid-container">
    <div class="sds-page">
      <div class="grid-row grid-gap">
        <div class="grid-auto">
          <sds-toolbar class="tablet:grid-col-auto" #toolbar="sdsToolbar" [expanded]="true">
            <sds-accordion>
              <sds-accordion-item [expanded]="true">
                <sds-accordion-item-header>Show</sds-accordion-item-header>
                <sds-side-navigation #sideNav [model]="sideNavModel"></sds-side-navigation>
              </sds-accordion-item>
             </sds-accordion>
          </sds-toolbar>
        </div>
        <div class="tablet:grid-col-fill">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</main>
