<sds-subheader>
  <!-- =============== BACK BUTTON =============== -->
  <button class="sds-button sds-button--circular" (click)="back();">
    <sds-icon [icon]="['bs', 'chevron-left']" ></sds-icon>
  </button>

  <!-- =============== TITLE =============== -->
  <span class="font-heading-lg text-semibold margin-right-6">
    Databank History
  </span>

  <ng-container subheader-buttons-container>
    <ul class="sds-button-group--secondary sds-button-group--segmented">
      <li class="sds-button-group__item">
        <button class="usa-button" [routerLink]="['/databank/databank-search']">Databank</button>
      </li>
      <li class="sds-button-group__item">
        <button class="usa-button usa-button--outline" [routerLink]="['/databank/databank-history']">Report
          History</button>
      </li>
      <li class="sds-button-group__item">
        <button class="usa-button usa-button--outline" [routerLink]="['/databank/scheduled-reports']">Scheduled
          Reports</button>
      </li>
    </ul>
  </ng-container>

</sds-subheader>

<main>
  <div class="sds-page">
    <div class="grid-container">
    </div>
  </div>
</main>
