<div class="grid-row">
  <div class="grid-col-fill">

    <usa-step-indicator [steps]="faltSteps" [(currentStep)]="selectedStepIndex" [displayCounters]="true"
      [smallCounters]="true" [sdsStepperNav]="faltSteps[selectedStepIndex]">
      <h2 UsaStepHeader>
        <!-- [template]="headerTemplate" <ng-template #headerTemplate>
          {{ selectedStep?.id }} -- {{selectedStepIndex}}
        </ng-template> -->
      </h2>
    </usa-step-indicator>
    <div [ngTemplateOutlet]="selectedStep ? selectedStep.content : null"></div>

    <div class="grid-row grid-gap flex-justify-center margin-top-4">
      <div class="margin-right-1">
        <button class="usa-button sds-button--circle  usa-button--big padding-2" sdsStepperPrevious
          [attr.id]="id + '-prevBtn'">
          <usa-icon [icon]="'chevron-left'"></usa-icon>
        </button>

        <label [attr.for]="id + '-prevBtn'" class="text-right usa-link cursor-pointer display-block margin-top-2">
          Go Back
        </label>
      </div>

      <div class="margin-right-1">
        <button class="usa-button sds-button--circle usa-button--big padding-2" [attr.id]="id + '-closeBtn'">
          <usa-icon [icon]="'x'"></usa-icon>
        </button>
        <label [attr.for]="id + '-closeBtn'" class="text-center usa-link cursor-pointer display-block margin-top-2">
          Close
        </label>
      </div>

      <div class="margin-right-1">
        <button class="usa-button sds-button--circle usa-button--big  padding-2" [attr.id]="id + '-helpBtn'">
          <usa-icon [icon]="'question'"></usa-icon>
        </button>
        <label [attr.for]="id + '-helpBtn'" class="text-center usa-link cursor-pointer display-block margin-top-2">
          Help
        </label>
      </div>

      <div class="margin-right-1">
        <button class="usa-button sds-button--circle usa-button--big  padding-2" sdsStepperSave
          [attr.id]="id + '-saveBtn'">
          <usa-icon [icon]="'save'"></usa-icon>
        </button>
        <label [attr.for]="id + '-saveBtn'" class="text-center usa-link cursor-pointer display-block margin-top-2">
          Save
        </label>
      </div>

      <div class="margin-right-1">
        <button #saveAndContinueBtn class="usa-button sds-button--circle  usa-button--big padding-2" sdsStepperNext
          [attr.id]="id + '-nextBtn'">
          <usa-icon [icon]="'chevron-right'"></usa-icon>
        </button>
        <label [attr.for]="id + '-nextBtn'" class="text-left usa-link cursor-pointer display-block margin-top-2">
          Save and Continue
        </label>
      </div>
    </div>
  </div>
</div>
