
// // $theme-image-path: '~@gsa-sam/sam-styles/src/img';
// // $theme-font-path: '~@gsa-sam/sam-styles/src/fonts';

// //@import '~@gsa-sam/sam-styles/src/stylesheets/sam';
// @use '~@gsa-sam/sam-styles/src/index.scss';
// .display-row {
// 	@include grid-row;
// 	@include grid-gap;
// }

// .display-col {

//     @include u-margin-bottom(1);
//     @include grid-col(12);

// 	@include at-media("mobile-lg") {
//        @include grid-col(6);
//     }

//     @include at-media("tablet-lg") {
//        @include grid-col(3);
//     }
	
// }