<main id="main-content">
  <div class="grid-container">
      <landing-hero>
          <h1>Entity Information</h1>
          <div>
            <p class="usa-prose usa-intro">An entity is any person or organization that is registered to do business
                  with the federal government. You must have an active entity registration in SAM to receive a federal
                  contract or federal assistance.
            </p>
            <landing-alert>
                <div class="grid-row">
                  <div class="grid-col-fill">
                    You must be signed in to search for entity registrations
                  </div>
                  <div class="grid-col-auto">
                    <button class="usa-button usa-button--secondary">
                      Sign In
                    </button>
                  </div>
                </div>
            </landing-alert>
          </div>
          <landing-search domain="entity-info">
            <h2>Search Registrations</h2>
            <p>Enter a Unique Entity ID, CAGE/NCAGE or entity name to start searching.  Click <b>Advanced Search</b> to start searching with the advanced filters.</p>
          </landing-search>
          <landing-tile>
            <h2>Register Your Entity</h2>
            <p>Register your entity to get started doing business with the federal government.</p>
            <div class="display-flex flex-column flex-align-stretch text-align-left">
              <button class="sds-button sds-button--icon margin-bottom-1">
                <div class="sds-stack sds-1x">
                  <sds-icon class="sds-stack-icon text-primary-lighter" [size]="'2x'" [icon]="['bs', 'square-fill']"></sds-icon>
                  <sds-icon class="sds-stack-icon text-base-darker" [size]="'md'" [icon]="['bs', 'plus-square']"></sds-icon>
                </div>
                <span class="sds-button--icon__title">Get started</span>
              </button>
              <button class="sds-button sds-button--icon margin-bottom-1">
                <div class="sds-stack sds-1x">
                  <sds-icon class="sds-stack-icon text-accent-cool-lighter" [size]="'2x'" [icon]="['bs', 'square-fill']"></sds-icon>
                  <sds-icon class="sds-stack-icon text-base-darker" [size]="'md'" [icon]="['bs', 'pencil-square']"></sds-icon>
                </div>
                <span class="sds-button--icon__title">Renew entity</span>
              </button>
              <button class="sds-button sds-button--icon margin-bottom-1">
                <div class="sds-stack sds-1x">
                  <sds-icon class="sds-stack-icon text-accent-warm-lighter" [size]="'2x'" [icon]="['bs', 'square-fill']"></sds-icon>
                  <sds-icon class="sds-stack-icon text-base-darker" [size]="'md'" [icon]="['bs', 'check-square']"></sds-icon>
                </div>
                <span class="sds-button--icon__title">Check registration status</span>
              </button>
            </div>
          </landing-tile>
      </landing-hero>

      <landing-accordion [items]="accordionContent"></landing-accordion>


      <!-- reports/data & user account sections -->
      <div class="grid-row grid-gap margin-top-8">
        <!-- reports and data -->
        <div class="tablet:grid-col">
          <div class="sds-card sds-card--shadowed sds-card--bordered height-full">
            <div class="sds-card__header  sds-card__header--accent-cool sds-card__header--left">
              <h3 class="sds-card__title"><a class="sds-card__link" [routerLink]="['news']">Data Services</a></h3>
            </div>
            <div class="sds-card__body">
              <!-- contract opportunity report links -->
              <h4 class="sds-card__title">Connect to Service APIs</h4>
              <ul class="sds-list sds-list--unstyled sds-list--flex">
                <li>
                  <i class="sds fa-file "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Getting started with web services
                  </a>
                </li>
                <li>
                  <i class="fa fa-play-circle "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Go to Entity Registration APIs
                  </a>
                </li>
                <li>
                  <i class="fa fa-play-circle  "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Go to Exclusions APIs
                  </a>
                </li>
              </ul>
              <!-- contract opportunity data links -->
              <h4 class="sds-card__title">Downloads</h4>
              <ul class="sds-list sds-list--unstyled sds-list--flex">
                <li>
                  <i class="sds fa-file "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Downloading entity registration files
                  </a>
                </li>
                <li>
                  <i class="sds fa-file "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Downloading exclusions files
                  </a>
                </li>
                <li>
                  <i class="fa fa-play-circle "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Go to Entity Registration Downloads
                  </a>
                </li>
                <li>
                  <i class="fa fa-play-circle"></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Go to Exclusions Downloads
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- do I need a user account -->
        <div class="tablet:grid-col">
          <div class="sds-card sds-card--shadowed sds-card--bordered height-full">
            <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
              <h3 class="sds-card__title"><a class="sds-card__link" [routerLink]="['news']">More About Entity
                  Information</a></h3>
            </div>
            <div class="sds-card__body">
              <!-- contract opportunity data links -->
              <h4 class="sds-card__title">Exclusions Resources</h4>
              <ul class="sds-list sds-list--unstyled sds-list--flex">
                <li>
                  <i class="sds fa-file "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Types of exclusions
                  </a>
                </li>
                <li>
                  <i class="sds fa-file "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Legacy CT Codes
                  </a>
                </li>
                <li>
                  <i class="sds fa-file "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Agency Exclusion POCs
                  </a>
                </li>
              </ul>

              <h4 class="sds-card__title">User Guides</h4>
              <ul class="sds-list sds-list--unstyled sds-list--flex">
                <li>
                  <i class="sds fa-file "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Quick start guide for creating a login.gov account
                  </a>
                </li>
                <li>
                  <i class="sds fa-file "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Exclusions Managmement User Guide for Federal Users
                  </a>
                </li>
                <li>
                  <i class="sds fa-file "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Data Services User Guide
                  </a>
                </li>
              </ul>
              <h4 class="sds-card__title">Help</h4>
              <ul class="sds-list sds-list--unstyled sds-list--flex">
                <li>
                  <i class="sds fa-question-circle "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Frequently Asked Questions
                  </a>
                </li>
                <li>
                  <i class="sds fa-book "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Glossary Terms
                  </a>
                </li>
                <li>
                  <i class="sds fa-video-square "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Videos
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>