<h1>Partners</h1>
<div class="sds-card">
  <div class="grid-row">
    <div class="sds-card__body tablet-lg:grid-col-auto">
      <img class="width-card-lg tablet-lg:margin-left-2"
        [src]="locationStrategy.getBaseHref() + 'assets/img/usa-spending.png'" alt="USA Spending Logo" />
    </div>
    <div class="tablet-lg:grid-col-fill">
      <div class="sds-card__header sds-card__header--left">
        <h2><a class="usa-link" href="https://usaspending.gov" target="_blank">USASpending.gov <sds-icon
              [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></h2>
      </div>
      <div class="sds-card__body">
        <p>The official government searchable website to give the American public access on how tax dollars are spent
          within their communities and all over the U.S. SAM.gov provides the wide range of programs and funding
          opportunities financed by tax dollars.</p>
      </div>
    </div>
  </div>
</div>
<div class="sds-card margin-top-2">
  <div class="grid-row">
    <div class="sds-card__body tablet-lg:grid-col-auto">
      <img class="width-card-lg tablet-lg:margin-left-2"
        [src]="locationStrategy.getBaseHref() + 'assets/img/acquisition-gov.png'" alt="Acquisition.gov Logo" />
    </div>
    <div class="tablet-lg:grid-col-fill">
      <div class="sds-card__header sds-card__header--left">
        <h2><a class="usa-link" href="https://acquisition.gov" target="_blank">Acquisition.gov <sds-icon
              [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></h2>
      </div>
      <div class="sds-card__body">
        <p>A comprehensive website to stay-up-to-date on the latest developments in federal acquisitions and
          electronically search versions from the past and present. SAM.gov also provides a catalog of Federal
          Acquisitions and allows the user to create an account, maintain information, and apply for funding.</p>
      </div>
    </div>
  </div>
</div>
<div class="sds-card margin-top-2">
  <div class="grid-row">
    <div class="sds-card__body tablet-lg:grid-col-auto">
      <img class="width-card-lg tablet-lg:margin-left-2"
        [src]="locationStrategy.getBaseHref() + 'assets/img/Grants-Gov-Logo.png'" alt="Grants.gov Logo" />
    </div>
    <div class="tablet-lg:grid-col-fill">
      <div class="sds-card__header sds-card__header--left">
        <h2><a class="usa-link" href="https://grants.gov" target="_blank">Grants.gov <sds-icon
              [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></h2>
      </div>
      <div class="sds-card__body">
        <p>The official government website to create, search, and apply for federal grants and funding opportunities.
          SAM.gov grants are more specific to those looking to work directly with the government.</p>
      </div>
    </div>
  </div>
</div>
<div class="sds-card margin-top-2">
  <div class="grid-row">
    <div class="sds-card__body tablet-lg:grid-col-auto">
      <img class="width-card-lg tablet-lg:margin-left-2"
        [src]="locationStrategy.getBaseHref() + 'assets/img/disaster-assistance.png'"
        alt="DisasterAssistance.gov Logo" />
    </div>
    <div class="tablet-lg:grid-col-fill">
      <div class="sds-card__header sds-card__header--left">
        <h2><a class="usa-link" href="https://disasterassistance.gov" target="_blank">DisasterAssistance.gov <sds-icon
              [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></h2>
      </div>
      <div class="sds-card__body">
        <p>A user-friendly website provides assistance on how to prepare for, respond to, and recover from disasters.
          SAM.gov contains information on other forms of federal assistance pertaining to government services.</p>
      </div>
    </div>
  </div>
</div>
<div class="sds-card margin-top-2">
  <div class="grid-row">
    <div class="sds-card__body tablet-lg:grid-col-auto">
      <div class="width-card-lg tablet-lg:margin-left-2">
        <img class="width-9" [src]="locationStrategy.getBaseHref() + 'assets/img/Logo_USAGov.png'" alt="USA.gov Logo" />
      </div>
    </div>
    <div class="tablet-lg:grid-col-fill">
      <div class="sds-card__header sds-card__header--left">
        <h2><a class="usa-link" href="https://usa.gov" target="_blank">USA.gov <sds-icon [icon]="'box-arrow-up-right'"
              [size]="'xs'"></sds-icon></a></h2>
      </div>
      <div class="sds-card__body">
        <p>The official government website to publicly access the U.S government information and services. SAM.gov
          provides the funding opportunities for U.S. government services.</p>
      </div>
    </div>
  </div>
</div>
<div class="sds-card margin-top-2">
  <div class="grid-row">
    <div class="sds-card__body tablet-lg:grid-col-auto">
      <img class="width-card-lg tablet-lg:margin-left-2"
        [src]="locationStrategy.getBaseHref() + 'assets/img/benefits-gov.png'" alt="Benefits.gov Logo" />
    </div>
    <div class="tablet-lg:grid-col-fill">
      <div class="sds-card__header sds-card__header--left">
        <h2><a class="usa-link" href="https://benefits.gov" target="_blank">Benefits.gov <sds-icon
              [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></h2>
      </div>
      <div class="sds-card__body">
        <p>The official website for information about benefits available from the U.S. government. SAM.gov provides the
          benefits program content.</p>
      </div>
    </div>
  </div>
</div>

<div class="sds-card margin-top-2">
  <div class="sds-card__header  sds-card__header--base sds-card__header--left">
    <h2>Additional Partners</h2>
  </div>
  <div class="sds-card__body">
    <ul class="sds-list sds-list--no-bullets">
      <li><a class="usa-link" href="https://www.dla.mil" target="_blank">Defense Logistics Agency <sds-icon
            [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></li>
      <li><a class="usa-link" href="https://sba.gov" target="_blank">Small Business Administration <sds-icon
            [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></li>
      <li><a class="usa-link" href="https://govloans.gov" target="_blank">GovLoans.gov <sds-icon
            [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></li>
      <li><a class="usa-link" href="https://mbda.gov" target="_blank">Minority Business Development Agency <sds-icon
            [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></li>
      <li><a class="usa-link" href="https://census.gov" target="_blank">U.S. Census Bureau <sds-icon
            [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></li>
      <li><a class="usa-link" href="https://dol.gov" target="_blank">U.S. Department of Labor <sds-icon
            [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></li>
      <li><a class="usa-link" href="https://ntis.gov" target="_blank">National Technical Information Services <sds-icon
            [icon]="'box-arrow-up-right'" [size]="'xs'"></sds-icon></a></li>
    </ul>
  </div>
</div>
