<main id="main-content">
  <div class="grid-container">
    <div class="grid-row sds-hero sds-hero--image">
      <div class="desktop:grid-offset-1 desktop:grid-col-10">
        <!-- HERO SECTION -->
        <div class="grid-row padding-x-3 desktop:padding-0">
          <div class="desktop:grid-col-fill margin-bottom-4 desktop:margin-0">
            <h1>Contract Data</h1>
            <p class="text-base-dark">Contract data provides detailed information on all contract actions that are required to be reported by federal agencies.  These are actions with an estimated value of $10,000 or more. </p>
            <p><b>The contract data reports in the DataBank on this website are authoritative.  However, <a href="FPDS.gov">FPDS.gov</a> is the authoritative source for searching and all other functions related to contract data.</b>
            </p>
            <h2>Search Assistance Listings</h2>
            <form class="usa-form usa-search usa-search--big desktop:padding-right-2" role="search">
              <label class="usa-sr-only" for="search-field">Search</label>
              <input class="usa-input" id="search-field" type="search" name="search" placeholder="Enter CFDA number or keyword">
              <button class="usa-button" type="submit">
                <span class="usa-sr-only">Search</span>
              </button>
            </form>
            <form>
              <fieldset class="usa-fieldset">
                <div class="usa-checkbox">
                  <input class="usa-checkbox__input" id="truth" type="checkbox" name="historical-figures-1" value="truth" checked="checked">
                  <label class="usa-checkbox__label" for="truth">Show active only</label>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="desktop:grid-col-auto">
            <img src="assets/img/FPDS.png" style="height:80px;">
          </div>
        </div>
      </div>
    </div>
    <!-- ACCORDION -->
    <div class="grid-row">
      <div class="tablet:grid-col-10 tablet:grid-offset-1">
        <div class="usa-accordion usa-accordion--bordered" aria-multiselectable="false">
          <h3 class="usa-accordion__heading sds-accordion__heading-bordered">
            <button class="usa-accordion__button border-top-1px border-base-light" aria-expanded="false" aria-controls="a1">
              Get started searching contract data
            </button>
          </h3>
          <div id="a1" class="usa-accordion__content usa-prose" hidden>

            <!-- Get started links -->
            <h4>Get started searching entities</h4>
            <div class="padding-x-2 display-flex flex-column">
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2003']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search entity registrations</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2004']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search the disaster response registry</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1992']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Save my searches</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2005']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Follow an entity</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2006']">
                <i class="sds fa-video-square text-base-dark margin-right-1"></i>
                <span>Video - Searching entities</span>
              </a>
            </div>

            <!-- additional filters links -->
            <h4>Use additional filters to find entities</h4>
            <div class="padding-x-2 display-flex flex-column">
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2007']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search by entity type</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2008']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search by entity location</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2009']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search by socio-economic status</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2010']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search by product and service codes (NAICS and PSC)</span>
              </a>
            </div>
          </div>
          <h3 class="usa-accordion__heading sds-accordion__heading-bordered">
            <button class="usa-accordion__button usa-accordion__block" aria-expanded="false" aria-controls="a4">
              Use contract data advanced search
            </button>
          </h3>
          <div id="a4" class="usa-accordion__content usa-prose" hidden>
            <!-- specialist/officer links -->
            <h4 class="text-ink text-semibold font-sans-md">Getting started</h4>
            <div class="padding-x-2 display-flex flex-column">
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Quick start guide for searching exclusions</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Save my searches</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-video-square text-base-dark margin-right-1"></i>
                <span>Video - Searching exclusions</span>
              </a>
            </div>
            <h4>Search by exclusion classification</h4>
            <div class="padding-x-2 display-flex flex-column">
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search exclusions for individuals</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search exclusions for firms</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search exclusions for vessels</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Search exclusions for special entity designations</span>
              </a>
            </div>
          </div>
          <h3 class="usa-accordion__heading sds-accordion__heading-bordered">
            <button class="usa-accordion__button usa-accordion__block" aria-expanded="false" aria-controls="a2">
              How to run contract data reports
            </button>
          </h3>
          <div id="a2" class="usa-accordion__content usa-prose" hidden>
            <!-- specialist/officer links -->
            <h4 class="text-ink text-semibold font-sans-md">As a Contracting Officer or Contracting Specialist, you may:</h4>
            <div class="padding-x-2 display-flex flex-column">
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Finding small business information in SAM.gov</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Identifying excluded entities in SAM.gov</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Identifying entities registered for contracts</span>
              </a>
              <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                <i class="sds fa-file text-base-dark margin-right-1"></i>
                <span>Quick start guide for federal users</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CARDS -->
    <div class="grid-row grid-gap flex-wrap padding-3 flex-justify-center">
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a class="sds-card__link">
              <h2 class="sds-card__title">Static Reports</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Meet you annual update requirements
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Create and post listings
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Give your listings a new title
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Assign your listings a new CFDA number
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Move you listings to a new organization
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Manage your CFDA numbers
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Manage your regional locations
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Standard Reports</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Approve or reject role requests
                </a>
              </li>
              <li>
                <i class="sds fa-document-pdf"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Quick start guide for role management
                </a>
              </li>
              <li>
                <i class="sds fa-video-square"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Video - Role Management
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Federal Hierarchy Change Request Quick Start Guide
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Ad Hoc Reports</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-question-circle"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  How to run an administrative report
                </a>
              </li>
              <li>
                <i class="sds fa-angle-circle fa-rotate-180 bg-primary radius-pill"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Go to Databanks
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a class="sds-card__link">
              <h2 class="sds-card__title">Administrative Reports</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-question-circle"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Frequently ASked Questions
                </a>
              </li>
              <li>
                <i class="sds fa-book"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Glossary Terms
                </a>
              </li>
              <li>
                <i class="sds fa-video-square"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Videos
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a class="sds-card__link">
              <h2 class="sds-card__title">Do I need a user account?</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Meet you annual update requirements
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Create and post listings
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Give your listings a new title
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Assign your listings a new CFDA number
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Move you listings to a new organization
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Manage your CFDA numbers
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Manage your regional locations
                </a>
              </li>
            </ul>
            <button class="usa-button">Learn More</button>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Download Data Files</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Approve or reject role requests
                </a>
              </li>
              <li>
                <i class="sds fa-document-pdf"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Quick start guide for role management
                </a>
              </li>
              <li>
                <i class="sds fa-video-square"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Video - Role Management
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Federal Hierarchy Change Request Quick Start Guide
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Connect to Data Services</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-question-circle"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  How to run an administrative report
                </a>
              </li>
              <li>
                <i class="sds fa-angle-circle fa-rotate-180 bg-primary radius-pill"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Go to Databanks
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a class="sds-card__link">
              <h2 class="sds-card__title">Help</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-question-circle"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Frequently ASked Questions
                </a>
              </li>
              <li>
                <i class="sds fa-book"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Glossary Terms
                </a>
              </li>
              <li>
                <i class="sds fa-video-square"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Videos
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
