<main>
  <div class="sds-page">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="grid-col-auto">
          <sds-toolbar #toolbar="sdsToolbar" [expanded]="true">
            <sds-accordion>
              <sds-accordion-item #domainAccordion [expanded]="domainExpanded">
                <sds-accordion-item-header>
                     <span class="text-normal">Select Domain</span> <br>
                     <span>{{domainLabel}}</span>
                </sds-accordion-item-header>
                <sds-side-navigation #sideNav [model]="navigationModel"></sds-side-navigation>
              </sds-accordion-item>
              <sds-accordion-item #filtersAccordion [expanded]="filtersExpanded">
              	<sds-accordion-item-header>Filter By</sds-accordion-item-header>
                  <sds-filters [form]="form" [fields]="fields" [model]="filterModel" [isHistoryEnable]="true" 
                    [advancedFilters]="showAdvancedFilters" [getCleanModel]="true" (filterChange)="filterChange$.next($event)">
                </sds-filters>
              </sds-accordion-item>
            </sds-accordion>
          </sds-toolbar>
        </div>
        <div class="grid-col-fill">
         <search-list-layout #resultList [service]="service" [configuration]="listModel">
              <ng-template #resultContent let-item>
                  <div>
                  	  <assistance-result *ngIf="item._type == 'assistanceListing'" [model]="item"></assistance-result>
                      <opportunity-result *ngIf="item._type == 'opportunity'" [model]="item"></opportunity-result>
                      <entity-result *ngIf="item._type == 'entity'" [model]="item"></entity-result>
                      <exclusion-result *ngIf="item._type == 'exclusion'" [model]="item"></exclusion-result>
                      <dba-result *ngIf="item._type == 'wdDBRA'" [model]="item"></dba-result>
                      <sca-result *ngIf="item._type == 'wdSCA'" [model]="item"></sca-result>
                      <contract-data-result *ngIf="item._type == 'award'" [model]="item"></contract-data-result>
                  </div>
              </ng-template>                
          </search-list-layout>
        </div>
      </div>
    </div>
  </div>
</main>
