<sds-subheader>
  <!-- =============== BACK BUTTON =============== -->
  <button class="sds-button sds-button--circular">
    <fa-icon [icon]="['fas', 'chevron-left']" [fixedWidth]="true"></fa-icon>
  </button>

  <!-- =============== TITLE =============== -->
  <h1 class="font-heading-md text-semibold tablet-lg:width-mobile">
    Search
  </h1>

  <!-- =============== SEARCH =============== -->
  <sds-search
    (term)="newSearch($event)"
    parentSelector=".grid-row"
    placeholder="Enter an ID, name, or keyword"
    inputClass="width-card-lg widescreen:width-mobile display-none desktop-lg:display-inline-block"
  >
  </sds-search>

  <!-- =============== ACTIONS BUTTONS =============== -->
  <sds-subheader-actions
    [model]="subheaderActions"
    (clicks)="subheaderActionClicked($event)">
  </sds-subheader-actions>
</sds-subheader>

<div style="margin-top: 1.5em; margin-bottom: 1.5em;">
<sds-page class="condensed">
  <sds-page-options class="sam-page__options">
    <sds-toolbar class="tablet:grid-col-auto" #toolbar="sdsToolbar" [expanded]="true">
      <sds-accordion>
        <sds-accordion-item #domainAccordion [expanded]="domainExpanded">
          <sds-accordion-item-header>
               <span class="text-normal">Select Domain</span> <br>
               <span>{{domainLabel}}</span>
          </sds-accordion-item-header>
          <sds-side-navigation #sideNav [model]="navigationModel"></sds-side-navigation>
        </sds-accordion-item>
        <sds-accordion-item #filtersAccordion [expanded]="filtersExpanded">
        	<sds-accordion-item-header>Filter By</sds-accordion-item-header>
          <sds-filters [form]="form" [fields]="fields" [model]="filterModel" (filterChange)="filterChange$.next($event)">
          </sds-filters>
          <div *ngIf="service.domain == 'opportunities'" class="grid-row margin-top-1">
        		<div class="grid-col-fill"><button style="background: transparent; border: 0 solid transparent" class="usa-link" (click)="openAdvancedFiltersDialog()">More Filters</button></div>
        		<div class="grid-col-auto"><button style="background: transparent; border: 0 solid transparent" class="usa-link" (click)="resetAll()">Reset All</button></div>
        	</div>
          <div class="grid-row" *ngIf="!service.domain || service.domain == 'all'" class="padding-2">
            <div class="grid-col-fill">
              Select an individual domain to see additional filters
            </div>
          </div>
        </sds-accordion-item>
      </sds-accordion>
    </sds-toolbar>
  <div class="sds-page__content tablet:grid-col-fill margin-0">
     <search-list-layout #resultList [service]="service" [configuration]="listModel">
          <ng-template #resultContent let-item>
              <div>
              	  <assistance-result *ngIf="item._type == 'assistanceListing'" [model]="item"></assistance-result>
                  <opportunity-result *ngIf="item._type == 'opportunity'" [model]="item"></opportunity-result>
                  <entity-result *ngIf="item._type == 'entity'" [model]="item"></entity-result>
                  <exclusion-result *ngIf="item._type == 'exclusion'" [model]="item"></exclusion-result>
                  <dba-result *ngIf="item._type == 'wdDBRA'" [model]="item"></dba-result>
                  <sca-result *ngIf="item._type == 'wdSCA'" [model]="item"></sca-result>
                  <contract-data-result *ngIf="item._type == 'award'" [model]="item"></contract-data-result>
              </div>
          </ng-template>
      </search-list-layout>
  </div> 
  </sds-page-options>
</sds-page>
</div>
