<h2><a class="usa-link" [innerHTML]="model.text" [routerLink]="[model.route]"></a></h2>    
<div class="grid-row grid-gap">   
    <div class="grid-col-12 tablet:grid-col-9">
        <ng-container [ngTemplateOutlet]="getTemplate(model.itemType)"
            [ngTemplateOutletContext]="{ $implicit: model }">
        </ng-container>
    </div>
    <div class="grid-col-12 tablet:grid-col-3">
        <div class="grid-row">
            <div class="grid-col-12">
                <div class="sds-field sds-field--stacked sds-field--small sds-field--featured">
                    <div class="sds-field__name">Status</div>
                    <div class="sds-field__value">
                        <span class="sds-tag sds-tag--outline">
                            <i *ngIf="isPending(model.status)" class="sds-status sds-status--sm sds-status--light-blue"></i>
                            <i *ngIf="isApproved(model.status)" class="sds-status sds-status--sm sds-status--green"></i>
                            <i *ngIf="isRejected(model.status)" class="sds-status sds-status--sm sds-status--red"></i>
                            {{getStatusLabel(model.status)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-12">
                {{model.updated | date}}
            </div> 
        </div>
    </div>
</div>

<ng-template #defaultTemplate let-model>
    <p>{{model.description}}</p>
  
</ng-template>

<ng-template #roleTemplate let-model>
  <strong>{{model.data.userName}}</strong> has requested a <strong>{{model.data.role}}</strong> role for <strong>{{model.data.domain}}</strong>
</ng-template>

<ng-template #entityHierarchyRoleTemplate let-model>
  
</ng-template>

<ng-template #titleChangeTemplate let-model>
  <strong>{{model.data.userName}}</strong> has requested a title change to <strong>{{model.data.listingName}}</strong>
</ng-template>

<ng-template #hierarchyChangeTemplate let-model>
  
</ng-template>

<ng-template #cfdaNumberChangeTemplate let-model>
  
</ng-template>

<ng-template #assistanceListingTemplate let-model>
  
</ng-template>

<ng-template #ombApprovalTemplate let-model>
  
</ng-template>

<ng-template #systemAccountTemplate let-model>
  <strong>{{model.data.userName}}</strong> has requested a system account, <strong>{{model.data.systemName}}</strong>, for <strong>{{model.data.organizationName}}</strong>
</ng-template>
