.header-background {
  background: url("/assets/img/contract-opps.png") no-repeat right bottom;
  background-size: cover;
  padding-bottom: 35px;
  @media only screen and (max-width: 500px) {
    background: url("/assets/img/contract-opps.png") no-repeat 90% 100%;
  }
}

.sds-card.sds-card--tile {
  @media only screen and (max-width: 500px) {
    margin: auto 4px;
  }
}

//DELETE EVERYTHING BELOW AFTER SAM-STYLES UPDATED TO V0.0.56

// .sds-card__header {
//   a,
//   h2,
//   h3 {
//     margin: 0 6px !important;
//     font-weight: 600 !important;
//   }
// }
//
// .sds-card__links {
//   margin-bottom: 0.75rem;
// }
//
// .usa-accordion__heading.sds-accordion__heading button.usa-accordion__block[aria-expanded=true] {
//   border-top: 0.25rem solid #f9f9f7;
//   border-left: 0.25rem solid #f9f9f7;
//   border-right: 0.25rem solid #f9f9f7;
// }
//
// .usa-prose > p {
//   max-width: unset;
// }
