.header-background {
  background: url("/assets/img/contract-opps.png") no-repeat right bottom;
  background-size: cover;
  padding-bottom: 35px;
}
@media only screen and (max-width: 800px) {
  .sds-tile__content {
    width: 85px !important;
  }

  .sds-tile__icon svg {
    width: 50px !important;
  }
}

.usa-prose > p {
  max-width: unset;
}

.usa-accordion__heading.sds-accordion__heading button.usa-accordion__block[aria-expanded=true] {
  border-top: 0.25rem solid #f9f9f7;
  border-left: 0.25rem solid #f9f9f7;
  border-right: 0.25rem solid #f9f9f7;
}

.sds-tile__icon {
  margin: auto;
}
