<h1>All Agency Memorandums</h1>
<table class="sds-table">
    <thead class="sds-table__head">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let memo of service.memorandumData">
            <td>{{memo.memorandumId}}</td>
            <td>{{memo.releasedOn}}</td>
            <td>{{memo.title}}</td>
            <td>{{memo.description}}</td>
        </tr>
    </tbody>
</table>
