<div class="workspace dash">
  <div class="workspace dash content">
      <!-- ************************** 2 CARDS ****************************-->
    <div class="sam workspace cards">
      <!-- CONTRACTING -->
          <h3 class="sam heading">Contracting</h3>
          <sam-card raised="true">
            <ng-container class="header">
              <h4 class="sam heading">
                <a class="sam link arrow" [routerLink]="['/workspace/contractopportunities']">
                  Opportunities
                  <span class="sam ink black visible mobile only">
                    (18)
                  </span>
                </a>
              </h4>
              <button class="sam secondary button">Create Opportunity</button>
            </ng-container>

            <div class="sam statistics visible tablet up">
              <a class="green statistic">
                <div class="value"><span class="circular">15</span></div>
                <div class="label">Active</div>
              </a>
              <a class="blue statistic">
                <div class="value"><span class="circular">0</span></div>
                <div class="label">Draft</div>
              </a>
              <a class="red statistic">
                <div class="value"><span class="circular">1</span></div>
                <div class="label">Rejected</div>
              </a>
              <a class="orange statistic">
                <div class="value"><span class="circular">2</span></div>
                <div class="label">Overdue</div>
              </a>
            </div>
          </sam-card>

          <!-- FEDERAL ASSISTANCE LISTING -->
          <h3 class="sam heading">Federal Assistance</h3>
          <sam-card raised="true">
            <ng-container class="header">
              <h4 class="sam heading">
                <a class="sam link arrow">
                  Federal Assistance Listing
                  <span class="sam ink black visible mobile only">
                    (8)
                  </span>
                </a>
              </h4>
              <button class="sam secondary button">Create Listing</button>
            </ng-container>

            <div class="sam statistics visible tablet up">
              <a class="green statistic">
                <div class="value"><span class="circular">15</span></div>
                <div class="label">Published</div>
              </a>
              <a class="blue statistic">
                <div class="value"><span class="circular">0</span></div>
                <div class="label">Draft</div>
              </a>
              <a class="red statistic">
                <div class="value"><span class="circular">1</span></div>
                <div class="label">Rejected</div>
              </a>
              <a class="orange statistic">
                <div class="value"><span class="circular">2</span></div>
                <div class="label">Overdue</div>
              </a>
            </div>
          </sam-card>

          <!-- SYSTEM ACCOUNTS -->
          <h3 class="sam heading">System Accounts</h3>
          <sam-card raised="true">
            <ng-container class="header">
              <h4 class="sam heading">
                <a class="sam link arrow">
                  System Accounts
                  <span class="sam ink black visible mobile only">
                    (18)
                  </span>
                </a>
              </h4>
            </ng-container>

            <div class="sam statistics visible tablet up">
              <a class="green statistic">
                <div class="value"><span class="circular">15</span></div>
                <div class="label">Active</div>
              </a>
              <a class="blue statistic">
                <div class="value"><span class="circular">0</span></div>
                <div class="label">Draft</div>
              </a>
              <a class="red statistic">
                <div class="value"><span class="circular">1</span></div>
                <div class="label">Rejected</div>
              </a>
              <a class="yellow statistic">
                <div class="value"><span class="circular">1</span></div>
                <div class="label">Pending</div>
              </a>
              <a class="orange statistic">
                <div class="value"><span class="circular">1</span></div>
                <div class="label">Expired</div>
              </a>
              <a class="grey statistic">
                <div class="value"><span class="circular">0</span></div>
                <div class="label">Cancelled</div>
              </a>
            </div>
          </sam-card>
          <!-- SAM SEGMENT -->

          <!-- USER DIRECTORY -->
          <div class="userdir">
          <sam-segment>
                <h3 class="sam heading middle aligned">
                  <span class="icon">
                    <img src="\assets\icon\workspace\user directory 1.svg" class="federal icon" alt="">
                  </span>
                  <a class="sam semibold link arrow">
                    User Directory
                  </a>
                </h3>
                <div class="sam visible tablet up">
                  <label class="sam input label" for="input-type-text">
                    Who are you looking for?
                  </label>
                  <div class="sam search">
                    <input class="sam input" id="input-type-text" name="input-type-text" type="text">
                    <button class="sam tertiary button">
                      <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
          </sam-segment>
          </div>

          <!-- FEDERAL HIERARCHY -->
          <div class="fedassist">
          <sam-segment>
                <h3 class="sam heading middle aligned">
                  <!-- SVG: Created by Henry Chung from the Noun Project -->
                  <span class="icon">
                    <img src="\assets\icon\workspace\federal hierarchy 1.svg" class="federal icon" alt="">
                  </span>
                  <a class="sam semibold link arrow">
                    Federal Hierarchy
                  </a>
                </h3>

                <div class="sam visible tablet up">
                  <label class="sam input label" for="input-type-text">
                    Federal Hierarchy organization lookup
                  </label>
                  <div class="sam search">
                    <input class="sam input" id="input-type-text" name="input-type-text" type="text">
                    <button class="sam tertiary button">
                      <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
          </sam-segment>
          </div>
    </div>
    <!-- ************************** 3 SAM SEGMENT ****************************-->
    <div class="sam search cards">

      <!-- USER DIRECTORY -->
      <div class=" user search">
        <sam-segment>
          <h3 class="sam heading middle aligned">
            <span class="icon">
              <img src="\assets\icon\workspace\user directory 1.svg" class="federal icon" alt="">
            </span>
            <a class="sam semibold link arrow">
              User Directory
            </a>
          </h3>
          <div class="sam visible tablet up">
            <label class="sam input label" for="input-type-text">
              Who are you looking for?
            </label>
            <div class="sam search">
              <input class="sam input" id="input-type-text" name="input-type-text" type="text">
              <button class="sam tertiary button">
                <span class="fa fa-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </sam-segment>
      </div>

        <!-- FEDERAL HIERARCHY -->
      <div class="hierarchy search">
        <sam-segment>
          <h3 class="sam heading middle aligned">
            <span class="icon">
              <img src="\assets\icon\workspace\federal hierarchy 1.svg" class="federal icon" alt="">
            </span>
            <a class="sam semibold link arrow">
              Federal Hierarchy
            </a>
          </h3>

          <div class="sam visible tablet up">
            <label class="sam input label" for="input-type-text">
              Federal Hierarchy organization lookup
            </label>
            <div class="sam search">
              <input class="sam input" id="input-type-text" name="input-type-text" type="text">
              <button class="sam tertiary button">
                <span class="fa fa-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </sam-segment>
      </div>
    </div>
    <!-- ************************ 4 ASIDE** ****************************-->
    <aside class="sam workspace aside">
        <!-- Profile -->
          <sam-card>
            <ng-container class="header">
              <h3 class="sam heading">
                <a [routerLink]="['/profile']" class="sam semibold">Profile</a>
              </h3>
            </ng-container>
            <div class="sam feed visible tablet up">
              <div class="profile content">
                <div class="profile-icon">
                  <img src="\assets\icon\workspace\profile 1.svg" alt="Profile Icon">
                </div>
                <div class="profile">
                  Firstname Lastname
                  <br> Firstname.lastname.cfda@hhs.gov
                  <div class="dept-label">
                    <a class="department">HEALTH AND HUMAN SERVICES</a><br>
                      <i>Department</i>
                  </div>
                </div>
              </div>
            </div>
          </sam-card>
            <!-- PENDING REQUEST -->
          <sam-card>
            <ng-container class="header">
              <h3 class="sam heading">
                <a class="sam semibold">Pending Requests</a>
              </h3>
              <span class="sam circular red label visible mobile only">
                4
              </span>
            </ng-container>
            <div class="sam feed visible tablet up">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <a class="action">Assign Role</a> to K. Litchfield
                    <div class="date">Sep 24 8:55 AM</div>
                  </div>
                  <div class="meta">
                    <em>Type of role and name of organization</em>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <a class="action">Assign Role</a> to M. Sanchez
                    <div class="date">10:04 AM</div>
                  </div>
                  <div class="meta">
                    <em>Type of role and name of organization</em>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <a class="action">Delete Opportunity</a> for A. Lewis
                    <div class="date">Monday</div>
                  </div>
                  <div class="meta">
                    <em>Details and name of organization</em>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <a class="action">Assign Role</a> to J. Wong
                    <div class="date">Nov 12</div>
                  </div>
                  <div class="meta">
                    <em>Type of role and name of organization</em>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <a class="action">Approve Sub-Award Report</a> for A. Peterson
                    <div class="date">Nov 9</div>
                  </div>
                  <div class="meta">
                    <em>Details and name of organization</em>
                  </div>
                </div>
              </div>
            </div>
          </sam-card>
          <!-- NOTIFICATION -->
          <sam-card>
            <ng-container class="header">
              <h3 class="sam heading">
                <a class="sam semibold">Notifications</a>
              </h3>
            </ng-container>
            <div class="sam feed visible tablet up">
              <div class="event">
                <div class="content">
                  <div class="notif content">
                    <div class="notif icon">
                      <img src="\assets\icon\workspace\contracting.svg" alt="icon" width="25">
                    </div>
                    <div class="sam notif summary">
                      Wage Determinations: <b>CA09832498</b> has been updated.
                    </div>
                    <div class="date">
                      Nov 12
                    </div>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="notif content">
                    <div class="notif icon">
                      <img src="\assets\icon\workspace\contracting.svg" alt="" width="25">
                    </div>
                    <div class="sam notif summary">
                      Contract Opportunities: <b>Z-Replacement and installation of an irrigation system</b> has been updated.
                    </div>
                    <div class="date">
                      10:04 AM
                    </div>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="notif content">
                    <div class="notif icon">
                      <img src="\assets\icon\workspace\contracting.svg" alt="" width="25">
                    </div>
                    <div class="sam notif summary">
                      Planned System Downtime Sep 29, 2019 from 2am-3am
                    </div>
                    <div class="date">
                      Nov 9
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </sam-card>
          <!-- ROLE CARD-->
          <div class="sam workspace role">
          <sam-card>
              <ng-container class="header">
                <h3 class="sam heading">
                  <a class="sam semibold">Add A New Role</a>
                </h3>
              </ng-container>
              <div class="sam feed visible tablet up">
              <div class="sam role request">
                <div class="role content">
                  Select one of the options below to request a new role. If you need a role that you do not see below, contact a website administrator from your agency directly.
                </div>
                <div class="roledropdown">
                  <select>
                    <option value="contracting specialist">Contracting Specialist</option>
                    <option value="role1">Role 1</option>
                    <option value="role2">Role 2</option>
                    <option value="role3">Role 3</option>
                  </select>
                  A contracting specialist contributes to contract opportunities.
                </div>
                <form class="checkrole"> <input type="checkbox" name="checkrole" value="verified">
                  <label for="verified"> I verify I have a business need for this role.</label>
                </form>
                <button type="button" class="rolerequest">Request Role</button>
              </div>
              </div>
          </sam-card>
          </div>
    </aside>
    <!-- ************************ 5 ROLE CARD*******************************-->
    <div class="sam workspace role">
      <sam-card>
        <ng-container class="header">
          <h3 class="sam heading">
            <a class="sam semibold">Add A New Role</a>
          </h3>
        </ng-container>
        <div class="sam feed visible tablet up">
        <div class="sam role request">
          <div class="role content">
            Select one of the options below to request a new role. If you need a role that you do not see below, contact a website administrator from your agency directly.
          </div>
          <div class="roledropdown">
            <select>
              <option value="contracting specialist">Contracting Specialist</option>
              <option value="role1">Role 1</option>
              <option value="role2">Role 2</option>
              <option value="role3">Role 3</option>
            </select>
            A contracting specialist contributes to contract opportunities.
          </div>
          <form class="checkrole"> <input type="checkbox" name="checkrole" value="verified">
            <label for="verified"> I verify I have a business need for this role.</label>
          </form>
          <button type="button" class="rolerequest">Request Role</button>
        </div>
        </div>
      </sam-card>
    </div>
  </div>
</div>
