
<div class="measure-6">
	<h1>Accessibility</h1>
	<p>The General Services Administration is committed to providing access to our websites for all visitors with disabilities.</p>
	<p>To meet this commitment, we comply with the requirements of Section 508 of the Rehabilitation Act. Section 508 (29 U.S.C. 794d), requiring that individuals with disabilities, who are federal employees or members of the public seeking information or services from us have access to and use of information and data that is comparable to the information provided to federal employees or the public who are not individuals with disabilities, unless an undue burden would be imposed on us.</p>
</div>