<h2>SCA Conformances</h2>
<p>The U. S. Department of Labor (DOL) issues wage determinations under the Service Contract Act (SCA) using available statistical data on prevailing wages and benefits paid in a specific locality. On occasion, the data does not contain sufficient information to issue rates for a particular classification of worker needed in the performance of the contract. Because of this, SCA provisions contain a conformance procedure for the purpose of establishing an enforceable wage and benefit rate for the missing classification.</p>

<h3>PRE-AWARD</h3>

<p>Contractors are responsible for determining the appropriate staffing necessary to perform the contract work. Contractors are also responsible for complying with the minimum wage and benefits requirements for each classification performing work on the contract. If a classification considered necessary by the contractor for performance of the work is not listed on the applicable wage determination, the contractor must initiate a request for approval of an additional classification along with the proposed wage and benefit rates for that classification.</p>

<h3>POST-AWARD</h3>

<h4>Awarded Contractors</h4>
<p>Awarded Contractor initiates the request by preparing an SF1444, Request for Authorization of Additional Classification and Rate, at the time of employment of the unlisted classification. (Reference FAR 22.1019 and 52.222-41(c), and Title 29 CFR Part 4.6(b)(2)). The contractor completes blocks 2 through 15 on the form. Request may be submitted to DOL without the form, but must contain the required information.</p>

<h4>Employees</h4>
<p>Employees, if present, or their designated representative must sign block 16 noting their concurrence or disagreement with the contractor’s proposed wage and benefit rate. If the employee indicates disagreement with the contractor's proposal, he must provide a statement supporting a recommendation for different rates. ("Designated representative" is generally a union. It cannot be the contractor 's personnel officer or other contractor representative.)</p>

<h4>Contractors</h4>
<p>Contractors submits the request to the Contracting Officer.</p>

<h4>Contracting Officers</h4>
<p>Contracting Officer reviews the request for completeness and signs the form designating the contracting agency's concurrence or disagreement with regard to the contractor's proposal. If the Contracting Officer indicates disagreement with the contractor's proposal, a statement must be attached supporting a recommendation for different rates. The Contracting Officer then submits the proposal with all attachments to DOL for approval. The Contractor is obligated to pay the proposed wage and benefit rates pending a response from DOL.</p>

<h3>Checklist for SCA Conformances</h3>
<ol type="a">
  <li>The classification must be appropriate for the contract work.</li>
  <li>The contractor cannot propose a new classification by combining job duties from two or more existing classifications on the wage determination, or propose a new classification that performs only part of the duties of an existing classification.</li>
  <li>The proposed classification cannot be a "trainee" or a "helper".</li>
  <li>The proposed wage rate for the new classification should generally be no lower than the wage rate of the lowest skilled classification on the determination.</li>
  <li>Conformance requests should not be submitted for exempt classifications (project managers, full-time supervisors, professionals such as engineers).</li>
  <li>The proposed rate should bear a reasonable relationship to the wage rates listed on the wage determination. The proposed fringe benefits should be the same as listed on the wage determination.</li>
  <li>The contractor must attach a brief job description to each SF1444 request submitted for classifications not included in DOL's Service Contract Act Directory of Occupations. The description must include the federal wage grade equivalent. The contractor should include all pertinent documentation supporting his request.</li>
  <li>If the contractor has further questions about a conformance process, he/she may contact the nearest Regional Office of the U. S. Department of Labor, Wage and Hour Division (see DOL's website (opens in new window)).</li>
</ol>