<form [formGroup]="frmStepper" (submit)="submit()">
  <app-stepper #cdkStepper formArrayName="steps" [linear]="isLinear">
    <cdk-step [editable]="isEditable" formGroupName="0" [stepControl]="formArray.get([0])">
      <ng-template cdkStepLabel>
        <span>Details</span>
      </ng-template>
      <div class="container">
        <label class="usa-label" for="input-type-text">Program or Project Title (Optional)</label>
        <input class="usa-input" id="input-type-text" formControlName="firstName" name="input-type-text" type="text">

        <label class="usa-label" for="input-type-text">Last Name</label>
        <input class="usa-input" id="input-type-text" formControlName="lastName" name="input-type-text" type="text">

        <label class="usa-label" for="input-type-text">Email</label>
        <input class="usa-input" id="input-type-text" formControlName="email" name="input-type-text" type="text">

      </div>
    </cdk-step>

  </app-stepper>
</form>

<div *ngIf="frmValues" class="content has-content-centered">
  <h3 class="subtitle">Form Values</h3>
  {{ frmValues | json }}
</div>
