<div class="grid-row">
	<div class="grid-col-12">
		<sam-feature-banner title="Databank" domain="databank" featureImage="/assets/img/contracting-home-feature.jpg">
			<p class="sam lead">Perform detailed analysis of federal spending.</p>
			<sam-search-input domain="all"></sam-search-input>
		</sam-feature-banner>
	</div>
</div>
<div class="grid-row">
	<div class="sam landing card grid-col-4">
		<div class="grid-row">
			<div class="grid-col-3">
				<img src="/assets/img/sam-icons/entities 2.svg">
			</div>
			<div class="grid-col-9">
				<h3 class="sam header">
					Entity Reports
				</h3>
			</div>
		</div>
	</div>
	<div class="sam landing card grid-col-8">
		<h3 class="sam header"><a>Contract Data Reports</a></h3>
		<p>Contract data reports can be used to support analysis of federal spending including geographical analysis, market analysis, and analysis on the impact of the congressional and presidential initiatives in socio-economic areas such as small business spending. The data is also a reliable basis for measuring and assessing the impact of Federal acquisition policy and management improvement.</p>
		<h3 class="sam header">Featured Reports</h3>
		<h4 class="sam header">Recovery Reports</h4>
			<ul class="sam linklist">
				<li><a>Recovery Reports for Opportunities</a></li>
				<li><a>Recovery Reports for Awards</a></li>
			</ul>
	</div>
</div>
<div class="sam landing card grid-row">
	<div class="grid-col">
		<div class="grid-row">
			<div class="grid-col-1">
				<img src="/assets/img/workspace 3.png">
			</div>
			<div class="grid-col-11">
				<h3 class="sam header">Contract Opportunity Reports</h3>
				<p><span class="sam link" (click)="model.signIn('/entities-workspace')">Sign In</span> to access your workspace.</p>
			</div>
		</div>
		<div class="grid-row">
			<div class="grid-col">
				<h3 class="sam header">Federal Users</h3>
				<ul>
					<li>Contract Opportunities</li>
					<li>Contract Data</li>
					<li>Sub-Award Reports</li>
					<li>Past Performance</li>
				</ul>
			</div>
			<div class="grid-col">
				<h3 class="sam header">Non-Federal Users</h3>
				<ul>
					<li>Report Sub-Award</li>
					<li>View and Respond to Past Performance</li>
				</ul>
			</div>
		</div>
	</div>
</div>

