<main>
  <div class="n-sds-page">
      <div class="grid-container">
      <!-- HERO SECTION -->
      <section>
        <div class="n-sds-hero">
          <div class="grid-row">
            <div class="tablet:grid-col-fill">
              <h1>Contract Opportunities</h1>
              <p class="usa-prose usa-intro">This site is the official source of contracting opportunities from the federal government. Anyone interested in doing business with the government can use this system to research active opportunities.</p>
            </div>
            <div class="sds-seal margin-top-4 margin-right-neg-3 tablet:grid-col-auto">
                <i class="sds fa-flag fa-2x text-secondary"></i>
                <div class="sds-seal__content">Official U.S. Government Website<span>100% Free</span></div>
            </div>
          </div>
          <h2 class="font-sans-lg margin-top-4 text-ink text-semibold">Search Contract Opportunities</h2>
          <div class="maxw-tablet">
            <sds-search placeholder="Enter a solicitation ID or keyword" 
              (term)="search($event)" 
              placeholderText="Enter a notice ID or keyword"
              inputClass="sds-search--big">
            </sds-search>
          </div>
        </div>
      </section>

      <!-- accordion & links -->
      <div class="grid-row">
        <div class="tablet:grid-col-10 tablet:grid-offset-1">
          <div class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
            <h3 class="usa-accordion__heading sds-accordion__heading-bordered">
              <button class="usa-accordion__button usa-accordion__block" aria-expanded="false" aria-controls="a1">How to find opportunities to do business with the government
              </button>
            </h3>
            <div id="a1" class="usa-accordion__content usa-prose" hidden>
            
                <!-- Get started links -->
                <h4>Get started searching contract opportunities</h4>
                <div class="padding-x-2 display-flex flex-column">
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1990']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Use the search feature on SAM.gov</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1991']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Follow contract opportunities</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1992']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Save my searches</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1993']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Use the interested vendors list</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1994']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Quick start quide for contractors</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1995']">
                  <i class="sds fa-video-square text-base-dark margin-right-1"></i>
                  <span>Video - Use contract opportunities to do business with the government</span>
                </a>
              </div>
        
              <!-- additional filters links -->
              <h4>Use additional filters to find contract opportunities</h4>
              <div class="padding-x-2 display-flex flex-column">
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1996']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Changing search filters</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1997']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Understanding notice types</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1998']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Set-Asides for small businesses</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/1999']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Using NAICS codes</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2000']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Using PSC codes</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help/2001']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Search by place of performance</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Vendor collaboration opportunities</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['/help']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Small business events</span>
                </a>
              </div>
            </div>
            <h3 class="usa-accordion__heading sds-accordion__heading-bordered">
              <button class="usa-accordion__button usa-accordion__block" aria-expanded="false" aria-controls="a2">
                I am a federal employee working on contract opportunities
              </button>
            </h3>
            <div id="a2" class="usa-accordion__content usa-prose" hidden>
              <!-- specialist/officer links -->
              <h4 class="text-ink text-semibold font-sans-md">As a Contracting Officer or Contracting Specialist, you may:</h4>
              <div class="padding-x-2 display-flex flex-column">
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Create and post contract opportunities</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Manage attachments and the interested vendor list</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Deactive or reactivate a contract opportunity</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Approve or reject role requests</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Use a system account</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Quick start guide for role management</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                  <i class="sds fa-video-square text-base-dark margin-right-1"></i>
                  <span>Video - Role management</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Quick start guide for system accounts</span>
                </a>
                <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
                  <i class="sds fa-video-square text-base-dark margin-right-1"></i>
                  <span>Video - System accounts</span>
                </a>
              </div>
            </div>
        </div>
      </div>
  </div>

  <!-- reports/data & user account sections -->
  <div class="grid-row margin-top-8">
    <!-- reports and data -->
    <div class="tablet:grid-col sds-card">
      <div class="sds-card__header">
        <h3><a [routerLink]="['news']">Reports and Data</a></h3>
      </div>
      <div class="sds-card__body">
        <!-- contract opportunity report links -->
        <h4 class="sds-card__title">Contract Opportunity Reports</h4>
        <div class="sds-card__links">
          <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
            <i class="sds fa-file text-base-dark margin-right-1"></i>
            How to run a databank report
          </a>
          <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
            <i class="sds fa-new-note text-base-dark margin-right-1"></i>
            Go to databank reports
          </a>
        </div>
        <!-- contract opportunity data links -->
        <h4 class="sds-card__title">Contract Opportunity Reports</h4>
        <div class="sds-card__links">
          <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
            <i class="sds fa-file text-base-dark margin-right-1"></i>
            Quick start guide for data services
          </a>
          <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
            <i class="sds fa-file text-base-dark margin-right-1"></i>
            How to use contract opportunities APIs
          </a>
          <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
            <i class="sds fa-file-chart-line text-base-dark margin-right-1"></i>
            Go to contract opportunities APIs
          </a>
          <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
            <i class="sds fa-file text-base-dark margin-right-1"></i>
            How to use file extractions
          </a>
          <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
            <i class="sds fa-download fa-rotate-270 text-base-dark margin-right-1"></i>
            Go to file extractions
          </a>
          <a class="usa-link text-semibold margin-y-1 display-flex flex-row flex-align-center" [routerLink]="['news']">
            <i class="sds fa-flag text-base-dark margin-right-1"></i>
            Buy American Act Data
          </a>
        </div>
      </div>
    </div>
    <!-- do I need a user account -->
    <div class="tablet:grid-col sds-card">
      <div class="sds-card__header">
        <h3><a [routerLink]="['news']">Do I need a user account?</a></h3>
      </div>
      <div class="grid-row">
        <div class="tablet:grid-col padding-2 padding-bottom-0 text-base">
          <p class="margin-0 line-height-sans-5">While you don’t need a user account to view contract opportunities, you will need one to access additional capabilities available on SAM. With a Login.gov account, you can sign in to multiple government websites,
            including SAM.gov, with the same username and password. With a user account you may</p>
          <ul class="margin-top-05">
            <li>Saved searches</li>
            <li>Follow changes and opportunities</li>
            <li>Join interested vendor lists</li>
          </ul>
        </div>
        <div class="tablet:grid-col-5 padding-2">
          <!-- paste video code here -->
          <img src="assets/img/home-video.png" style="width:100%;" class="text-center">
          <div class="font-sans-3xs text-base text-center">Video on how to create a login.gov account</div>
        </div>
      </div>
      <div class="sds-card__body padding-top-0">
        <div class="sds-card__links">
          <a class="usa-link" [routerLink]="['news']">
            <i class="sds fa-file text-base-dark margin-right-1"></i>
            Quick start guide for creating a login.gov account
          </a>
          <a class="usa-link" [routerLink]="['news']">
            <i class="sds fa-book text-base-dark margin-right-1"></i>
            Glossary terms
          </a>
          <a class="usa-link" [routerLink]="['news']">
            <i class="sds fa-question text-base-dark margin-right-1"></i>
            Frequently asked quesions
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</main>
