  <div class="grid-row grid-gap">
    <div class="grid-col">
      <h3 class="font-sans-xs margin-y-0">
        <a class="usa-link" [routerLink]="['/system-account/' + model.id]">
          {{model.info.accountName}}
        </a>
        <div class="action-menu float-right">
          <sds-actions-menu [model]="menu" (clicks)="log($event)"></sds-actions-menu>
        </div>
      </h3>
    </div>
  </div>
  <div class="grid-row grid-gap">
    <div class="grid-col-fill">
      <p  class="sds-static">
        {{model.info.systemDescription}}
      </p>
    </div>
    <div class="tablet:grid-col-4 grid-col-12">

      <!-- Horizontal Config -->
      <div class="grid-row grid-gap-05">

        <!-- Key/Value Wrapper -->
        <div class="tablet:grid-col-6 grid-col-4">
          <div class="grid-row">
            <div class="grid-col-12">
              <div class="sds-static--label font-sans-3xs text-light text-italic">Status</div>
            </div>
            <div class="grid-col-12">
              <span *ngIf="model.status == 'Active'" class="sds-tag sds-tag--block sds-tag--outline-green border--hairline">{{model.status}}</span>
              <span *ngIf="model.status == 'Inactive'" class="sds-tag sds-tag--block sds-tag--outline-red border--hairline">{{model.status}}</span>
              <span *ngIf="model.status == 'Draft'" class="sds-tag sds-tag--block sds-tag sds-tag--outline-light-blue border--hairline">{{model.status}}</span>
            </div>
          </div>
        </div>

        <!-- Key/Value Wrapper -->
        <div class="tablet:grid-col-6 grid-col-4">
          <div class="grid-row">
            <div class="grid-col-12">
              <div class="sds-static--label font-sans-3xs text-light text-italic">Expiration Date</div>
            </div>
            <div class="grid-col-12">
              <span class="sds-tag sds-tag--block sds-tag--alt border--hairline">{{model.expiresDate | date }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>



