<div class="sds-page main padding-2">
<!-- HERO SECTION -->
  <section class="sds-hero">
    <div class="grid-row margin-right-neg-2">
      <div class="tablet:grid-col-fill">
        <h1 class="text-base margin-bottom-0">Entity Registration</h1>
          <h2>What is an Entity?</h2>
       <p class="usa-intro">In SAM, your company/business/organization is referred to as an “Entity.” You register your entity to do 
              business with the U.S. Federal government by completing the registration process in SAM.  SAM is the official free, government operated website – there is NO charge to register or maintain your entity registration record in SAM.</p>
      </div>
      <div class="sds-seal margin-top-4 tablet:grid-col-auto">
          <i class="sds fa-flag fa-2x text-secondary"></i>
          <div class="sds-seal__content">
            Official U.S. Government Website
            <span>100% Free</span>
          </div>
      </div>
    </div>
<!-- TABS ADN TILES -->
    <div class="grid-row content-row desktop:padding-top-4">
      <div class="desktop:grid-col-7">
        <div class="tabs">
        </div>
      </div>
      <div class="desktop:grid-col-4">
        <h2 class="text-base-dark margin-105">New to SAM.gov?</h2>
        <div class="sds-button--outline margin-left-105">
          <button class="sds-button sds-button--icon text-center">
            <span class="fa-stack fa-2x">
              <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
              <i class="sds fa-video-play fa-stack-1x text-base fa-2x"></i>
            </span>
            <a class="usa-link" [routerLink]="['/home/new-to-sam']">
            <span class="sds-button--icon__title">Help Me Get Started</span>
            </a>
          </button>
        </div>
        <div class="sds-tile-wrapper">
          <div class="sds-tile sds-tile--block">
            <div href="#" class="sds-tile--outline">
              <h3 class="sds-tile__title">Ready to Register?</h3>
              <div class="sds-tile__details">
                <button class="usa-button" [routerLink]="['/entity-registration/register']">Register Entity</button>
                <div class="sds-links">
                  <a class="usa-link" [routerLink]="['/entity-registration/register']"><i class="sds fa-angle-circle fa-rotate-180"></i> Update Registration</a>
                  <a class="usa-link" [routerLink]="['/home/check-status']"><i class="sds fa-angle-circle fa-rotate-180"></i> Check Status</a>
                </div>
              </div>
            </div>
          </div>

          <div class="sds-tile sds-tile--block">
            <div href="#" class="sds-tile--outline">
              <h3 class="sds-tile__title">I'm Already Registered</h3>
              <div class="sds-tile__details">
                <div class="sds-links">
                  <a class="usa-link" [routerLink]="['/help/2012']"><i class="sds fa-file"></i> Manage your entity registration</a>
                  <a class="usa-link" [routerLink]="['/help/2013']"><i class="sds fa-file"></i> Manage users and roles (non-federal users)</a>
                  <a class="usa-link" [routerLink]="['/help/2014']"><i class="sds fa-file"></i> Manage users and roles (federal users)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- CUSTOMER SERVICE & ENTITY REGISTRATION SECTIONS -->
  <section class="content-row--lg">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-5 padding-y-4">
        <div class="sds-callout">
          <div class="sds-callout__header">
            Customer Service
          </div>
          <div class="sds-callout__body">
            <span class="sds-callout__title">Registration Status</span>
            <p>Entity registration typically takes between a few hours to 2 days to become active.</p>

            <div class="sds-links">
              <a class="usa-link" [routerLink]="['/home/check-status']"><i class="sds fa-question"></i>Check Registration Status</a>
            </div>

            <span class="sds-callout__title">Federal Service Desk</span>
            <p>For technical issues, please visit the Federal Service Desk.</p>

            <p><b>Hours of Operation: </b>Monday - Friday 8 a.m. to 8 p.m. ET</p>
            <div class="sds-links">
              <span>Available Services</span>
              <a class="usa-link"><i class="sds fa-new-note"></i>Live Chat</a>
              <a class="usa-link"><i class="sds fa-new-note"></i>Web Form</a>
              <a class="usa-link"><i class="sds fa-new-note"></i>Call</a>
            </div>

            <span class="sds-callout__title"><a class="usa-link" href="https://www.aptac-us.org/">Procurement Technical Assistance Centers (PTACS)</a></span>
            <p>An official resource for government contracting assistance. Find your local PTAC to get free help with your SAM registration and other government contracting issues. Visit <a class="usa-link" href="https://www.aptac-us.org/" target="_blank">aptac-us.org</a>.</p>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-fill padding-y-4">
        <div class="sds-callout">
          <div class="sds-callout__header">
            More about Entity Registration
          </div>
          <div class="grid-row">
            <div class="sds-callout__body tablet:grid-col-fill">
              <div class="sds-links">
                <span>Entity Registration Questions</span>
                <a class="usa-link"><i class="sds fa-new-note"></i>What do the different registration statuses mean?</a>
                <a class="usa-link"><i class="sds fa-new-note"></i>Why isn't the registration active yet?</a>
                <a class="usa-link"><i class="sds fa-new-note"></i>What happens if my entity registration fails validation?</a>
                <a class="usa-link"><i class="sds fa-question-circle"></i>More FAQs</a>
              </div>

              <div class="sds-links">
                <span>Help</span>
                <a class="usa-link"><i class="sds fa-book"></i>Glossary Terms</a>
                <a class="usa-link"><i class="sds fa-video-square"></i>Videos</a>
              </div>

              <div class="sds-links">
                <span>Resources</span>
                <a class="usa-link"><i class="sds fa-book"></i>SBA’s Dynamic Small Business Search (DSBS)</a>
                <a class="usa-link"><i class="sds fa-book"></i>NAICS Classification System</a>
              </div>

              <div class="sds-links">
                <span>User Guides</span>
                <a class="usa-link"><i class="sds fa-book"></i>Entity Registration User Guide for the Federal Acquisition Community</a>
                <a class="usa-link"><i class="sds fa-book"></i>Entity Registration User Guide for the Federal Assistance Community</a>
              </div>
            </div>
            <div class="sds-callout__body tablet:grid-col-3">
              <div class="video"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ENTITY INFORMATION ICON LINKS -->
  <section class="content-row--lg" hidden>
    <h6 class="font-sans-lg text-secondary-dark text-normal margin-y-1 margin-left-2">Entity Information</h6>
    <p class="margin-left-2">Go to our entity information page to find more features and information about entities including the following.</p>
    <div class="grid-row  ">
      <div class="sds-tile--list desktop:grid-col">
        <span class="fa-stack fa-2x">
          <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
          <i class="sds fa-search fa-stack-1x text-base fa-2x"></i>
        </span>
        <ul>
          <li><b>Search</b></li>
          <li>Entity Registrations</li>
          <li>Disaster Response Registry</li>
          <li>Exclusions</li>
        </ul>
      </div>
      <div class="sds-tile--list desktop:grid-col">
        <span class="fa-stack fa-2x">
          <i class="sds fa-pentagon fa-stack-2x text-primary-lighter fa-1x"></i>
          <i class="sds fa-pen-paper fa-stack-1x text-base fa-2x"></i>
        </span>
        <ul>
          <li><b>Data Services</b></li>
          <li>Entity Registrations</li>
          <li>Disaster Response Registry</li>
          <li>Exclusions</li>
        </ul>
      </div>
      <div class="sds-tile--list desktop:grid-col">
        <span class="fa-stack fa-2x">
          <i class="sds fa-leaf fa-stack-2x text-yellow fa-1x"></i>
          <i class="sds fa-user-circle fa-stack-1x text-base fa-2x"></i>
        </span>
        <ul>
          <li><b>For Federal Users</b></li>
          <li>Entity Registrations</li>
          <li>Disaster Response Registry</li>
          <li>Exclusions</li>
        </ul>
      </div>
    </div>
  </section>
</div>
