<main>
  <div class="n-sds-page">
    <div class="grid-container">
      <!-- SDS HERO  -->
      <section>
        <div class="n-sds-hero">
          <div class="grid-row">
            <div class="tablet:grid-col-fill">
              <h1 class="text-base margin-bottom-0">Entity Registration</h1>
              <h2>What is an Entity?</h2>
              <p class="usa-intro">In SAM, your company/business/organization is referred to as an “Entity.” You register your entity to do
                business with the U.S. Federal government by completing the registration process in SAM. SAM is the official free, government operated website – there is NO charge to register or maintain your entity registration record in SAM.</p>
            </div>
            <div class="sds-seal margin-top-4 tablet:grid-col-auto">
              <i class="sds fa-flag fa-2x text-secondary"></i>
              <div class="sds-seal__content">
                Official U.S. Government Website
                <span>100% Free</span>
              </div>
            </div>
          </div>
          <!-- TABS ADN TILES -->
          <div class="grid-row content-row desktop:padding-top-4">
            <div class="desktop:grid-col-7">
              <div class="tabs">
              </div>
            </div>
            <div class="desktop:grid-col-4">
              <h2 class="text-base-dark margin-105">New to SAM.gov?</h2>
              <div class="sds-button--outline margin-left-105">
                <button class="sds-button sds-button--icon text-center">
                  <span class="fa-stack fa-2x">
                    <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
                    <i class="sds fa-video-play fa-stack-1x text-base fa-2x"></i>
                  </span>
                  <a class="usa-link" [routerLink]="['/home/new-to-sam']">
                    <span class="sds-button--icon__title">Help Me Get Started</span>
                  </a>
                </button>
              </div>
              <div class="sds-tile-wrapper">
                <div class="sds-tile--outline">
                  <header class="sds-tile__header">
                    <h3>I'm Already Registered</h3>
                  </header>
                  <div class="sds-tile__body">
                    <button class="usa-button" [routerLink]="['/entity-registration/register']">Register Entity</button>
                    <ul class="sds-list sds-list--unstyled sds-list--flex text-secondary-dark">
                      <li>
                        <i class="sds fa-angle-circle fa-2x fa-rotate-180  bg-primary radius-pill"></i>
                        <span class="sr-only"></span> Update Registration
                      </li>
                      <li>
                        <i class="sds fa-angle-circle fa-2x fa-rotate-180 bg-primary radius-pill"></i>
                        <span class="sr-only"></span> Check Status
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="sds-tile--outline">
                  <header class="sds-tile__header">
                    <h3>I'm Already Registered</h3>
                  </header>
                  <div class="sds-tile__body">
                    <ul class="sds-list sds-list--unstyled sds-list--flex text-secondary-dark">
                      <li>
                        <i class="sds fa-new-note fa-2x"></i>
                        <span class="sr-only"></span> Manage your entity registration
                      </li>
                      <li>
                        <i class="sds fa-new-note fa-2x"></i>
                        <span class="sr-only"></span> Manage users and roles (non-federal users)
                      </li>
                      <li>
                        <i class="sds fa-new-note fa-2x"></i>
                        <span class="sr-only"></span> Manage users and roles (federal users)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- CUSTOMER SERVICE & ENTITY REGISTRATION SECTIONS -->
      <section>
        <div class="grid-row">
          <div class="tablet:grid-col sds-card sds-card--shadowed sds-card--bordered margin-1">
            <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
              <h2 class="sds-card__title">Contract Opportunities</h2>
            </div>
            <div class="sds-card__body">
              <span>Registration Status</span>
              <p>Entity registration typically takes between a few hours to 2 days to become active.</p>
              <ul class="sds-list sds-list--unstyled sds-list--flex">
                <li>
                  <i class="sds fa-question-circle "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Check Registration Status
                  </a>
                </li>
              </ul>

              <span class="sds-callout__title">Federal Service Desk</span>
              <p>For technical issues, please visit the Federal Service Desk.</p>

              <p><b>Hours of Operation: </b>Monday - Friday 8 a.m. to 8 p.m. ET</p>
              <span>Available Services</span>
              <ul class="sds-list sds-list--unstyled sds-list--flex">
                <li>
                  <i class="sds fa-new-note "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Live Chat
                  </a>
                </li>
                <li>
                  <i class="sds fa-new-note "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Web Form
                  </a>
                </li>
                <li>
                  <i class="sds fa-new-note "></i>
                  <span class="sr-only"></span>
                  <a class="usa-link" href=" ">
                    Call
                  </a>
                </li>
              </ul>
              <a class="usa-link" href="https://www.aptac-us.org/">Procurement Technical Assistance Centers (PTACS)</a>
              <p>An official resource for government contracting assistance. Find your local PTAC to get free help with your SAM registration and other government contracting issues. Visit <a class="usa-link" href="https://www.aptac-us.org/"
                  target="_blank">aptac-us.org</a>.</p>
            </div>
          </div>
          <div class="tablet:grid-col sds-card sds-card--shadowed sds-card--bordered margin-1">
            <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
              <h2 class="sds-card__title">Contract Opportunities</h2>
            </div>
            <div class="sds-card__body grid-row">
              <div class="tablet:grid-col-fill">

                <span>Entity Registration Questions</span>
                <ul class="sds-list sds-list--unstyled sds-list--flex">
                  <li>
                    <i class="sds fa-new-note "></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      What do the different registration statuses mean?
                    </a>
                  </li>
                  <li>
                    <i class="sds fa-new-note "></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      Why isn't the registration active yet?
                    </a>
                  </li>
                  <li>
                    <i class="sds fa-new-note "></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      What happens if my entity registration fails validation?
                    </a>
                  </li>
                  <li>
                    <i class="sds fa-question-circle"></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      More FAQs
                    </a>
                  </li>
                </ul>

                <span>Help</span>
                <ul class="sds-list sds-list--unstyled sds-list--flex">
                  <li>
                    <i class="sds fa-book "></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      Glossary Terms
                    </a>
                  </li>
                  <li>
                    <i class="sds fa-video-square "></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      Videos
                    </a>
                  </li>
                </ul>

                <span>Resources</span>
                <ul class="sds-list sds-list--unstyled sds-list--flex">
                  <li>
                    <i class="sds fa-book "></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      SBA’s Dynamic Small Business Search (DSBS)
                    </a>
                  </li>
                  <li>
                    <i class="sds fa-book"></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      NAICS Classification System
                    </a>
                  </li>
                </ul>

                <span>User Guides</span>
                <ul class="sds-list sds-list--unstyled sds-list--flex">
                  <li>
                    <i class="sds fa-book "></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      Entity Registration User Guide for the Federal Acquisition Community
                    </a>
                  </li>
                  <li>
                    <i class="sds fa-book "></i>
                    <span class="sr-only"></span>
                    <a class="usa-link" href=" ">
                      Entity Registration User Guide for the Federal Assistance Community
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tablet:grid-col-3">
                <img src="assets/img/home-video.png" style="width:100%;" class="text-center">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ENTITY INFORMATION ICON LINKS -->
      <section>
        <h6 class="font-sans-lg text-secondary-dark text-normal margin-y-1 margin-left-2">Entity Information</h6>
        <p class="margin-left-2">Go to our entity information page to find more features and information about entities including the following.</p>
        <div class="grid-row">
          <div class="sds-tile--list desktop:grid-col">
            <span class="fa-stack fa-2x">
              <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
              <i class="sds fa-search fa-stack-1x text-base fa-2x"></i>
            </span>
            <ul>
              <li><b>Search</b></li>
              <li>Entity Registrations</li>
              <li>Disaster Response Registry</li>
              <li>Exclusions</li>
            </ul>
          </div>
          <div class="sds-tile--list desktop:grid-col">
            <span class="fa-stack fa-2x">
              <i class="sds fa-pentagon fa-stack-2x text-primary-lighter fa-1x"></i>
              <i class="sds fa-pen-paper fa-stack-1x text-base fa-2x"></i>
            </span>
            <ul>
              <li><b>Data Services</b></li>
              <li>Entity Registrations</li>
              <li>Disaster Response Registry</li>
              <li>Exclusions</li>
            </ul>
          </div>
          <div class="sds-tile--list desktop:grid-col">
            <span class="fa-stack fa-2x">
              <i class="sds fa-leaf fa-stack-2x text-yellow fa-1x"></i>
              <i class="sds fa-user-circle fa-stack-1x text-base fa-2x"></i>
            </span>
            <ul>
              <li><b>For Federal Users</b></li>
              <li>Entity Registrations</li>
              <li>Disaster Response Registry</li>
              <li>Exclusions</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
