<h1>Account Details</h1>

<div class="grid-row margin-y-3">
	<div class="grid-col-auto margin-right-3">
		<div class="width-10 height-10 bg-base-lightest">
			
		</div>
	</div>
	<div class="grid-col-6">
		<div class="usa-card sds-card--list">
			<div class="usa-card__container">
				<div class="usa-card__header bg-base-lighter">
						<h2 class="usa-card__heading ">{{ user.details.firstName + ' ' + user.details.lastName }}</h2>
				</div>
				<div class="usa-card__body padding-0">
					<table class="usa-table usa-table--striped border-0">
						<tbody>
								<tr>
										<td>First Name</td>
										<td class="text-semibold">{{ user.details.firstName }} </td>
								</tr>
								<tr>
										<td>Last Name</td>
										<td class="text-semibold">{{ user.details.lastName }} </td>
								</tr>
								<tr>
										<td>Email</td>
										<td class="text-semibold">{{ user.details.email }}</td>
								</tr>
								<tr>
										<td>Business Phone</td>
										<td class="text-semibold"> {{ user.details.businessPhone }}</td>
								</tr>
								<tr>
										<td>Department</td>
										<td class="text-semibold"><a class="usa-link" href=""> {{ user.details.department }}</a></td>
								</tr>
								<tr>
										<td>Subtier</td>
										<td class="text-semibold"><a class="usa-link" href=""> {{ user.details.subtier }}</a></td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
    </div>
	</div>
</div>