.header-background {
  background: url("/assets/img/contract-opps.png") no-repeat right bottom;
  background-size: cover;
  padding-bottom: 35px;

  @media only screen and (max-width: 500px){
    background: url("/assets/img/contract-opps.png") no-repeat 90% 100%;
  }
}

.tablet:grid-col, .tablet:grid-col-auto, .tablet:grid-col-fill {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 0 0 !important;
  flex: 1 0 0 !important;
  width: auto !important;
  max-width: 100% !important;
}
