<main id="main-content">
	<div class="grid-container">
		<div class="grid-row sds-hero sds-hero--image">
			<div class="desktop:grid-offset-1 desktop:grid-col-10">
				<!-- HERO SECTION -->
				<div class="grid-row padding-x-3 desktop:padding-0">
					<div class="desktop:grid-col-7 margin-bottom-4 desktop:margin-0 tablet:padding-right-3">
						<div class="display-flex flex-justify-space-between">
              <h1>Assistance Listings</h1>
              <img src="assets/img/CFDA.png" alt="CFDA Legcay Site" style="height:50px; margin-left: auto; margin-top: 0;">
            </div>
						<p class="maxw-full text-base-dark">Assistance listings are detailed public descriptions of federal programs that provide grants, loans, scholarships, insurance, and other types of assistance awards. You may browse assistance listings across all government agencies to learn about potential funding sources.
						</p>
						<h2>Search the Assistance Listings</h2>
						<form class="usa-search usa-search--big padding-right-2" role="search">
							<label class="usa-sr-only" for="search-field-big">Search</label>
							<input class="usa-input " id="search-field-big" type="search" name="search" placeholder="Enter a CFDA number or keyword">
							<button class="usa-button" type="submit">
								<span class="usa-sr-only">Search</span>
							</button>
						</form>
					</div>
					<div class="desktop:grid-col-5 display-none desktop:display-flex">
						<div class="sds-tile--outline">
              <h2>Federal Users Get Started Here:</h2>
							<p class="text-base-dark">Manage federal funding and awarding organizations as a hierarchy administrator.</p>
							<div class="desktop:flex-column flex-justify-center grid-row grid-gap">
								<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12 margin-y-1">
	              	<button class="usa-button usa-button--secondary width-full">
										<a [routerLink]="['/home/assistance/federal']" class="usa-link">Assistance Listings for Federal Users</a>
									</button>
								</div>
								<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12 margin-y-1">
									<button class="usa-button width-full">Sign in to Get Started</button>
								</div>
							</div>
            </div>
					</div>
				</div>
			</div>
		</div>
		<!-- ACCORDION -->
		<div class="grid-row padding-x-3 desktop:padding-0">
			<div class="desktop:grid-offset-1 desktop:grid-col-10 margin-bottom-4">
			<!-- ACCORDION -->
			<div class="usa-accordion usa-accordion--bordered">
				<h2 class="usa-accordion__heading">
					<button class="usa-accordion__button  border-top-1px border-base-light " aria-expanded="false" aria-multiselectable="false" aria-controls="b-a1">
						Get started searching assistance listings
					</button>
				</h2>
				<div id="b-a1" class="usa-accordion__content usa-prose" hidden>
					<ul class="sds-list sds-list--unstyled sds-list--flex">
            <li>
              <i class="sds fa-new-note"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Use the search feature on SAM.gov
              </a>
            </li>
            <li>
              <i class="sds fa-new-note"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Following federal hierarchy
              </a>
            </li>
            <li>
              <i class="sds fa-video-square"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Saving my searches
              </a>
            </li>
            <li>
              <i class="sds fa-document-pdf"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Quick Start Guide
              </a>
            </li>
						<li>
              <i class="sds fa-video-square"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Video - Finding federal funding and awarding organizations
              </a>
            </li>
          </ul>
				</div>
				<h2 class="usa-accordion__heading">
					<button class="usa-accordion__button " aria-expanded="false" aria-multiselectable="false" aria-controls="b-a2">
						Using the advanced assistance listings search
					</button>
				</h2>
				<div id="b-a2" class="usa-accordion__content usa-prose">
					<ul class="sds-list sds-list--unstyled sds-list--flex">
            <li>
              <i class="sds fa-new-note"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Changing search filters
              </a>
            </li>
            <li>
              <i class="sds fa-new-note"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Federal hierarchy organization types
              </a>
            </li>
            <li>
              <i class="sds fa-new-note"></i>
              <span class="sr-only"></span>
              <a class="usa-link" href=" ">
                Using even filters
              </a>
            </li>
          </ul>
				</div>
			</div>
			</div>
		</div>
		<!-- Tile -->
		<div class="grid-row desktop:display-none">
			<div class="grid-col-11 margin-x-auto">
				<div class="sds-tile--outline">
					<h2>Federal Users Get Started Here:</h2>
					<p class="text-base-dark">Manage federal funding and awarding organizations as a hierarchy administrator.</p>
					<div class="desktop:flex-column flex-justify-center grid-row grid-gap">
						<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12 margin-y-1">
							<button class="usa-button usa-button--secondary width-full">Federal Hierarchy for Federal Users</button>
						</div>
						<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12 margin-y-1">
							<button class="usa-button width-full">Sign in to Get Started</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CARDS -->
		<div class="grid-row grid-gap flex-wrap padding-x-3 desktop:padding-0">
			<div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
  			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Run Assistance Report</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  How to run a databank report
                </a>
              </li>
              <li>
                <i class="sds fa-angle-circle fa-rotate-180 bg-primary radius-pill"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Go to databank reports
                </a>
              </li>
            </ul>
          </div>
        </div>
			</div>
			<div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
  			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Connect to Service APIs</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Getting started with web services
                </a>
              </li>
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  How to use assitance listing APIs
                </a>
              </li>
              <li>
                <i class="sds fa-angle-circle fa-rotate-180 bg-primary radius-pill"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Go to assistance listing API
                </a>
              </li>
            </ul>
          </div>
        </div>
			</div>
			<div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
  			<div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Download Data</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-new-note"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  How to download all assistance listings
                </a>
              </li>
              <li>
                <i class="sds fa-angle-circle fa-rotate-180 bg-primary radius-pill"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Go to assistance listings downloads
                </a>
              </li>
            </ul>
          </div>
        </div>
			</div>
      <div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">External Resources</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <p>Connect to one of our partner sites to review policy, learn about the grants lifecycle, and find information about eligibility for different types of federal assistance.</p>
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Chief Financial Officers Council Grants Training
                </a>
              </li>
              <li>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Grants.gov Learning Center
                </a>
              </li>
              <li>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Benefits.gov Benefit Finder
                </a>
              </li>
              <li>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  USA.gov Government Benefits, Grants, and Loans
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Help</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-question-circle"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Frequently asked questions
                </a>
              </li>
              <li>
                <i class="sds fa-book"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Glossary Terms
                </a>
              </li>
              <li>
                <i class="sds fa-video-square"></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Videos
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-4 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Featured Video Title</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <div class="video-code" style="height:200px; margin: auto; background-image: url('assets/img/home-video.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
</main>
