<main>
  <div class="n-sds-page">
    <div class="grid-container">
      <!-- HERO SECTION -->
      <section>
        <div class="n-sds-hero">
          <div class="grid-row">
            <!-- header & search bar -->
            <div class="grid-col-fill desktop:margin-x-9 margin-x-2 text-base">
              <h1 class="font-sans-xl margin-top-3">Assistance Listings</h1>
              <p class="font-sans-md text-ink">Assistance listings are detailed public descriptions of federal programs that provide grants, loans, scholarships, insurance, and other types of assistance awards. You may browse assistance listings
                across all government
                agencies to form a “big picture” of potential funding options.</p>
              <h2 class="font-sans-lg margin-top-4 text-ink text-normal">Search Assistance Listings</h2>
              <form class="usa-search usa-search--big" role="search">
                <label class="usa-sr-only" for="search-field-big">Search</label>
                <input class="usa-input" id="search-field-big" type="search" name="search" placeholder="Enter CFDA number or keyword here">
                <button class="usa-button" type="submit">
                  <span class="usa-sr-only">Search</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- accordion & links -->
      <div class="grid-row padding-y-4">
        <div class="tablet:grid-col-10 tablet:grid-offset-1">
          <div class="sds-accordion usa-accordion">
            <!-- How to find assistance listings -->
            <h2 class="usa-accordion__heading sds-accordion__heading">
              <button class="usa-accordion__button usa-accordion__block border-top border-base-light" aria-expanded="false" aria-controls="a1">
                How to find assistance listings to do business with the government
              </button>
            </h2>
            <div id="a1" class="usa-accordion__content usa-prose" hidden>
              <!-- Get started links -->
              <h4 class="text-ink text-semibold font-sans-md">Get started searching assistance listings</h4>
              <div class="padding-x-2 display-flex flex-column">
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Use the search feature on SAM.gov</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Save my searches</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>What is the relationship between assistance listings and grants.gov?</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Am I eligible for assistance awards?</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>What type of assistance are available?</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Public Quick Start Guide</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-video-square text-base-dark margin-right-1"></i>
                  <span>Video - Assistance listings functionality, formerly known as CFDA.gov</span>
                </a>
              </div>
              <!-- additional filters links -->
              <h4 class="text-ink text-semibold font-sans-md">Use filters to find assistancen listings</h4>
              <div class="padding-x-2 display-flex flex-column">
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Changing search filters</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Search by CFDA number</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Search by location</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Search by assistance type</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Search by eligibility</span>
                </a>
              </div>
            </div>
            <!-- federal employee working on assistance listing -->
            <h2 class="usa-accordion__heading sds-accordion__heading">
              <button class="usa-accordion__button usa-accordion__block" aria-expanded="false" aria-controls="a2">
                I am a federal employee working on assistance listings
              </button>
            </h2>
            <div id="a2" class="usa-accordion__content usa-prose" hidden>
              <!-- smanage listings links -->
              <h4 class="text-ink text-semibold font-sans-md">Manage your assistance listings</h4>
              <div class="padding-x-2 display-flex flex-column">
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Meet your annual update requirements</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Create and post assistance listings</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Give your listing a new title</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>ASsign your listing a new CFDA number</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Manage your regional locations</span>
                </a>
              </div>
              <!-- admin links -->
              <h4 class="text-ink text-semibold font-sans-md">Manage your assistance listings</h4>
              <div class="padding-x-2 display-flex flex-column">
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Manage users and roles</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-file text-base-dark margin-right-1"></i>
                  <span>Quick Start Guide for Role Management</span>
                </a>
                <a class="usa-link" [routerLink]="['news']">
                  <i class="sds fa-video-square text-base-dark margin-right-1"></i>
                  <span>Video - role management</span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- reports/data & external resources -->
      <div class="grid-row desktop:margin-x-8 tablet:padding-x-4">
        <!-- reports and data section -->
        <div class="tablet:grid-col sds-card sds-card--shadowed sds-card--bordered margin-1">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link"><h2 class="sds-card__title">Reports and Data</h2></a>
          </div>
          <!-- run report links -->
          <div class="sds-card__content">
            <span>Run a report</span>
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-bell "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  List Item
                </a>
              </li>
              <li>
                <i class="sds fa-calendar "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Quick start guide for creating a login.gov account
                </a>
              </li>
            </ul>
            <!-- connect to data services links -->
            <span>Connect to Data Services</span>
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-bell "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  List Item
                </a>
              </li>
              <li>
                <i class="sds fa-calendar "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Quick start guide for creating a login.gov account
                </a>
              </li>
            </ul>
            <!-- connect to data services links  -->
            <span>Connect to Data Services</span>
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-bell "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  List Item
                </a>
              </li>
              <li>
                <i class="sds fa-calendar "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Quick start guide for creating a login.gov account
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- external resources section-->
        <div class="tablet:grid-col sds-card sds-card--shadowed sds-card--bordered margin-1">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link"><h2 class="sds-card__title">External Resources</h2></a>
          </div>
          <!-- contract opportunity report links -->
          <div class="sds-card__content">
            <p class="font-sans-md text-base">
              Connect to one of our partner sites to review policy, learn about the grants lifecycle, and find information about eligibility for different types of rederal assistance.
            </p>
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-bell "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  List Item
                </a>
              </li>
              <li>
                <i class="sds fa-calendar "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Quick start guide for creating a login.gov account
                </a>
              </li>
              <li>
                <i class="sds fa-bell "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  List Item
                </a>
              </li>
              <li>
                <i class="sds fa-calendar "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Quick start guide for creating a login.gov account
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- do I need an account -->
      <div class="grid-row margin-top-4">
        <div class="sds-card sds-card--shadowed sds-card--bordered tablet:grid-col-10 tablet:grid-offset-1">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link"><h2 class="sds-card__title">Do I need a user account</h2></a>
          </div>
          <div class="sds-card__content">
            <div class="grid-row">
              <div class="tablet:grid-col-fill padding-2 text-ink font-sans-md">
                <p class="margin-0">
                  Many users may find that they do not need a user account to search for and view assistance listings. With a Login.gov account, you can sign in to multiple government websites, including SAM.gov, with the same username and password.
                  With
                  a
                  user account you may
                </p>
                <ul class="margin-top-05 margin-bottom-4 text-ink">
                  <li>Saved searches</li>
                </ul>
                <p class="margin-0 text-ink">
                  <b>For federal users:</b> federal users who maintain assistance listings for their agency or office are the only users who definitely need a user account. You will need one to access additional capabilities available on SAM.
                </p>
              </div>
              <div class="tablet:grid-col-3 padding-2">
                <!-- paste video code here -->
                <img src="assets/img/home-video.png" style="width:100%;" class="text-center">
                <div class="font-sans-3xs text-base text-center">Video on how to create a login.gov account</div>
              </div>
            </div>
            <ul class="sds-list sds-list--unstyled sds-list--flex">
              <li>
                <i class="sds fa-bell "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  List Item
                </a>
              </li>
              <li>
                <i class="sds fa-calendar "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  Quick start guide for creating a login.gov account
                </a>
              </li>
              <li>
                <i class="sds fa-bell "></i>
                <span class="sr-only"></span>
                <a class="usa-link" href=" ">
                  List Item
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
