<div class="grid-row sam subheader">
	<div class="grid-col-fill">
		<h2>What is a Workspace?</h2>
	</div>
	<div class="grid-col-auto">
		<a class="sam button feature flex-align-end" href="#">Sign In</a>
	</div>
</div>
<div class="sam landing section medium">
	<div class="grid-row">
		<div class="grid-col-fill">
			<div class="sam feature text grid-row">
				Your workspace is where you will find links to your profile, your followings and saved searches, all of the data you are responsible for managing, and more.
			</div>
			<div class="sam margin-after text normal grid-row">
				This means you can find more than entity information and registration here.  This website is now also the official source of Contract Opportunities (formerly provided by fbo.gov), Wage Determinations (formerly provided by wdol.gov), and Assistance Listings (formerly provided by cfda.gov). We are continuing to integrated additional features into this website, so check back periodically to see what's new and what is coming soon.
			</div>
		</div>
		<div class="grid-col-7">
			<img class="sam-feature-image" src="/assets/img/home-page-feature.jpg">
		</div>
	</div>
</div>
<div class="sam landing section light">
	<div class="grid-row grid-gap">
		<div class="grid-col-5">
			<h3 class="sam">What Can I Do Here?</h3>
		</div>
	</div>
</div>