
<div class="grid-container grid-gap" style="padding: 2em; margin-top: 1.5em">
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="1"></agency-picker>
  	</div>
  </div>
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="2"></agency-picker>
  	</div>
  </div>
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="3"></agency-picker>
  	</div>
  </div>
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="4"></agency-picker>
  	</div>
  </div>
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="7"></agency-picker>
  	</div>
  </div>
</div>