<!-- 
<div class="grid-container grid-gap" style="padding: 2em; margin-top: 1.5em">
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="1"></agency-picker>
  	</div>
  </div>
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="2"></agency-picker>
  	</div>
  </div>
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="3"></agency-picker>
  	</div>
  </div>
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="4"></agency-picker>
  	</div>
  </div>
  <div class="grid-row">
	<div class="grid-col-4">
  		<agency-picker [level]="7"></agency-picker>
  	</div>
  </div>
</div> -->

<!-- <sds-autocomplete [service]="autocompleteService" [(ngModel)]="selectModel" [configuration]="settings"
	[suggestionTemplate]="temp" [selectedItemTemplate]="selecttemp"></sds-autocomplete> -->

<div class="grid-container" style="padding: 2em; margin-top:1.5em">
	<div class="grid-row grid-gap">
		<div class="tablet:grid-col-4">
			<label>Federal Hierarchy</label>
			<p>Enter your Department, Ind. Agency, Subtier, Office, or other organization.</p>
			<div class="grid-row">
				<div class="tablet:grid-col-fill">
					<agency-picker #picker></agency-picker>
				</div>
				<div class="tablet:grid-col-auto">
					<button class="usa-button--circle" style="margin: 8px 0px; height: 40px; width: 40px;" (click)="advanceClick()"><i class="fa fa-ellipsis-h"></i></button>
				</div>
			</div>
		</div>
		<div class="tablet:grid-col-4">
			<agency-picker [level]="1"></agency-picker>
			<agency-picker [level]="2"></agency-picker>
			<agency-picker [level]="3"></agency-picker>
			<agency-picker [level]="4"></agency-picker>
			<agency-picker [level]="7"></agency-picker>
		</div>
	</div>
</div>

<ng-template #overlay>

	<strong sds-dialog-title></strong>
	<div sds-dialog-content>
		<div class="grid-container">
			<div class="grid-row grid-gap">
				<div class="tablet:grid-col-4">
					<agency-picker [level]="1"></agency-picker>
					<agency-picker [level]="2"></agency-picker>
					<agency-picker [level]="3"></agency-picker>
					<agency-picker [level]="4"></agency-picker>
					<agency-picker [level]="7"></agency-picker>
				</div>
				<div class="tablet:grid-col-8">
					<div>
						<table class="agency-table" style="width: 100%">
							<thead style="display: block;">
								<tr style="width: 100%">
									<th style="width: 10%"></th>
									<th style="width: 10%">Code</th>
									<th style="width: 60%">Name</th>
									<th style="width: 20%">Level</th>
								</tr>
							</thead>
							<tbody #resultsList style="height: 300px; overflow: scroll; display: block;"
								(scroll)="onScroll()">
								<tr *ngFor="let item of result">
									<td style="width: 10%"><input type="checkbox" (change)="change($event)"
											[(ngModel)]="item.isChecked">
									</td>
									<td style="width: 10%">{{item.id}}</td>
									<td style="width: 60%">{{item.name}}</td>
									<td style="width: 20%">{{getLabel(item.level)}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div sds-dialog-actions class="grid-row grid-gap">
			<div class="grid-col-fill">
			</div>
			<div class="grid-col-auto">
				<button class="usa-button usa-button--secondary" (click)="cancelClick()">Cancel</button>
			</div>
			<div class='grid-col-auto'>
				<button class="usa-button" (click)="selectClick()">Select</button>
			</div>
	</div>
</ng-template>