
.sam-nav-title {
  font-weight: 500;
  font-size: 1.4em;
  color: white;
}

img.sam-logo {
    height: 1em;
}

div.sam-subheader {
	margin: 0;

    img {
        padding: 0em 1em;
        margin: 0;
        height: 1.8em;
    }
}

div.sam-stamp {
    display: inline;
    padding: 1em;

    img {
        height: 3.5em;
        margin: auto;
    }

    h5 {
        margin: auto;
    }

    p.hint {
        font-size: .6em;
    }
}

div.megabox {
    padding: .5em;
}

div.sam-column {
    display: block;
    margin-left: 2em;
    margin-bottom: 1em;
    a {
        display: block;
        margin: .2em 0em;
        padding: 0;
        font-size: .9em;
    }
}

.sam-meganav {
	background-color: green;
    font-weight: normal;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px 15px 2px 15px;
    float: right; /* Clear floats */
    width: 85%;
    z-index: 5;
}

.sam-meganav a {
    display: inline;
    padding: 8px 20px;
    margin-right: 10px;
    color: #323a45;
    text-decoration: none;
}
.sam-meganav a:hover {
    background-color: #ccd6df;
}

.nav button {
    display: inline;
    font-size: .9em;
    border-radius: 0;
    background-color: #02bfe7;
    padding: 0px 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: .9em;
    height: 42px;
    width: 80px;
    position: relative;    
}

.nav li {
    float: left;
    display: inline;
}

.nav i {
  margin-left: 8px;
}



/*--- DROPDOWN ---*/
.nav ul {
	margin-left: 0;
	padding-left: 0;
	margin-top: 7px;
	width: 100%;
    list-style: none;
    position: absolute;
    background-color: #ccd6df;
    min-height: 9em;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display: none;) */
}

.nav ul li {
    float: left;
     margin: 0px -1px 0px 0px;
	 display: inline-block;
     height: 100%;
     border-left: 1px solid #d6d7d9;
     border-right: 1px solid #d6d7d9;

    h5 {
        margin-top: 1em;
    	font-size: .9em;
		font-weight: 600;
	}

	p {
		margin: 0;
        font-size: .9em;
		padding: .1em;
	}

	img {
		margin: auto;
		height: 3em;
	}
}

.nav ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}
.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background-color: #ccd6df;
}
.nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
}
.nav li:hover ul li a { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    color: #0071bc;
}
.nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    color: #323a45;
}

.nav ul li:hover {
    cursor: pointer;
}

