<div class="sam-content grid-row">
	<div class="grid-col-5">
		<sam-search-input [selectedDomain]="domain"></sam-search-input>
	</div>
</div>
<div class="sam-content grid-row">
	<div class="grid-col-12">
		<sam-list title="{{searchService.data.title}}">
		</sam-list>
	</div>
</div>



<ng-template #search>
	<sam-sidebar title="Search">
		
	</sam-sidebar>
</ng-template>

<ng-template #share>
	<sam-sidebar title="Share">
		
	</sam-sidebar>
</ng-template>

<ng-template #save>
	<sam-sidebar title="Save">
		
	</sam-sidebar>
</ng-template>

<ng-template #download>
	<sam-sidebar title="Download">
		
	</sam-sidebar>
</ng-template>
