<div class="sam-content">
	<div class="sam-page-title grid-row">
		<div class="grid-col-5">
			<h2>{{searchService.data.title}}</h2>
		</div>
		<div style="margin-top: auto; margin-bottom:auto;" class="grid-col-7">
			<sam-search-input selectedDomain="all"></sam-search-input>
		</div>
	</div>
</div>

<ng-template #search>
	<sam-sidebar title="Search" [navList]="navList">
		
	</sam-sidebar>
</ng-template>

<ng-template #share>
	<sam-sidebar title="Share">
		
	</sam-sidebar>
</ng-template>

<ng-template #save>
	<sam-sidebar title="Save">
		
	</sam-sidebar>
</ng-template>

<ng-template #download>
	<sam-sidebar title="Download">
		
	</sam-sidebar>
</ng-template>
