<div class="sds-card border-width-0" [id]="id"
  [ngClass]="{ 'sds-card-expandable': isExpandable, 'display-with-dividers': displayWithDividers }">
  <div class="sds-card__header" *ngIf="title" [id]="id + 'TitleGroup'">
    <div class="grid-row margin-y-2">
      <div class="grid-col-12 tablet:grid-col-10">
        <button [id]="id + 'ExpansionInd'" *ngIf="isExpandable"
          class="sds-expansion-indicator usa-button usa-button--unstyled" [disabled]="expansionIndicatorDisabled"
          (click)="toggleContent()">
          <sds-icon c [icon]="showContent?  'dash':  'plus'" [size]="'lg'"
            [@expansionIndicatorRotate]="showContent ? 'expanded' : 'collapsed'">
          </sds-icon>
        </button>
        <h3 class="sds-card__title" [id]="id + 'Title'">{{ title }}</h3>
      </div>
      <div class="sds-card__action grid-col-2 tablet:grid-col-2">
        <ng-content select="ng-container[sds-card-title-group-action]"></ng-content>
      </div>
    </div>



    <div>
      <ng-content select="ng-container[sds-card-header-content]"></ng-content>
    </div>
  </div>
  <ng-container *ngIf="showContent">
    <div class="sds-card__body" [id]="id + 'Content'">
      <ng-content select="ng-container[sds-card-content]"></ng-content>
    </div>
  </ng-container>
  <ng-container *ngIf="showFooter && showContent">
    <div *ngIf="displayWithDividers"></div>
    <div [id]="id + 'Footer'" class="sds-card-footer">
      <ng-content select="ng-container[sds-card-footer]"></ng-content>
    </div>
  </ng-container>
</div>
