<h3>Add Subawardee</h3>

<div class="grid-container">
  <div class="grid-row">
    <div class="tablet:grid-col">

    </div>
    <div class="tablet:grid-col margin-top-1 margin-left-3"> <button class="sds-button sds-button--primary"
        (click)="preFill()">
        Auto-fill Vendor
        Information </button>
    </div>

  </div>
</div>
<h3>Subawardee(s)</h3>
<sds-expandable-card #inputsCard [id]="'subawardcard'" [title]="'Subaward'" [showContent]="'true'"
  [isExpandable]="true">
  <ng-container sds-card-title-group-action>
    <ng-container>
      <sds-actions-menu size="sm" [model]="menu"></sds-actions-menu>
    </ng-container>

  </ng-container>
  <ng-container sds-card-content>
    <p>Content line1</p>

  </ng-container>
</sds-expandable-card>
