<div class="grid-row sam subheader">
	<div class="grid-col-auto">
		<h2>Messages</h2>
	</div>
	<div class="grid-col-fill">
		<form class="usa-search usa-search-small">
		  <div role="search">
		    <label class="usa-sr-only" for="search-field-small">Search</label>
		    <input class="sam search-input usa-input" id="search-field-small" type="search" name="search" placeholder="Search messages">
		    <button class="sam search-button usa-button" type="submit">
		      <span class="usa-sr-only">Search</span>
		    </button>
		  </div>
		</form>
	</div>
</div>
<div class="sam page grid-row">
	<div *ngIf="view=='open'" class="grid-col-3 sam sidebar">
		<div class="sam sidebar section grid-row">
			<div class="grid-col-auto">
				<button class="sam viewswitcher" (click)="setView('closed')"><img height="32px" src="./assets/img/view-open.png"></button>
			</div>
		</div>
		<div [ngClass]="{'sam': true, 'sidebar': true, 'section': true, 'selected': showNav}">
			<div class="grid-row" (click)="showNav=!showNav">
				<div class="grid-col-fill">
					<h4>Show Results For</h4>
				</div>
				<div class="grid-auto">
					<div class="sam circle" *ngIf="!showNav">+</div>
					<div class="sam circle" *ngIf="showNav">-</div>
				</div>
			</div>
			<nav *ngIf="showNav">
			  <ul class="usa-sidenav">
			  	<li class="usa-sidenav-item"><a [class.usa-current]="domain == 'all'" [routerLink]="['/messages']" [queryParams]="{domain:'all'}">All Requests</a></li>
			  	<li class="usa-sidenav-item"><a [class.usa-current]="domain == 'contractopportunities'" [routerLink]="['/messages']" [queryParams]="{domain:'contractopportunities'}">Contract Opportunities</a></li>		    
			  	<li class="usa-sidenav-item">
			    	<a [class.usa-current]="domain === 'assistancelist'" [routerLink]="['/messages']" [queryParams]="{domain:'assistancelist'}">Assistance Listings</a>
			  	</li>
			  	<li class="usa-sidenav-item">
			  		<a [class.usa-current]="domain == 'hierarchy'" [routerLink]="['/messages']" [queryParams]="{domain:'hierarchy'}">Federal Hierarchy</a>
			  	</li>
			  	<li class="usa-sidenav-item">
			  		<a [class.usa-current]="domain == 'users'" [routerLink]="['/messages']" [queryParams]="{domain:'users'}">User Directory</a>
			  	</li>
			  </ul>
			</nav>
		</div>
		<div [ngClass]="{'sam': true, 'sidebar': true, 'section': true, 'selected': showFilters}">
			<div class="grid-row" (click)="showFilters=!showFilters">
				<div class="grid-col-fill">
					<h4>Refine By</h4>
				</div>
				<div class="grid-auto">
					<div class="sam circle" *ngIf="!showFilters">+</div>
					<div class="sam circle" *ngIf="showFilters">-</div>
				</div>
			</div>
		  <form *ngIf="showFilters" class="usa-form">
			  <label class="sam-sidebar-label usa-label" for="keyword-input">Keywords</label>
			  <input class="usa-input" id="keyword-input" name="name-input" type="text" >
			  <label class="sam-sidebar-label usa-label" for="article-type-checkboxes">Message Type</label>
			  <fieldset class="usa-fieldset">
			    <legend class="usa-sr-only">Message Type</legend>
			    <ul id="article-type-checkboxes" class="usa-input-list">
			      <li>
			        <input class="usa-checkbox-input" id="notifications" type="checkbox" name="notifications" value="notifications">
			        <label class="usa-checkbox-label" for="notifications">Notifications</label>
			      </li>
			      <li>
			        <input class="usa-checkbox-input" id="announcements" type="checkbox" name="announcements" value="announcements">
			        <label class="usa-checkbox-label" for="announcements">Announcements</label>
			      </li>
			      <li>
			        <input class="usa-checkbox-input" id="alerts" type="checkbox" name="alerts" value="alerts">
			        <label class="usa-checkbox-label" for="alerts">Alerts</label>
			      </li>
			    </ul>
			  </fieldset>
			</form>
		</div>
	</div>
	<div class="grid-col-fill sam body">
		<div class="sam grid-row">
			<div *ngIf="view=='closed'" class="sam sidesection grid-col-auto">
				<button class="sam viewswitcher" (click)="setView('open')"><img height="32px" src="./assets/img/view-closed.png"></button>
			</div>
			<div class="grid-col-fill">
			</div>
		</div>
	</div>
</div>

