<div class="bg-black padding-05">
  <div class="grid-container text-base-light font-sans-3xs">
      <div class="grid-row">
        <div class="grid-fill">
             This Website is a prototype intended to support usability testing only.
        </div>
    </div>
  </div>
</div>
<div
  class="usa-overlay"
  [class.is-visible]="mobileNavActive"
  (click)="closeMobileNav()">
</div>
<header class="usa-header usa-header--extended">
    <div class="usa-navbar">
      <div class="usa-logo" id="extended-mega-logo">
        <em class="usa-logo__text">
            <a [routerLink]="['/']" title="Home" aria-label="Home">
                <img *ngIf="!isHomePage" class="sds-header__logo" [src]="locationStrategy.getBaseHref() + 'assets/img/logo-sam.svg'" alt="SAM.gov home" />
            </a>
        </em>
      </div>
      <button #usaNavOpen class="usa-menu-btn" (click)="openMobileNav()">
      <fa-layers [fixedWidth]="true" size="3x">
        <fa-icon
          [icon]="['fas', 'square']"
          [classes]="['text-primary']"
        ></fa-icon>
        <fa-icon
          [icon]="['sds', 'bars']"
          [classes]="['icon-bars']"
          transform="shrink-6"
        ></fa-icon>
        <fa-layers-counter
          *ngIf="model.signedIn"
          [classes]="['icon-layers-counter']"
        ></fa-layers-counter>
      </fa-layers>
      <span class="usa-sr-only">Menu</span>
    </button>
  </div>
  <nav
    aria-label="Primary navigation"
    class="usa-nav"
    (keydown.esc)="closeMobileNav()"
    (animationend)="navAnimationEnd()"
    [class.is-visible]="mobileNavActive"
    [cdkTrapFocus]="mobileNavActive"
  >
    <div class="usa-nav__inner">
        <button #usaNavClose class="usa-nav__close" (click)="closeMobileNav()">
            <fa-layers [fixedWidth]="true" size="lg">
              <fa-icon
                [icon]="['fas', 'circle']"
                [inverse]="true"
                transform="grow-2"
              ></fa-icon>
              <fa-icon [icon]="['fas', 'times']" transform="shrink-6"></fa-icon>
            </fa-layers>
            <span class="usa-sr-only">Close</span>
        </button>
        <ul class="usa-nav__primary usa-accordion"><li class="usa-nav__primary-item">
    <button class="usa-accordion__button usa-nav__link n-sds-nav-button"  [class.usa-current]="sectionId == 'home'" aria-expanded="false" aria-controls="extended-mega-nav-section-one"><span>Home</span></button>
    <div id="extended-mega-nav-section-one" class="usa-nav__submenu usa-megamenu"><div class="grid-row grid-gap-4"><div class="usa-col">
             <ul class="usa-nav__submenu-list"><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/']">Home</a>
                  </li><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/home/new-to-sam']">New to SAM.gov</a>
                  </li><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/home/registration']">Entity Registration</a>
                  </li><li class="usa-nav__submenu-item">
                    <a [routerLink]="['home/check-status']">Check Entity Status</a>
                  </li></ul>
            </div><div class="usa-col">
             <ul class="usa-nav__submenu-list"><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/home/entity-information']">Entity Information</a>
                  </li><li class="usa-nav__submenu-item">
                    <a [routerLink]="['home/entity-compliance']">Entity Compliance</a>
                  </li><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/home/opportunities']">Agency Exclusions POCs</a>
                  </li></ul>
            </div><div class="usa-col">
              <ul class="usa-nav__submenu-list"><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/home/opportunities']">Contract Opportunities</a>
                  </li><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/home/contract-data']">Contract Data</a>
                  </li><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/home/assistance']">Assistance Listings</a>
                  </li><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/home/hierarchy']">Federal Hierarchy</a>
                  </li></ul>
            </div><div class="usa-col">
              <ul class="usa-nav__submenu-list"><li class="usa-nav__submenu-item">
                    <a [routerLink]="['/home/wages']">Wage Determinations</a>
                  </li></ul>
            </div></div></div></li><li class="usa-nav__primary-item">
    <a class="usa-nav__link" [class.usa-current]="sectionId == 'search'" [routerLink]="['/search/results']"><span>Search</span></a>
    </li><li class="usa-nav__primary-item">
    <a class="usa-nav__link" [class.usa-current]="sectionId == 'databank'" [routerLink]="['/databank']"><span>Databank</span></a>
    </li><li class="usa-nav__primary-item">
    <a class="usa-nav__link" [class.usa-current]="sectionId == 'dataservices'" [routerLink]="['/dataservices']"><span>Data Services</span></a>
    </li><li class="usa-nav__primary-item">
    <a class="usa-nav__link" [class.usa-current]="sectionId == 'help'" [routerLink]="['/help']"><span>Help</span></a>
    </li></ul>
    <div class="usa-nav__secondary">
  <ul class="usa-nav__secondary-links"><li *ngIf="model.signedIn" class="usa-nav__secondary-item">
        <a
            [attr.id]="requests"
            [routerLink]="['/requests']"
            [attr.class]="sectionId == 'requests' ? 'usa-current' : ''"
          >
         <fa-layers [fixedWidth]="true">
            <fa-icon [icon]="['sds', 'request']"></fa-icon>
            <fa-layers-counter
              [classes]="['icon-layers-counter']"
            ></fa-layers-counter>
          </fa-layers>
          <span class="sds-nav__secondary-item-text">Requests</span></a>
    </li><li *ngIf="model.signedIn" class="usa-nav__secondary-item">
        <a
            [attr.id]="messages"
            [routerLink]="['/messages']"
            [attr.class]="sectionId == 'messages' ? 'usa-current' : ''"
          >
         <fa-layers [fixedWidth]="true">
            <fa-icon [icon]="['sds', 'messages']"></fa-icon>
          </fa-layers>
          <span class="sds-nav__secondary-item-text">Notifications</span></a>
    </li><li *ngIf="model.signedIn" class="usa-nav__secondary-item">
        <a
            [attr.id]="workspace"
            [routerLink]="['/workspace']"
            [attr.class]="sectionId == 'workspace' ? 'usa-current' : ''"
          >
         <fa-layers [fixedWidth]="true">
            <fa-icon [icon]="['sds', 'workspace']"></fa-icon>
          </fa-layers>
          <span class="sds-nav__secondary-item-text">Workspace</span></a>
    </li><li *ngIf="!model.signedIn" class="usa-nav__secondary-item">
        <a
            [attr.id]="signIn"
            href="javascript:void(0)"
            (click)="model.signIn('/workspace')"
          >
         <fa-layers [fixedWidth]="true">
            <fa-icon [icon]="['sds', 'log-in']"></fa-icon>
          </fa-layers>
          <span class="sds-nav__secondary-item-text">Sign In</span></a>
    </li><li *ngIf="model.signedIn" class="usa-nav__secondary-item">
        <a
            [attr.id]="signOut"
            href="javascript:void(0)"
            (click)="model.signOut()"
          >
         <fa-layers [fixedWidth]="true">
            <fa-icon [icon]="['sds', 'log-out']"></fa-icon>
          </fa-layers>
          <span class="sds-nav__secondary-item-text">Sign Out</span></a>
    </li></ul>
</div>
</div>
  </nav>
</header>
<main id="main-content"></main>

<router-outlet></router-outlet>

<footer class="usa-footer usa-footer--big">
    <div class="sds-feedback">
        <h2 class="sr-only">Feedback</h2>
        <button type="button" class="sds-feedback__button simple-toggle" [attr.aria-expanded]="!isCollapsedContent" aria-controls="collapseID" (click)="isCollapsedContent = !isCollapsedContent">
      <i class="sds fa-arrow-down sds-feedback__open"></i>
      <span class="sds-feedback__title">Feedback</span>
    </button>
        <div id="collapseID" [sdsCollapse]="isCollapsedContent" class="sds-feedback__response">
            <div>
                <span class="sds-feedback__response-title">One Question
        </span>
                <span class="sds-feedback__response-title-thin">
          Survey</span>
                <label for="feedback" class="sds-feedback__response-text">What changes or improvements would you suggest?</label>
                <textarea id="feedback" class="sds-feedback__input" rows="8"></textarea>
                <p class="text-right">
                    <button class="usa-button usa-button--secondary">Submit</button>
                </p>
            </div>
        </div>
    </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
        <div class="grid-row grid-gap-4">
          <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
            <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
              <h2 class="usa-footer__primary-link">About This Site</h2>
              <ul class="usa-list usa-list--unstyled">
                <li class="usa-footer__secondary-link"><a [routerLink]="['about/about']">About Us</a></li>
                <li class="usa-footer__secondary-link"><a href="https://interact.gsa.gov/group/integrated-award-environment-iae-industry-community" target="_blank">Our Community <i class="fas fa-external-link-alt fa-xs usa-link__external-icon"></i></a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['about/release-notes']">Release Notes</a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['alerts']">Alerts</a></li>
                <li class="usa-footer__secondary-link"><a  [routerLink]="['news']">News</a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['about/site-map']">Site Map</a></li>
              </ul>
            </section>
          </div>
          <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
            <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
              <h2 class="usa-footer__primary-link">Our Partners</h2>
              <ul class="usa-list usa-list--unstyled">
                <li class="usa-footer__secondary-link"><a href="https://acquisition.gov" target="_blank">Acquisition.gov <i class="fas fa-external-link-alt fa-xs usa-link__external-icon"></i></a></li>
                <li class="usa-footer__secondary-link"><a href="https://usaspending.gov" target="_blank">USASpending.gov <i class="fas fa-external-link-alt fa-xs usa-link__external-icon"></i></a></li>
                <li class="usa-footer__secondary-link"><a href="https://grants.gov" target="_blank">Grants.gov <i class="fas fa-external-link-alt fa-xs usa-link__external-icon"></i></a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['about/partners']">More Partners</a></li>
              </ul>
            </section>
          </div>
          <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
            <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
              <h2 class="usa-footer__primary-link">Policies</h2>
              <ul class="usa-list usa-list--unstyled">
                <li class="usa-footer__secondary-link"><a [routerLink]="['/about/policies/privacy']">Privacy Policy</a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['/about/policies/disclaimers']">Disclaimers</a></li>
                <li class="usa-footer__secondary-link"><a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" target="_blank">Freedom of Information Act <i class="fas fa-external-link-alt fa-xs usa-link__external-icon"></i></a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['/about/policies/accessibility']">Accessibility</a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['/about/policies/logo']">Logo</a></li>
              </ul>
            </section>
          </div>
          <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
            <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
              <h2 class="usa-footer__primary-link">Customer Service</h2>
              <ul class="usa-list usa-list--unstyled">
                <li class="usa-footer__secondary-link"><a [routerLink]="['help']">Help</a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['']">Check Registration Status</a></li>
                <li class="usa-footer__secondary-link"><a href="https://fsd.gov" target="_blank">Federal Service Desk <i class="fas fa-external-link-alt fa-xs usa-link__external-icon"></i></a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['about/external-resources']">External Resources</a></li>
                <li class="usa-footer__secondary-link"><a [routerLink]="['about/contact']">Contact Us</a></li>
              </ul>
            </section>
          </div>
        </div>
      </nav>
    </div>
  </div>
    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-4 margin-bottom-4">
                    <div class="sds-footer__logo">
                        <a class="sds-footer__logo-link" href="javascript:void(0);">
            <img [src]="locationStrategy.getBaseHref() + 'assets/img/gsa-logo.png'"  alt="GSA Logo"/>
          </a>
                        <h3 class="sds-footer__logo-heading">
                            General Services Administration
                        </h3>
                    </div>
                </div>
                <div class="sds-footer__note grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-8">
                    This is a U.S. General Services Administration Federal Government computer system that is <strong>"FOR OFFICIAL USE ONLY."</strong> This system is subject to monitoring. Individuals found performing unauthorized activities are subject
                    to disciplinary action including criminal prosecution.
                </div>
            </div>
        </div>
    </div>
</footer>

