<sds-subheader>
  <!-- =============== BACK BUTTON =============== -->
  <button class="sds-button sds-button--circular">
    <fa-icon [icon]="['fas', 'chevron-left']" [fixedWidth]="true"></fa-icon>
  </button>

  <!-- =============== TITLE =============== -->
  <h1 class="tablet-lg:width-mobile">
    Cross Index for Contract Labor Standards
  </h1>

  <!-- =============== ACTIONS BUTTONS =============== -->
  <sds-subheader-actions
    [model]="subheader"
    (clicks)="log($event)">
  </sds-subheader-actions>
</sds-subheader>
<div class="sds-page">
	<div class="grid-container">
		<div class="grid-row">
			<div class="tablet:grid-col-auto">
				<wages-sub-menu></wages-sub-menu>
			</div>
			<div class="tablet:grid-col-fill">
			</div>
		</div>
	</div>
</div>
