
.sds-tabs--keyword {
  // margin-left: -1rem;
  // margin-right: -1rem;
  display: flex;

  .sds-tabs__item {
    padding-left: 2px;
    padding-right: 2px;
    width: 50%;
    background-color: #f5f5f0;
    color: #1a4480;
    font-weight: 600;
    border-top: 1px solid #81aefc;
    border-right: 1px solid #81aefc;
    border-left: none;
    border-bottom: 1px solid #81aefc;
  }

  .sds-tabs__item:hover {
    background-color: white;
  }

  .sds-tabs__item[aria-selected="true"] {
    background-color: white;
    border-bottom: none;
    color: black;
  }

  + .sds-tabs__content {
    padding-left: 8px;
    padding-right: 8px;
    border-left: none;
    border-right: none;
  }
}

.sds-card__body {
  sds-filters {
    formly-field:first-child {
      .sds-filter-keywords {
        border-top: 1px solid black;
        background-color: white;
        margin-top: -1rem;
        margin-left: -1rem;
        margin-right: -1rem;
  
        label:not(.usa-radio__label), p {
          margin-left: 1rem;
          margin-right: 1rem;
        }
  
        p {
          margin-top: 2px;
          margin-bottom: 1rem;
        }
      }
    }

    :not(formly-field:first-child) {
      .sds-filter-keywords {
        background-color: white;
        margin-left: -1rem;
        margin-right: -1rem;
  
        label:not(.usa-radio__label), p {
          margin-left: 1rem;
          margin-right: 1rem;
        }
  
        p {
          margin-top: 2px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
