<div class="sds-filter-keywords">
  <label [attr.for]="id" class="usa-label text-bold text-base-dark">{{to.label}}</label>
  <p [innerHTML]="to.description"></p>

  <ng-container *ngIf="field.fieldArray?.fieldGroup?.length > 1 else singleField">
    <sds-tabs [tabClass]="'sds-tabs--keyword'">
      <sds-tab-panel *ngFor="let fieldConfig of field.fieldArray.fieldGroup" [tabHeader]="fieldConfig.templateOptions?.tabHeader">
        <formly-form [fields]="[fieldConfig]" [model]="_initialModel" 
          (modelChange)="onModelChange(fieldConfig)">
        </formly-form>
      </sds-tab-panel>
    </sds-tabs>
  </ng-container>

  <ng-template #singleField>
    <div class="padding-left-2 padding-right-2 padding-bottom-1">
      <formly-form [fields]="field.fieldArray.fieldGroup" [model]="_initialModel" 
      (modelChange)="onModelChange(field.fieldArray.fieldGroup[0])"></formly-form>
    </div>
  </ng-template>
</div>