<label [attr.for]="settings.id" style="margin-bottom: .3em; display: inline-block;">{{settings.labelText}}</label>
<sds-autocomplete [service]="service" (ngModelChange)="change($event)" [(ngModel)]="selectModel"
	[configuration]="settings" [suggestionTemplate]="temp" [selectedItemTemplate]="selecttemp"></sds-autocomplete>

<ng-template #temp let-item>
	<div class="grid-row" style="line-height: 1.0">
		<div class="grid-col-auto" style="font-weight: 600; font-size: .9em">{{item['id']}}</div>
		<div class="grid-col-fill" style="font-size: .9em; padding-left: .5em">{{item['name']}}</div>
	</div>
	<div style="font-size:.8em; font-style: italic; color: #999999">{{getLabel(item)}}</div>
</ng-template>

<ng-template #selecttemp let-item>
	<div class="grid-row" style="line-height: 1.0">
		<div class="grid-col-auto" style="font-weight: 600; font-size: .9em">{{item['id']}}</div>
		<div class="grid-col-fill" style="font-size: .9em; padding-left: .5em">{{item['name']}}</div>
	</div>
</ng-template>