
<label for="level1Model" style="margin-bottom: .3em; display: inline-block;">{{getLabel()}}</label>
<span style="float: right; color: #3F57A6; font-weight: 600; font-size: .9em" *ngIf="isEditMode" (click)="toggleEdit()">Done</span>
<span style="float: right; color: #3F57A6; font-weight: 600; font-size: .9em" *ngIf="!isEditMode && isEditable" (click)="toggleEdit()">Edit</span>
<sds-autocomplete *ngIf="isEditMode" [service]="service" (ngModelChange)="change($event)" [(ngModel)]="selectModel"
    [configuration]="settings" [suggestionTemplate]="temp" [selectedItemTemplate]="selecttemp"></sds-autocomplete>
<ul *ngIf="!isEditMode && selectModel.items.length > 0" style="list-style-type: none; margin: 0; padding: 0 1em; font-size: .9em;">
	<li *ngFor="let item of selectModel.items">
		<span style="font-weight: 600; margin-right: 1em;">{{item.id}}</span><span>{{item.name}}</span>
	</li>
</ul>
<ul *ngIf="!isEditMode && selectModel.items.length == 0" style="list-style-type: none; margin: 0; padding: 0 1em; font-weight: 600; font-size: .9em;">
	<li>All</li>
</ul>

<ng-template #temp let-item>
	<div class="grid-row" style="line-height: 1.0"><div class="grid-col-auto" style="font-weight: 600; font-size: .9em">{{item['id']}}</div><div class="grid-col-fill" style="font-size: .9em; padding-left: .5em">{{item['name']}}</div></div>
	<div style="font-size:.8em; font-style: italic; color: #999999">{{getLabel(item['level'])}}</div>
</ng-template>

<ng-template #selecttemp let-item>
	<div class="grid-row" style="line-height: 1.0"><div class="grid-col-auto" style="font-weight: 600; font-size: .9em">{{item['id']}}</div><div class="grid-col-fill" style="font-size: .9em; padding-left: .5em">{{item['name']}}</div></div>
</ng-template>