<main id="main-content">
  <div class="grid-container">
    <div class="grid-row sds-hero sds-hero--image">
      <div class="desktop:grid-offset-1 desktop:grid-col-10">
        <!-- HERO SECTION -->
        <div class="grid-row padding-x-3 grid-gap-6">
          <div class="desktop:grid-col-7 margin-y-4">
            <h1>Exclusions</h1>
            <p class="text-base-dark">An exclusion is any person who or organization that has been declared ineligible
              from receiving federal contracts, certain subcontracts, and certain types of federal financial and
              non-financial assistance and benefits.
            </p>
            <div class="grid-row margin-top-4">
              <div class="grid-col-fill">
                <h2>Search exclusions</h2>
              </div>
              <div class="grid-col-auto">
                <a class="usa-link text-bold" [routerLink]="['/search']" [queryParams]="{index: 'exclusions'}">Advanced
                  Search</a>
              </div>
            </div>
            <div class="grid-row margin-top-1">
              <div class="grid-col">
                <sds-search name="exclusions-search" [(ngModel)]="searchModel" (ngModelChange)="search()"
                  [searchSettings]="searchSettings">
                </sds-search>
              </div>
            </div>
            <div class="grid-row">
              <div class="usa-checkbox grid-col-fill">
                <input class="usa-checkbox__input" id="activeOnly" type="checkbox" name="activeOnly" value="activeOnly"
                  checked="checked">
                <label class="usa-checkbox__label" for="activeOnly">Active Only</label>
              </div>
            </div>
          </div>
          <div class="desktop:grid-col-5 display-none desktop:display-flex height-full">
            <div class="sds-tile--outline display-flex flex-column flex-justify margin-top-2">
              <div>
                <h2>Federal Users</h2>
                <p class="text-base-dark">Getting started for federal exclusions managers.</p>
              </div>
              <div class="desktop:flex-column flex-justify-center grid-row grid-gap margin-top-2">
                <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12">
                  <button *ngIf="!model.signedIn" class="usa-button width-full" [routerLink]="['/workspace']"
                    [queryParams]="{signin: true}">
                    Sign in to get started
                  </button>
                  <button *ngIf="model.signedIn" class="usa-button width-full" [routerLink]="['/workspace']">
                    Go to workspace
                  </button>
                </div>
                <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12 margin-y-1">
                  <button class="usa-button usa-button--secondary width-full"
                    [routerLink]="['/home/exclusions-federal']">
                    Go to exclusions federal home
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ACCORDION -->
    <div class="grid-row">
      <div class="tablet:grid-col-10 tablet:grid-offset-1">
        <sds-accordion-next multi="multi" #sdsAccordionDemo>
          <sds-accordion-item *ngFor="let help of searchHelp" #first>
            <sds-accordion-title>{{help.title}}</sds-accordion-title>
            <sds-accordion-content>
              <ul class="sds-list sds-list--icon padding-0">
                <li *ngFor="let article of help.articles">
                  <span class="sds-list__item-icon">
                    <i [ngClass]="article.icon"></i>
                  </span>
                  <span class="sds-list__item-content">
                    <a class="usa-link" [routerLink]="[article.link]">{{article.title}}</a>
                  </span>
                </li>
              </ul>
            </sds-accordion-content>
          </sds-accordion-item>
        </sds-accordion-next>
      </div>
    </div>

    <!-- Tile -->
    <div class="grid-row desktop:display-none margin-top-2">
      <div class="grid-col-11 margin-x-auto">
        <div class="sds-tile--outline">
          <h2>Federal Users</h2>
          <p class="text-base-dark">Getting started for federal exclusions managers.</p>
          <div class="desktop:flex-column flex-justify-center grid-row grid-gap margin-top-2">
            <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12">
              <button *ngIf="!model.signedIn" class="usa-button width-full" [routerLink]="['/workspace']"
                [queryParams]="{signin: true}">
                Sign in to get started
              </button>
              <button *ngIf="model.signedIn" class="usa-button width-full" [routerLink]="['/workspace']">
                Go to workspace
              </button>
            </div>
            <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-12 margin-y-1">
              <button class="usa-button usa-button--secondary width-full" [routerLink]="['/home/assistance/federal']">
                Go to exclusions federal home
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cards -->
    <div class="grid-row grid-gap flex-wrap margin-top-4">
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <h2 class="sds-card__title">Exclusions Resources</h2>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--icon">
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'file-earmark'" [size]="'xs'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Types of exclusions</a>
                </span>
              </li>
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'file-earmark'" [size]="'xs'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Legacy CT Codes</a>
                </span>
              </li>
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'file-earmark'" [size]="'xs'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Agency exclusions points of contact</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <h2 class="sds-card__title">Download Data Files</h2>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--icon">
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'file-earmark'" [size]="'xs'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Downloading exclusions files</a>
                </span>
              </li>
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'document-pdf'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Understanding the exclusions extract</a>
                </span>
              </li>
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon class="action-icon" [icon]="'angle-circle'" [rotate]="180"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Go to exclusions downloads</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <h2 class="sds-card__title">Connect to Data Services</h2>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--icon">
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'file-earmark'" [size]="'xs'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">How to use data services</a>
                </span>
              </li>
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'document-pdf'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Data services quick start guide</a>
                </span>
              </li>
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'camera-reels'" [size]="'xs'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Video: Using data services</a>
                </span>
              </li>
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon class="action-icon" [icon]="'angle-circle'" [rotate]="180"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Go to public exclusions API</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6 desktop:grid-col-3 margin-y-2">
        <div class="sds-card sds-card--shadowed sds-card--bordered height-full width-full">
          <div class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
            <a [routerLink]="['news']" class="sds-card__link">
              <h2 class="sds-card__title">Help</h2>
            </a>
          </div>
          <div class="sds-card__body">
            <ul class="sds-list sds-list--icon">
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'question-circle'" [size]="'xs'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a [routerLink]="['/help']" class="usa-link">Frequently Asked Questions</a>
                </span>
              </li>
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'book'" [size]="'xs'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Glossary Terms</a>
                </span>
              </li>
              <li>
                <span class="sds-list__item-icon">
                  <usa-icon [icon]="'camera-reels'" [size]="'xs'"></usa-icon>
                </span>
                <span class="sds-list__item-content">
                  <a href="#" class="usa-link">Videos</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
