<div class="grid-row grid-gap margin-bottom-1">
	<div class="grid-col-auto" ><h2>Business Information</h2></div>
    <div class="grid-col-fill">
        <span class="sds-tag sds-tag--status">
            <i class="sds-status sds-status--sm bg-base"></i>{{model.entity.business.status}}
        </span>
    </div>
    <div class="grid-col-auto">
    	<button class="usa-button">Start Validation</button>
    </div>
</div>

<p>Validation confirms that your entity exists and is unique. The uniqueness of an entity is based on the entity being a separate legal entity with a separate physical address. </p>


<p>The information you provide here will be used to validate your entity. Make sure that your information is current and correct.</p>

<p>Before you get started, make sure you can officially document your entity’s</p>
<ul><li>Legal business name</li>
	<li>Physical address (no P.O. boxes or virtual offices)</li>
	<li>Start year</li>
	<li>Country or state of incorporation, if applicable</li>
</ul>

<p>Some entities may need to provide documentation to complete validation, which will take additional time to process.</p>

<input type="checkbox" id="documentCheck">
<label for="documentCheck">I can provide official documentation, if necessary, to validate my entity.</label><br>