<div class="grid-row grid-gap margin-bottom-1">
	<div class="grid-col-auto" ><h2>CAGE Code</h2></div>
    <div class="grid-col-fill">
        <span class="sds-tag sds-tag--status">
            <i class="sds-status sds-status--sm bg-base"></i>{{model.entity.cage.status}}
        </span>
    </div>
    <div class="grid-col-auto">
    	<button class="usa-button">Start Validation</button>
    </div>
</div>

<p><b>A CAGE code is different a SAM-assigned Unique Entity ID.</b></p>

<p>The Commercial and Government Entity (CAGE) code is a five-character, alpha-numeric identifier assigned to entities located within the United States and its outlying areas by the Defense Logistics Agency (DLA) CAGE Program. Your entity is required to go through CAGE validation.
</p>

<p>If you entity does not have a CAGE code, one will be assigned to you by the DLA Cage Program after they have validated your information. If you already have a CAGE code, the DLA Cage Program will still validate your information to make sure it is current.</p>

