<div class="grid-row grid-gap margin-bottom-1">
	<div class="grid-col-auto" ><h2>Entity Relationships</h2></div>
    <div class="grid-col-fill">
        <span class="sds-tag sds-tag--status">
            <i class="sds-status sds-status--sm bg-base"></i>{{model.entity.cage.status}}
        </span>
    </div>
    <div class="grid-col-auto">
    	<button class="usa-button" disabled>Start Validation</button>
    </div>
</div>

<p><b>You must validate your business information before validating your entity relationships</b></p>

<p>After you have validated your business information, if you are legally related to other entities, you will be required to validate those relationships.</p>
<ul><li>Immediate Owner</li>
	<li>Ultimate Parent</li>
</ul>

