
ul.sam-vertical-toolbar {

	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: .7em;
	font-weight: 400;
	color: #323a45;

	.sam-tool {
		padding: 1em .4em;
		height: 7em;
		border: 1px solid transparent;
	}

	.sam-selected {
  		background-color: #f1f1f1;
  		border-left: 1px solid #ccd6df;
  		border-top: 1px solid #ccd6df;
  		border-bottom: 1px solid #ccd6df;

	 }

}