<div class="sds-tile--outline">
  <h3>Register Your Entity</h3>
  <p>Register your entity to get started doing business with the federal government.</p>
  <div class="desktop:flex-column flex-justify-center grid-row">
    <button class="sds-button sds-button--icon desktop:width-full margin-y-1">
      <sds-icon [icon]="'folder'" [size]="'2x'"></sds-icon>
      <span class="sds-button--icon__title">Get Started</span>
    </button>
    <button class="sds-button sds-button--icon desktop:width-full margin-y-1">
      <sds-icon [icon]="'folder'" [size]="'2x'"></sds-icon>
      <span class="sds-button--icon__title">Renew Entity</span>
    </button>
    <button class="sds-button sds-button--icon desktop:width-full margin-top-1">
      <!-- REPLACE ICON -->
      <sds-icon [icon]="'check-2-circle'" [size]="'2x'"></sds-icon>
      <span class="sds-button--icon__title">Check Registration Status</span>
    </button>
  </div>
</div>
