<hr style="border-top: 9px solid #e6e6e2">
<h3><i class="fas fa-square" style="color: #2672de; margin-right: .5em"></i>System Information</h3>
<table style="width: 100%; table-layout: fixed; word-wrap: break-word;" valign="top">
	<tr>
		<td class="sds-static--label" max-width="20%">System Account Name</td>
		<td class="sds-static" width="80%">{{model.info.accountName}}</td>
	</tr>
	<tr>
		<td>Interfacing System Name and Version</td>
		<td class="sds-static">{{model.info.systemNameAndVersion}}</td>
	</tr>
	<tr>
		<td class="sds-static--label">System Description</td>
		<td class="sds-static">{{model.info.systemDescription}}</td>
	</tr>
</table>

<hr style="border-top: 9px solid #e6e6e2">
<h3><i class="fas fa-square" style="color: #2672de; margin-right: .5em"></i>Organization</h3>
<table style="width: 100%">
	<tr>
		<td class="sds-static--label" width="20%">Organization</td>
		<td class="sds-static" width="80%">{{model.organization.organizationName}}</td>
	</tr>
	<tr>
		<td class="sds-static--label">System Administrators</td>
		<td class="sds-static">
			<ul style="list-style-type: none; padding: 0; margin-bottom: 0; margin-top: .3em;">
				<li *ngFor="let admin of model.organization.administrators">
					{{admin}}
				</li>	
			</ul>
		</td>
	</tr>
	<tr>
		<td class="sds-static--label">System Managers</td>
		<td class="sds-static">
			<ul style="list-style-type: none; padding: 0; margin-bottom: 0; margin-top: .3em;">
				<li *ngFor="let manager of model.organization.managers">
					{{manager}}
				</li>	
			</ul>
		</td>
	</tr>
</table>

<hr style="border-top: 9px solid #e6e6e2">
<h3><i class="fas fa-square" style="color: #2672de; margin-right: .5em"></i>Permissions</h3>
<table style="width: 100%">
	<tr *ngFor="let domain of model.permissions.domains">
		<td class="sds-static--label" width="20%">{{domain.domainName}}</td>
		<td class="sds-static">{{formatPermissions(domain.permissions)}}</td>
	</tr>
	<tr>
		<td class="sds-static--label" width="20%">Over FIPS 199 Categorization</td>
		<td class="sds-static" width="80%">{{model.permissions.overallFIPSLevel}}</td>
	</tr>
</table>

<hr style="border-top: 9px solid #e6e6e2">
<h3><i class="fas fa-square" style="color: #2672de; margin-right: .5em"></i>Security</h3>
<table style="width: 100%">
	<tr>
		<td class="sds-static--label" width="20%">IP Address</td>
		<td class="sds-static" width="80%">{{model.security.ipAddress}}</td>
	</tr>
	<tr>
		<td class="sds-static--label">Type of Connection</td>
		<td class="sds-static">{{model.security.connectionType}}</td>
	</tr>
	<tr>
		<td class="sds-static--label">Physical Location</td>
		<td class="sds-static">{{model.security.physicalLocation}}</td>
	</tr>
	<tr>
		<td class="sds-static--label">SecurityOfficial</td>
		<td class="sds-static">
			<ul style="list-style-type: none; padding-left: 0; padding-top: 0; margin-top: .3em;">
				<li>
					{{model.security.officialName}}
				</li>	
				<li>
					{{model.security.officialEmail}}
				</li>
			</ul>
		</td>
	</tr>
</table>

<hr style="border-top: 9px solid #e6e6e2">
<h3><i class="fas fa-square" style="color: #2672de; margin-right: .5em"></i>Authorization</h3>
<div class="usa-checkbox">
    <input class="usa-checkbox__input" id="authorization" type="checkbox" name="authorization" value="none" checked="checked">
    <label class="usa-checkbox__label" for="authorization">I confirm that I am the authorizing official for the requested system account and certify that all of the information provided above is current and accurate.</label>
</div>
<table style="width: 100%">
	<tr>
		<td class="sds-static--label" width="20%">Authorizing Official</td>
		<td class="sds-static" width="80%">{{model.auth.officialName}}</td>
	</tr>
	<tr>
		<td class="sds-static--label">Authorization Date</td>
		<td class="sds-static">{{model.auth.authDate | date}}</td>
	</tr>
</table>