<data-entry-subheader title="FSRS New Report">
  <button class="usa-button usa-button--secondary">Discard Draft</button>
  <button class="usa-button" (click)="onReviewAndSubmit()" [disabled]="!isFormValid">Review & Submit</button>
</data-entry-subheader>
<main>
  <div class="sds-page margin-top-2">
    <div class="grid-container grid-row grid-gap">
      <div class="desktop:grid-col-4 tablet-lg:grid-col-12 mobile-lg:grid-col-12 margin-bottom-3">
        <div class="sds-card">
          <div class="sds-card__body sds-card__body--accent-cool">

            <ul class="usa-sidenav usa-sidenav--styled">
              <li class="usa-sidenav__item padding-1 padding-left-2 text-bold">
                FSRS Report
              </li>

              <li *ngFor="let step of fields[0].fieldGroup; let i = index;" class="usa-sidenav__item"
                [ngClass]="{'usa-current':  model?.selectedIndex === i }">
                <a href="javascript:void(0);" (click)="onSelectionChange(i)">
                  <span *ngIf="stepDefinition[i].isValid" class="usa-button sds-button--circle">
                    <sds-icon [icon]="'check'"></sds-icon>
                  </span>
                  <span *ngIf="!stepDefinition[i].isValid && stepDefinition[i].isValid !== null"
                    class="usa-button sds-button--circle sds-button--danger">
                    <sds-icon [icon]="'x'"></sds-icon>
                  </span>
                  <span *ngIf="stepDefinition[i].isValid === null">
                    <sds-icon [icon]="'not-completed'"></sds-icon>
                  </span>
                  {{step.templateOptions.label}}
                </a>

                <span class="usa-sr-only">{{step}}</span>
              </li>

              <!-- <li class="usa-sidenav__item" [ngClass]="{'usa-current':  model?.selectedIndex === 4 }">
                <a href="javascript:void(0);" (click)="onSelectionChange(4)">
                  Review and Submit
                </a>
                <span class="usa-sr-only"> Review and Submit</span>

              </li> -->
            </ul>
          </div>
        </div>
      </div>

      <div class="desktop:grid-col-8 tablet-lg:grid-col-12 mobile-lg:grid-col-12">
        <formly-form class="grid-col-8 padding-right-2" [model]="model" [fields]="isReviewMode ? reviewFields :fields"
          [options]="options" [form]="form"></formly-form>
      </div>
    </div>
  </div>
</main>

<ng-template #myTemplate let-item>
  <div class="sds-card sds-card--bordered">
    <div class="sds-card__header sds-card__header--center">
      <div class="sds-card__icon margin-left-2">
        <sds-icon [icon]="'book'" [classes]="['search']" size="2x"></sds-icon>
      </div>
      <h2 class="sds-card__title padding-left-2 ">title</h2>
    </div>
    <div class="sds-card__body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Sed augue lacus viverra vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Sed augue lacus viverra vitae.</p>
    </div>
  </div>
</ng-template>
