<data-entry-subheader title="FSRS New Report">
  <button class="usa-button usa-button--secondary">Discard Draft</button>
  <button class="usa-button" (click)="onReviewAndSubmit()" [disabled]="!isFormValid">Review & Submit</button>
</data-entry-subheader>
<main>
  <div class="sds-page margin-top-2">
    <div class="grid-container grid-row grid-gap">
      <div class="desktop:grid-col-4 tablet-lg:grid-col-12 mobile-lg:grid-col-12 margin-bottom-3">
        <div class="sds-card">
          <div class="sds-card__body sds-card__body--accent-cool">

            <ul class="usa-sidenav usa-sidenav--styled">
              <li class="usa-sidenav__item padding-1 padding-left-2 text-bold">
                FSRS Report
              </li>

              <li *ngFor="let step of fields[0].fieldGroup; let i = index;" class="usa-sidenav__item"
                [ngClass]="{'usa-current':  model?.selectedIndex === i }">
                <a href="javascript:void(0);" (click)="onSelectionChange(i)">
                  <span *ngIf="stepDefinition[i].isValid" class="usa-button sds-button--circle">
                    <usa-icon [icon]="'check'"></usa-icon>
                  </span>
                  <span *ngIf="!stepDefinition[i].isValid && stepDefinition[i].isValid !== null"
                    class="usa-button sds-button--circle sds-button--danger">
                    <usa-icon [icon]="'x'"></usa-icon>
                  </span>
                  <span *ngIf="stepDefinition[i].isValid === null">
                    <usa-icon [icon]="'not-completed'"></usa-icon>
                  </span>
                  {{step.templateOptions.label}}
                </a>

                <span class="usa-sr-only">{{step}}</span>
              </li>

              <!-- <li class="usa-sidenav__item" [ngClass]="{'usa-current':  model?.selectedIndex === 4 }">
                <a href="javascript:void(0);" (click)="onSelectionChange(4)">
                  Review and Submit
                </a>
                <span class="usa-sr-only"> Review and Submit</span>

              </li> -->
            </ul>
          </div>
        </div>
      </div>

      <div class="desktop:grid-col-8 tablet-lg:grid-col-12 mobile-lg:grid-col-12">
        <formly-form class="grid-col-8 padding-right-2" [model]="model" [fields]="isReviewMode ? reviewFields :fields"
          [options]="options" [form]="form"></formly-form>
      </div>
    </div>
  </div>
</main>

<ng-template #myTemplate let-item>
  <div class="sds-alert--expanded info">
    <div class="grid-container width-full maxw-full margin-0 padding-0">
      <div class="grid-row">
        <div class="grid-col-auto">
          <usa-icon [icon]="'info'"></usa-icon>
        </div>
        <div class="grid-col-fill">
          <span>
            Please be aware that all information collected on the <a href="https://www.usaspending.gov">FSRS
              website</a>,
            including registration information and report data, will be
            visible to the public on a public website (<a href="https://www.usaspending.gov">www.usaspending.gov</a>).
          </span>
        </div>
      </div>
    </div>
  </div>

</ng-template>
