<div class="sam-content">
	<div class="sam-page-title grid-row">
		<div class="grid-col-5">
			<h2>N4511212C1234</h2>
		</div>
		<div style="margin-top: auto; margin-bottom:auto;" class="grid-col-7">

		</div>
	</div>
</div>


<ng-template #evaluation>
	<sam-sidebar title="Evaluation">
		<form class="sam-sidebar-form usa-form">
			  <label class="usa-label" for="versions">Version</label>
			  <select class="usa-select" name="versions" id="versions">
			    <option value="draft">Draft</option>
			    <option value="version-3">Dec 16, 2017</option>
			    <option value="version-2">Dec 8, 2016</option>
			    <option value="version-1">Dec 12, 2015</option>
			  </select>
		<label class="usa-label" for="edit-menu">Steps</label>
		<nav id="edit-menu" class="sam-edit-sidemenu">
			<a href="/evaluation/N4511212C1234?page=contractor"><i class="fa fa-check"></i>Contractor Details</a>
			<a href="/evaluation/N4511212C1234?page=contract"><i class="fa fa-check"></i>Contract Information</a>
			<a href="/evaluation/N4511212C1234?page=miscellaneous"><i class="fa fa-check"></i>Miscellaneous Information</a>
			<a href="/evaluation/N4511212C1234?page=smallbusiness"><i class="fa fa-check"></i>Small Business Subcontracting</a>
			<a href="/evaluation/N4511212C1234?page=ratings"><i class="fa fa-check"></i>Ratings</a>
			<a href="/evaluation/N4511212C1234?page=assessor"><i class="fa fa-check"></i>Assessor</a>
		</nav>
		</form>
	</sam-sidebar>
</ng-template>

<ng-template #history>
	<sam-sidebar title="History">
		
	</sam-sidebar>
</ng-template>

<ng-template #download>
	<sam-sidebar title="Download">
		
	</sam-sidebar>
</ng-template>
