<sds-subheader>
  <!-- =============== BACK BUTTON =============== -->
  <back-button></back-button>
  <subheader-title title="Alerts"></subheader-title>

  <!-- =============== SEARCH =============== -->
  <sds-search (term)="log($event)" parentSelector=".grid-row" placeholder="Enter a keyword"
    inputClass="width-card-lg widescreen:width-mobile display-none desktop-lg:display-inline-block">
  </sds-search>

  <!-- =============== ACTIONS BUTTONS =============== -->
  <sds-subheader-actions [model]="subheader" (clicks)="log($event)">
  </sds-subheader-actions>
</sds-subheader>
<main>
  <div class="sds-page">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col margin-0">
          <search-list-layout [service]="service" [configuration]="service.configuration">
            <ng-template #resultContent let-item>
              <div>
                <alert-item [model]="item"></alert-item>
              </div>
            </ng-template>
          </search-list-layout>
        </div>
      </div>
    </div>
  </div>
</main>
