.sam-search-input {
	display: inline;
	input {
		display: inline;
		width: 100%;
	}
}

.sam-search-domains {
	display: inline;

	select {
		display: inline;
		width: 34%;
	}
	input {
		display: inline;
		width: 64%;
	}
}