<form class="usa-search">
  <div role="search">
	<select *ngIf="domains" (change)="selectDomain($event)">
		<option *ngFor="let dom of domains" [value]="dom.key" >{{dom.title}}</option>
	</select>
    <label class="usa-sr-only" for="search-field">Search</label>
    <input #search class="usa-input" id="search-field" type="search" name="search"
    	(keyup.enter)="onSearch(search.value)" placeholder="{{selectedDomain ? selectedDomain.placeholder : 'Search by ID or keyword'}}">
    <button class="usa-button" type="submit">
      <span class="usa-search-submit-text">Search</span>
    </button>
  </div>
</form>