<div class="n-sds-page">
	<div class="grid-container">
        <section>
        <div class="n-sds-hero">
          <div class="grid-row">
            <div class="tablet:grid-col-fill">
              <h1>Entity Compliance</h1>
              <p class="usa-prose usa-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et netus et malesuada fames. Massa enim nec dui nunc mattis.</p>
            </div>
            <div class="sds-seal margin-top-4 margin-right-neg-3 tablet:grid-col-auto">
                <i class="sds fa-flag fa-2x text-secondary"></i>
                <div class="sds-seal__content">Official U.S. Government Website<span>100% Free</span></div>
            </div>
          </div>
          <h2 class="font-sans-lg margin-top-4 text-ink text-semibold">Search Compliance Reports</h2>
          <div class="maxw-tablet">
            <sds-search placeholder="Enter a contract ID or unique entity ID" 
              (term)="search($event)" 
              placeholderText="Enter a contract ID or unique entity ID"
              inputClass="sds-search--big">
            </sds-search>
          </div>
        </div>
      </section>
	</div>
</div>
