
.sam-sidebar {
	background-color: #f1f1f1;
	border-right: 1px solid #ccd6df;
	border-top: 1px solid #ccd6df;
	padding: 1em;
	height: 100%
}

.tools-header {

	font-size: 1em;
	font-weight: 600;

	i {
		float: right;
	}
}

.tools-content {
	flex: 1;
}