<h2>Before You Start<\/h2>

<p>You must have an active registration in SAM to do business with the Federal Government. To register in SAM, at a minimum, you will need the following information:<\/p>

<h3>U.S. Registrants<\/h3>
<ul>
	<li>Your DUNS Number, Legal Business Name, and Physical Address from your Dun & Bradstreet (D&B) record. If you don't already have one, you can request a DUNS Number for FREE from D&B.<\/li>
	<li>Your Taxpayer Identification Number (TIN) and Taxpayer Name associated with your TIN. Review your tax documents from the IRS (such as a 1099 or W-2 form) to find your Taxpayer Name.<\/li>
	<li>Your bank's routing number, your bank account number, and your bank account type, i.e. checking or savings, to set up Electronic Funds Transfer (EFT).<\/li>
<\/ul>





<h3>International Registrants:<\/h3><ul><li>Your NATO Commercial And Government Entity (NCAGE) Code.  If you don't already have one, you can request an NCAGE Code online for FREE.<\/li> <li>Your DUNS Number, Legal Business Name, and Physical Address from your D&B record. Make sure your DUNS information and NCAGE information match. If you don't already have one, you can request a DUNS Number for FREE from D&B.<\/li><\/ul>
