
@import '~@angular/cdk/overlay-prebuilt.css';

// $theme-image-path: '~@gsa-sam/sam-styles/src/img';
// $theme-font-path: '~@gsa-sam/sam-styles/src/fonts';

$theme-link-color        : 'indigo-cool-60';
$theme-link-visited-color: 'violet-70v';
$theme-link-hover-color  : 'yellow-50';
$theme-link-active-color : 'yellow-50';

/* You can add global styles to this file, and also import other style files */

$theme-site-max-width: "widescreen";
$theme-site-margins-breakpoint: "desktop";
$theme-site-margins-width: 4;
$theme-site-margins-mobile-width: 2;
$theme-text-measure: 3;

$theme-font-type-sans: 'source-sans-pro';

$theme-font-role-heading: 'sans';
$theme-font-role-body: 'sans';
$theme-font-role-alt: 'sans';


//@import '~@gsa-sam/sam-styles/src/stylesheets/sam.scss';
@import '~@gsa-sam/sam-styles/src/index.scss';
$wcag-target: 'A';
/* autoprefixer grid: autoplace */

