<div sds-dialog-title class="sds-dialog-section--centered text-uppercase">
  Add Subawardee
</div>
<div sds-dialog-content>
  <div class="padding-x-9 padding-y-2 font-sans-2xs line-height-sans-6 text-base">
    <uswds-custom-stepper-demo [model]="model" [stepValidityMap]="data.stepValidityMap" [queryParamKey]="'subawardee'"
      (saveData)="onSaveData($event)">
      <sds-step *ngFor="let step of data.fields" [id]="step.templateOptions.id" [fieldConfig]="step"
        [text]="step.templateOptions.label">
      </sds-step>
    </uswds-custom-stepper-demo>
  </div>
</div>
<div sds-dialog-actions>
  <button class="usa-button usa-button--base" (click)="onCancel()" type="button">
    Cancel
  </button>
  <button class="usa-button" type="button" (click)="onSubmit()">
    Submit
  </button>
</div>
