<h1>Roles</h1>

	<div class="display-flex flex-row flex-align-end flex-wrap margin-bottom-2">
		<div class="flex-auto margin-right-2">
			<label for="organizations" class="sds-field--small">Organization</label>
		    <select class="usa-select" name="options" id="organizations">
   				 <option value="immediately">Farm Service Agency</option>
  			</select>
		</div>
		<div class="flex-auto">
			<label for="domains" class="sds-field--small">Domain</label>
		    <select class="usa-select" name="options" id="domains">
   				 <option value="immediately">Contracting</option>
    			 <option value="daily">Federal Assistance</option>
  			</select>
		</div>
		<div class="flex-fill">
		</div>
		<div class="flex-auto">
			<button class="usa-button usa-button--primary-lighter">Request Role</button>
		</div>
	</div>

	<sds-table [data]="roles" [pagination]="true" sort [sortFn]="customSort" [tableName]="'fullTable'">

	    <sds-table-column sdsColumnName="organization">
	        <ng-template #sdsHeaderCell>Federal Hierarchy</ng-template>
	        <ng-template #sdsCell let-element="element">{{ element.organization }}</ng-template>
	    </sds-table-column>
	    <sds-table-column sdsColumnName="role">
	        <ng-template #sdsHeaderCell>Role</ng-template>
	        <ng-template #sdsCell let-element="element">{{ element.role }}</ng-template>

	    </sds-table-column>
	    <sds-table-column sdsColumnName="domains">
	        <ng-template #sdsHeaderCell>Domains</ng-template>
	        <ng-template #sdsCell let-element="element">{{ element.domains.join(', ') }}</ng-template>

	    </sds-table-column>
	    <sds-table-column sdsColumnName="status">
	        <ng-template #sdsHeaderCell>Status</ng-template>
	        <ng-template #sdsCell let-element="element"><i class="sds-status sds-status--sm sds-status--green"></i>{{ element.status }}</ng-template>
	    </sds-table-column>

	    <sds-header-row [displayedColumns]="displayedColumns" [sticky]="false"></sds-header-row>
	    <sds-row [displayedColumns]="displayedColumns" [expandOnClick]="false"></sds-row>
	</sds-table>

