<h1>Site Map</h1>

<div class="margin-bottom-4" *ngFor="let category of siteData">
	<h2>{{category.label}}</h2>
	<p>{{category.description}}</p>
	<ng-container *ngTemplateOutlet="siteListTemplate; context: { pages: category.children }">
	</ng-container>
</div>

<ng-template #siteListTemplate let-pages="pages">
<div *ngFor="let page of pages">
	<div class="grid-row margin-top-2" *ngIf="model.signedIn || page.public">
		<div class="grid-col-auto">	
	    	<button class="usa-button sds-button--circle sds-button--white" *ngIf="page.children && page.children.length > 0" [attr.aria-expanded]="!page.collapsed"
		    aria-controls="page.id" (click)="page.collapsed = !page.collapsed" >
		    	<i class="sds fa-document-add fa-fw"></i>
		    </button>
	        <i *ngIf="!page.children || page.children.length == 0" class="sds fa-document fa-fw"></i>
		</div>
		<div class="grid-col-fill">
			<p><a class="usa-link" [routerLink]="[page.routerLink]" [queryParams]="page.queryParams">{{page.label}}</a></p>
			<p *ngIf="page.description != null">{{page.description}}</p>
			<div id="page.id" *ngIf="page.children && page.children.length > 0" [sdsCollapse]="page.collapsed">
				<ng-container *ngTemplateOutlet="siteListTemplate; context: { pages: page.children }">
				</ng-container>
			</div>
		</div>
	</div>
</div>