
.sds-subheader-tab {
	
	display: inline-block;
	text-align: center;
	width: 6em;
	border: solid 1px #afaea2;
	background-color: #e6e6e2;
	padding-top: .7em;
	padding-bottom: .7em;
	border-radius: 3px;
	margin-left: 1em;
	font-size: .9em;

    a {
    	color: #3F57A6;
		text-decoration: none;
    }

	a:visited {
    	color: #3F57A6;
	}


}