.splash-button {
  background: #e3f5e188;
  padding: 1.5em 2em;
  display: inline;
  margin-right: 1em;
  border: solid 1px #70e17b;
  font-weight: 600;

  :hover {
    cursor: pointer;
  }
}

a {
  color: #3F57A6;
  font-weight: 600;
  text-decoration: none;

  :hover {
    cursor: pointer;
  }

  :visited {
    color: #3F57A6;
  }
}

.sds-tile {
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .sds-tile__content,
  .sds-tile__content.sds-tile--outline {
    height: 70px;
    width: 300px;
    margin: auto;
  }

  .sds-official-tag {
    display: none;
  }

  #inverse-search-dropdown {
    width: 350px;
  }
}

.usa-select.usa-select--inverse {
  width: 200px !important;
}
