<div class="homepage">
  <div class="grid-container padding-0">
    <div class="grid-row">
      <div class="grid-col">
        <div class="grid-row" style="background-image: url('assets/img/home-top.png'); background-size: 100%; background-repeat: no-repeat; background-position: bottom right; background-color: white;">
          <div class="tablet:grid-col-9 padding-x-4">
            <h2>SAM.gov is the official U.S. Government system for</h2>
            <div class="sds-tile">
              <a href="#" class="sds-tile__content sds-tile--outline">
                <i class="sds-tile__icon sds fa-building text-primary-dark"></i>
                <div class="sds-tile__title">Entity Registration</div>
              </a>
            </div>
            <div class="sds-tile">
              <a href="#" class="sds-tile__content sds-tile--outline">
                <i class="sds-tile__icon sds fa-photo text-ink"></i>
                <div class="sds-tile__title">Exclusions</div>
              </a>
            </div>
            <div class="sds-tile">
              <a href="#" class="sds-tile__content sds-tile--outline">
                <i class="sds-tile__icon sds fa-open-doors text-gold"></i>
                <div class="sds-tile__title">Contract Opportunities</div>
                <div class="sds-tile__details">(fbo.gov)</div>
              </a>
            </div>
            <div class="sds-tile">
              <a href="#" class="sds-tile__content sds-tile--outline">
                <i class="sds-tile__icon sds fa-photo text-ink"></i>
                <div class="sds-tile__title">Contract Data Reports</div>
                <div class="sds-tile__details">(fdps.gov)</div>
              </a>
            </div>
            <div class="sds-tile">
              <a href="#" class="sds-tile__content sds-tile--outline">
                <i class="sds-tile__icon sds fa-photo text-ink"></i>
                <div class="sds-tile__title">Assistance Listings</div>
                <div class="sds-tile__details">(cfda.gov)</div>
              </a>
            </div>
            <div class="sds-tile">
              <a href="#" class="sds-tile__content sds-tile--outline">
                <i class="sds-tile__icon sds fa-photo text-ink"></i>
                <div class="sds-tile__title">Wage Determinations</div>
                <div class="sds-tile__details">(wdol.gov)</div>
              </a>
            </div>

            <div class="grid-row">
              <div class="margin-y-4 display-block">Click on one of the above links to learn about what you can do.</div>
            </div>
          </div>
          <div class="tablet:grid-col-auto">

            <div class="sds-official-tag">
              <div class="sds-official-tag__outline">
                <i class="sds fa-star sds-official-tag__blue"></i>
                <div class="sds-official-tag__red">Official U.S. Government</div>
                <div class="sds-official-tag__grey">Website</div>
                <i class="sds fa-flag fa-2x sds-official-tag__grey margin-y-1"></i>
                <div class="sds-official-tag__blue">100%</div>
                <div class="sds-official-tag__grey">Free</div>
              </div>
            </div>

          </div>
        </div>

        <div class="grid-container margin-right-05" style="background-image: url('assets/img/home-base.png'); background-size: 100%; background-repeat: no-repeat; background-position: bottom right; background-color: white;">
          <div class="tablet:grid-col-fill padding-y-4">
          <div class="grid-row">
            <div class="tablet:grid-col-fill">
              <div class="text-white">Already know what you are looking for?</div>
              <div class="sds-search">
                <form class="usa-search usa-search--small">
                  <label class="usa-sr-only" for="inverse-search-options">Select Here</label>
                  <select class="usa-select usa-select--inverse" name="options" id="inverse-search-options">
                    <option value="value">Select Domain.. </option>
                    <option value="value1">Option A</option>
                    <option value="value2">Option B</option>
                    <option value="value3">Option C</option>
                  </select>
                  <div role="search" class="width-full">
                    <label class="usa-sr-only" for="inverse-search-dropdown">Search Here</label>
                    <input class="usa-input" id="inverse-search-dropdown" type="search" name="search" placeholder="Search Here">
                    <button class="usa-button" type="submit">
                      <span class="usa-sr-only">Search</span>
                    </button>
                  </div>
                </form>
              </div>

            </div>

            <div class="tablet:grid-col-auto display-flex">
              <button class="sds-button sds-button--icon">
                <i class="sds fa-folder"></i>
                <span>Register Entity</span>
              </button>

              <button class="sds-button sds-button--icon">
                <i class="sds fa-check-circle"></i>
                <span>Check Status</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="grid-container padding-0">
    <div class="grid-row">
      <div class="tablet:grid-col-7" style="height: 420px; background-image: url('assets/img/home-video.png'); background-size: auto; background-repeat: no-repeat; background-position: left;">
      </div>

      <div class="tablet:grid-col-5 padding-x-7" style="background-color: #eff6fb;">
        <h1 class="font-sans-xl">What's New at SAM.gov?</h1>
        <h2>Frequently Asked Questions</h2>
        <ul class="usa-list usa-list--unstyled text-secondary-dark text-bold">
          <li class="margin-y-105">Do I need a user account?</li>
          <li class="margin-y-105">What's the difference between signing up and registering?</li>
          <li class="margin-y-105">What if I already have a login.gov account?</li>
          <li class="margin-y-105">what do I need to register my entity?</li>
          <li class="margin-y-105">More FAQs</li>
        </ul>
        <button class="usa-button usa-button--secondary margin-y-4">Learn More</button>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-row margin-x-auto padding-y-4">
      <div class="tablet:grid-col display-flex flex-column flex-align-center">
        <div class="sds-tile">
          <a href=" #" class="sds-tile__content">
            <i class="sds-tile__icon sds fa-pen-paper fa-4x"></i>
            <div>
              <div class="sds-tile__title">Provide Feedback</div>
              <div class="sds-tile__details">Hwat you think matters!</div>
            </div>
          </a>
        </div>
      </div>
      <div class="tablet:grid-col display-flex flex-column flex-align-center">
        <div class="sds-tile">
          <a href=" #" class="sds-tile__content">
            <i class="sds-tile__icon sds fa-federal-building fa-4x"></i>
            <div>
              <div class="sds-tile__title">Federal Service Desk</div>
              <div class="sds-tile__details">Contact Support</div>
            </div>
          </a>
        </div>
      </div>
      <div class="tablet:grid-col display-flex flex-column flex-align-center">
        <div class="sds-tile">
          <a href=" #" class="sds-tile__content">
            <i class="sds-tile__icon sds fa-check-circle fa-4x" style="margin-left: 27%; margin-right: 10%;"></i>
            <div>
              <div class="sds-tile__title">Check Status</div>
              <div class="sds-tile__details">Check your Entity Registration Status</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
