<main>
  <div class="grid-container ">
    <!-- logo/tiles/search section -->
    <div class="grid-row width-full home-hero">
      <div class="grid-col">
        
        <!-- logo & seal -->
        <div class="grid-row padding-y-3">
          <div class="grid-col-fill">
            <home-logo></home-logo>
          </div>
          <div class="grid-col-auto">
            <home-seal></home-seal>
          </div>
        </div>

        <!-- tiles -->
        <div class="grid-row grid-gap flex-align-center desktop:flex-align-start margin-top-3">
          <div class="desktop:grid-col-6 desktop:grid-offset-1 desktop:order-1">
              <home-splash-tile></home-splash-tile>
          </div>
          <div class="desktop:grid-col-6 desktop:grid-offset-1 padding-3 desktop:order-3">
              <h2 class="margin-bottom-1">Already know what you want to find?</h2>
              <home-search-bar></home-search-bar>
          </div>
          <div class="desktop:grid-col-4 desktop:order-2">
              <home-register-tile></home-register-tile>
          </div>
        </div>
      </div>
    </div>

    <!-- homepage video and news list section-->
    <div class="grid-row width-full flex-nowrap">

      <!-- Announcements Card -->
      <div class="tablet:grid-col padding-1">
        <landing-card title="Announcements">
          <landing-feed [service]="announcementsService"></landing-feed>
        </landing-card>
      </div>

      <!-- homepage video and freq. q's -->
      <div class="tablet:grid-col padding-1">
        <landing-card title="Have Questions about SAM.gov?">
          <home-help></home-help>
        </landing-card>
      </div>

    </div>

    
  </div>
</main>
