<main>
<div class="grid-container">
	<div class="sds-page">
	<h2>Entity Resources</h2>

<ul class="sds-list sds-list--unstyled sds-list--flex">
    <li>
        <i class="sds fa-bell fa-fw"></i>
        <a class="usa-link" href=" ">CAGE Code Search</a>. 
        <p>The Defense Logistics Agency (DLA) Commercial and Government Entity (CAGE) portal to search for domestic and foreign entity CAGE Code information.</p>
    </li>
    <li>
        <i class="sds fa-bell fa-fw"></i>
        <a class="usa-link" href=" ">CAGE Code Search</a>. The Defense Logistics Agency (DLA) Commercial and Government Entity (CAGE) portal to search for domestic and foreign entity CAGE Code information.
    </li>
</ul>
<ul class="measure-6">
    <li>
        <a class="usa-link" href=" ">CAGE Code Search</a>. 
        <p>The Defense Logistics Agency (DLA) Commercial and Government Entity (CAGE) portal to search for domestic and foreign entity CAGE Code information.</p>
    </li>
    <li>
        <a class="usa-link" href=" ">CAGE Code Search</a>. The Defense Logistics Agency (DLA) Commercial and Government Entity (CAGE) portal to search for domestic and foreign entity CAGE Code information.
    </li>
</ul>

CAGE Code Search - The Defense Logistics Agency (DLA) Commercial and Government Entity (CAGE) portal to search for domestic and foreign entity CAGE Code information.
DUNS Number Request - The webform where Dun & Bradstreet (D&B) provides a DUNS Number, a unique nine digit identification number, for each physical location of your business. DUNS Number assignment and maintenance is free for all entities required to register with the U.S. government for contracts or grants.
NCAGE Code Request - The online portal for international entities to request a new NATO CAGE (NCAGE) Code or submit updates to an existing NCAGE Code record.
Procurement Technical Assistance Centers (PTACs) - An official resource for government contracting assistance. Find your local PTAC to get free help completing your SAM registration.
SBA's Dynamic Small Business Search (DSBS) - The searchable tool which displays SAM entity registration data and supplemental information provided by small businesses to SBA to further describe their entity.
U.S. Census Bureau - The official source for data about the nation's people and economy including the North American Industry Classification System (NAICS) and Metropolitan Statistical Areas (MSA).
sam.gov/about/external-resources/#entity	
Entity Information Landing Page

<h2>Contracting Resources</h2>

Federal Acquistion Regulation (FAR)
FAR 42.1503(4)(d) 
Public Law 109-282 FFATA Legislation
Supplemental Agency Regulations 
OMB Compliance Supplement
Federal Agency Business Forecasts 
Veterans Employment and Training Service - VETS 100 Federal Contractor Program
sam.gov/about/external-resources/#contracting	
Contract Opportunities Landing Page
Contract Data Landing Page

<h2>Federal Assistance Resources</h2>

Chief Financial Officers Council Grants Training
Basic knowledge training modules on grants and cooperative agreements for Federal officials.
Grants.gov Learning Center
Learn and navigate the step-by-step process of the grants lifecycle, from online application through post-award.
Benefits.gov Benefit Finder
Connect to this benefits.gov tool to find government benefit information and determine your eligibility.
USA.gov Government Benefits, Grants, and Loans
All you need to know about affordable housing, grants, and loans on USA.gov.
</div>
</div>
</main>
