<div class="usa-prose measure-6">
	<h1>External Resources</h1>

	<h2>Entity Resources</h2>
	<section>
	<ul>
	    <li>
	        <a class="usa-link" href=" ">CAGE Code Search</a>. The Defense Logistics Agency (DLA) Commercial and Government Entity (CAGE) portal to search for domestic and foreign entity CAGE Code information.
	    </li>
	    <li>
	    	<a class="usa-link" href="">DUNS Number Request</a>. The webform where Dun & Bradstreet (D&B) provides a DUNS Number, a unique nine digit identification number, for each physical location of your business. DUNS Number assignment and maintenance is free for all entities required to register with the U.S. government for contracts or grants.
	    </li>
	    <li>
	    	<a class="usa-link" href="">NCAGE Code Request</a>.  The online portal for international entities to request a new NATO CAGE (NCAGE) Code or submit updates to an existing NCAGE Code record.
	    </li>
	    <li>
	    	<a class="usa-link" href="">Procurement Technical Assistance Centers (PTACs)</a>. An official resource for government contracting assistance. Find your local PTAC to get free help completing your SAM registration.
	    </li>
	    <li>
	    	<a class="usa-link" href="">SBA's Dynamic Small Business Search (DSBS)</a>. The searchable tool which displays SAM entity registration data and supplemental information provided by small businesses to SBA to further describe their entity.
	    </li>
	    <li>
	    	<a class="usa-link" href="">U.S. Census Bureau</a>. The official source for data about the nation's people and economy including the North American Industry Classification System (NAICS) and Metropolitan Statistical Areas (MSA).
	    </li>
	</ul>
	</section>

	<h2>Contracting Resources</h2>
	<section>
		<ul>
			<li>
				<a class="usa-link" href="">Federal Acquistion Regulation (FAR)</a>
			</li>
			<li>
				<a>FAR 42.1503(4)(d) </a>
			</li>
			<li>
				<a class="usa-link" href="">Public Law 109-282 FFATA Legislation</a>
			</li>
			<li>
				<a class="usa-link" href="">Supplemental Agency Regulations </a>
			</li>
			<li>
				<a class="usa-link" href="">OMB Compliance Supplement</a>
			</li>
			<li>
				<a class="usa-link" href="">Federal Agency Business Forecasts</a>
			</li>
			<li>
				<a class="usa-link" href="">Veterans Employment and Training Service - VETS 100 Federal Contractor Program</a>
			</li>
			<li>
				<a class="usa-link" href="">sam.gov/about/external-resources/#contracting	</a>
			</li>
			<li>
				<a class="usa-link" href="">Contract Opportunities Landing Page</a>
			</li>
			<li>
				<a class="usa-link" href="">Contract Data Landing Page</a>
			</li>
		</ul>
	</section>

	<h2>Federal Assistance Resources</h2>
	<section>
		<ul>
			<li>
				<a class="usa-link" href="">Chief Financial Officers Council Grants Training</a>.  Basic knowledge training modules on grants and cooperative agreements for Federal officials.
			</li>
			<li>
				<a class="usa-link" href="">Grants.gov Learning Center</a>. Learn and navigate the step-by-step process of the grants lifecycle, from online application through post-award.
			</li>
			<li>
				<a class="usa-link" href="">Benefits.gov Benefit Finder</a>. Connect to this benefits.gov tool to find government benefit information and determine your eligibility.
			</li>
			<li>
				<a class="usa-link" href="">USA.gov</a>. Government Benefits, Grants, and Loans. All you need to know about affordable housing, grants, and loans on USA.gov.
			</li>
		</ul>
	</section>
</div>
