<display-section title="Business Information" id="business-information">
	<display-subsection>
		<div class="display-row">
			<div class="display-col">
				<display-field label="Doing Business As">State Dairy Co-Op</display-field>
			</div>
			<div class="display-col">
				<display-field label="Division Name">(blank)</display-field>
			</div>
			<div class="display-col">
				<display-field label="State/Country of Incorporation">UNITED STATES</display-field>
			</div>
		</div>
		<div class="display-row">
			<div class="display-col">
				<display-field label="URL"><a href="https://www.statedairy.org">statedairy.org</a></display-field>
			</div>
			<div class="display-col">
				<display-field label="Division Number">(blank)</display-field>
			</div>
			<div class="display-col">
				<display-field label="Congressional District">VIRGINIA 10</display-field>
			</div>
		</div>
	</display-subsection>
	<display-subsection title="Registration Dates">
		<div class="display-row">
			<div class="display-col">
				<display-field label="Activation Date">Mar 21, 2021</display-field>
			</div>
			<div class="display-col">
				<display-field label="Initial Registration Date">May 12, 2002</display-field>
			</div>
			<div class="display-col">
				<display-field label="Submission Date">Mar 20, 2021</display-field>
			</div>
		</div>
	</display-subsection>
	<display-subsection title="Entity Dates">
		<div class="display-row">
			<div class="display-col">
				<display-field label="Entity Start Date">Jan 6, 1987</display-field>
			</div>
			<div class="display-col">
				<display-field label="Fiscal Year End Close Date">Dec 31</display-field>
			</div>
		</div>		
	</display-subsection>
	<display-subsection title="Immediate Owner">
		<div class="display-row">
			<div class="display-col">
				<display-field label="CAGE">(blank)</display-field>
			</div>
			<div class="display-col">
				<display-field label="Legal Business Name">(blank)</display-field>
			</div>
		</div>	
	</display-subsection>
	<display-subsection title="Highest Level Owner">
		<div class="display-row">
			<div class="display-col">
				<display-field label="CAGE">(blank)</display-field>
			</div>
			<div class="display-col">
				<display-field label="Legal Business Name">(blank)</display-field>
			</div>
		</div>			
	</display-subsection>
	<display-subsection title="Executive Compensation">
		<p class="font-sans-2xs">Registrants in the System for Award Management (SAM) respond to the Executive Compensation questions in
accordance with Section 6202 of P.L. 110-252, amending the Federal Funding Accountability and Transparency
Act (P.L. 109-282). This information is not displayed in SAM. It is sent to USAspending.gov for display in
association with an eligible award. Maintaining an active registration in SAM demonstrates the registrant
responded to the questions.</p>
	</display-subsection>
</display-section>
<display-section title="Entity Types" id="entity-types">
	<display-subsection title="Business Types">
		<div class="display-row">
			<div class="display-col">
				<display-field label="Entity Structure">Corporate Entity (Tax Exempt)</display-field>
			</div>
			<div class="display-col">
				<display-field label="Entity Type">Business or Organization</display-field>
			</div>
			<div class="display-col">
				<display-field label="Organization Factors">Small Agricultural Cooperative</display-field>
			</div>
			<div class="display-col">
				<display-field label="Profit Structure">Other Not For Profit Organization</display-field>
			</div>
		</div>
	</display-subsection>
</display-section>
<display-section title="Financial Information" id="financial-information">
	<div class="display-row">
		<div class="display-col">
			<display-field label="Accepts Credit Card Payments">No</display-field>
		</div>
		<div class="display-col">
			<display-field label="Debt Subject to Offset">No</display-field>
		</div>
	</div>	
</display-section>
<display-section title="Points of Contact" id="points-of-contact">
	<display-subsection title="Electronic Business">
		<poc-card name="Mary Ellen Johns" email="maryellen.johns@statedairy.org" title="Program Manager" phone="(512) 555-1212" [address]="address3">
		</poc-card>			
	</display-subsection>
	<display-subsection title="Government Business">
		<poc-card name="Esther Williams" email="esther.williams@statedairy.org" title="Director of Development" phone="(512) 555-1212" [address]="address1">
		</poc-card>		
		<poc-card name="Jonathan Peters" email="jonathan.peters@statedairy.org" title="Program Manager" phone="(512) 555-1212" [address]="address2">
		</poc-card>	
	</display-subsection>
	
</display-section>
<display-section title="Security Information" id="security-information">
	
</display-section>