<sds-subheader>
  <!-- =============== BACK BUTTON =============== -->
  <button class="sds-button sds-button--circular" (click)="back();">
    <fa-icon [icon]="['fas', 'chevron-left']" [fixedWidth]="true"></fa-icon>
  </button>

  <!-- =============== TITLE =============== -->
  <span class="font-heading-lg text-semibold margin-right-6">
    Search Builder
  </span>

  <!-- =============== SEARCH =============== -->
  <sds-search name="keyword-search" [(ngModel)]="subheaderSearchModel" (ngModelChange)="search()" [searchSettings]="subheaderSearchSettings">
  </sds-search>
  <ng-container subheader-buttons-container>
    <ul class="sds-button-group--secondary sds-button-group--segmented">
      <li class="sds-button-group__item">
          <button class="usa-button usa-button--outline" [routerLink]="['/search']">Search</button>
      </li>
      <li class="sds-button-group__item">
          <button class="usa-button" [routerLink]="['/search/search-builder']">Search Builder</button>
      </li>
      <li class="sds-button-group__item">
          <button class="usa-button usa-button--outline" [routerLink]="['/search/saved-search']">Saved Search</button>
      </li>
    </ul>
  </ng-container>

  <!-- =============== ACTIONS BUTTONS =============== -->
  <sds-subheader-actions
    [model]="subheaderActions"
    (clicks)="log($event)">
  </sds-subheader-actions>
</sds-subheader>
<main>
  <div class="sds-page">
    <div class="grid-container">
    </div>
</div>
</main>