<sds-toolbar class="tablet:grid-col-auto" #toolbar="sdsToolbar" [expanded]="true">
  <sds-accordion>
    <sds-accordion-item [expanded]="true">
      <sds-side-navigation #sideNav [model]="sideNavModel"></sds-side-navigation>
    </sds-accordion-item>
  </sds-accordion>
</sds-toolbar>
<div class="sds-page__content tablet:grid-col-fill margin-0">
	<div class="grid-container">
		<div class="grid-row">
			<div class="grid-col-fill">
				<h3>{{service.currentAccount.info.accountName}}</h3>
			</div>
			<div class="grid-col-auto">
				<span class="sds-tag sds-tag--static sds-tag--outline-green">Active</span>
			</div>
			<div class="grid-col-auto">
				<span class="sds-tag sds-tag--static sds-tag--alt">Jun 10, 2020</span>
			</div>
		</div>
	</div>
	<router-outlet></router-outlet>
</div> 
